.container-fluid {
	padding-right: 10px;
	padding-left: 10px;
	margin-right: auto;
	margin-left: auto
}
.row {
	margin-right: -10px;
	margin-left: -10px
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	position: relative;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px
}

button {
	border: none;
}
.btn {
	font-size: 18px;
	min-width: 110px;
}
.btn-lg {
	min-width: 220px;
}
.btn-default {
    color: #fff;
    background-color: #4c4c4c;
    border-color: #424242;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
	color: #fff;
    background-color: #333;
    border-color: #333;
}
.btn-default.disabled, .btn-default[disabled], fieldset[disabled] .btn-default, .btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus, .btn-default.disabled:active, .btn-default[disabled]:active, fieldset[disabled] .btn-default:active, .btn-default.disabled.active, .btn-default[disabled].active, fieldset[disabled] .btn-default.active {
	background-color: #4c4c4c;
	border-color: #333
}
.btn-default .badge {
	color: #fff;
	background-color: #333
}
.btn-primary {
	color: #fff;
	background-color: #00afec;
	border-color: #009cd3
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
	color: #fff;
	background-color: #00afec;
	border-color: #009cd3
}
.btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
	background-image: none
}
.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
	background-color: #00afec;
	border-color: #009cd3
}
.btn-primary .badge {
	color: #428bca;
	background-color: #fff
}
.btn-secondary {
	color: #00afec;
	background: rgba(255, 255, 255, .9);
	border-color: #00afec
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open>.dropdown-toggle.btn-secondary {
	color: #00afec;
	background-color: rgba(255, 255, 255, .9);
	border-color: #fff
}
.btn-secondary:active, .btn-secondary.active, .open>.dropdown-toggle.btn-secondary {
	background-image: none
}
.btn-secondary.disabled, .btn-secondary[disabled], fieldset[disabled] .btn-secondary, .btn-secondary.disabled:hover, .btn-secondary[disabled]:hover, fieldset[disabled] .btn-secondary:hover, .btn-secondary.disabled:focus, .btn-secondary[disabled]:focus, fieldset[disabled] .btn-secondary:focus, .btn-secondary.disabled:active, .btn-secondary[disabled]:active, fieldset[disabled] .btn-secondary:active, .btn-secondary.disabled.active, .btn-secondary[disabled].active, fieldset[disabled] .btn-secondary.active {
	background-color: #00afec;
	border-color: #009cd3
}
.btn-secondary .badge {
	color: #428bca;
	background-color: #fff
}
ul li{
	list-style: none;
	float: left;
}
ul, li{
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.875em;
}
h3 {
	font-size: 1.75em;
}
h4 {
	font-size: 1.625em;
}
h5 {
	font-size: 1.5em;
}
h6 {
	font-size: 1.25em;
}
.top-wrapper {
	background: #23a1b0  center 0 repeat-x;	
	margin: 0;
	padding: 30px 0 60px;
	font-size: 16px;
	box-sizing: border-box;
	background-size: cover;
}
.index {
	background: #29b9ee center center no-repeat;
	/* Set rules to fill background */
	min-height: 100%;
	
	/* Set up proportionate scaling */
	width: 100%;
	height: auto;
	
	/* Set up positioning */
	position: fixed;
	top: 0;
	left: 0;
	
	margin: 0;
}

/*----------------Home----------------*/
.inner-wrapper {
	width: 992px;
	margin: 0 auto;
	position: relative;
	border: 1px solid transparent;
}
.lang {
	position: absolute;
	right: 10px;
	top: 20px;
}
.begin-section {
	margin-top: 100px;
}
.begin-section div {
	margin-top: 20px;
}
.begin-section .btn-container {
	margin-top: 12px;
}
.btn-begin {
	background: url(../img/funpass/btn-begin.png) 0 0 no-repeat;
	width: 274px;
	height: 67px;
}

/*----------------attraction-list-start----------------*/
.logo {
	padding: 20px 0 15px;
}
.main-title {
	color: #fff;
	text-shadow: 1px 2px 2px rgba(0,0,0,.4);
	border-top: 1px solid rgba(255, 255, 255,.5);
	border-bottom: 1px solid rgba(255, 255, 255,.5);
	padding: 20px;
}
.main-title .highlight {
	font-size: 1.2em;
	color: #fff02a;
}
.group-selects {
	margin-top: 20px;
}
.group-selects .btn-group {
	width: 100%;
	margin: 0 0 10px;
}
.group-selects .btn-group button{
	width: 100%;
}
.btn .caret {
	margin-left: 10px;
}
.quick-link {
	margin: 20px 0;
}
.quick-link a {
	font-size: 1em;
	text-decoration: underline;
	text-shadow: 1px 1px 3px rgba(0,0,0, .2);
}
.small-subtitle {
	color: #fff;
	text-shadow: 2px 2px 4px rgba(0,0,0, .3);
}
.items-list {
	margin-top: 30px;
}
.items-list li {
	width: 20%;
	box-sizing: border-box;
}
.items-list li a {
	display: block;
	padding: 12% 0 10%;
	width: 95%;
	margin: 0 auto;
	box-sizing: border-box;
	position: relative;
}
.item-selected {
    background: url(../img/funpass/sign-selected.png) center center no-repeat;
    background-size: 90%;
    display: block;
    position: absolute;
    width: 90%;
    height: 100%;
    top: 2%;
    left: 5%;
}
.item-masked {
    background: url(../img/funpass/mask.png) center center no-repeat;
    background-size: 100%;
    display: block;
    position: absolute;
    width: 90%;
    height: 100%;
    top: 2%;
    left: 5%;
}

.items-list li a.recommended {
	background: url(../img/funpass/recommended.gif) 0 0 no-repeat;
	background-size: 100%;
}
.items-list li img {
	width: 88%;
}
.selection-wrapper {
	width: 100%;
	box-sizing: border-box;
	padding: 10px 5%;
	background: rgba(0,0,0,.4);
	color: #fff;	
}
.selection {
	width: 100%;
	margin: 0 auto;
}
.selection-list li {
	position: relative;
	text-align: center;
	width: 12.5%;
	padding: 1% 0;	
}
.selection-list li img {
	width: 90%;
}
.btn-del {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 32px;
	height: 32px;
	border-radius: 16px;
	background: #fff;
	color: #333;
	text-align: center;
	line-height: 34px;
	font-size: 16px;
}
.product-details-panel .btn-del {
	top: -17px;
	right: -17px;
	width: 34px;
	height: 34px;
	font-size: 20px;
	border-radius: 17px;
}
.selected-items li {
	width: 16.66666666667%;
	padding: 1% 0;
}
.group-btn {
	text-align: center;
	margin-top: 20px;
}
.group-btn button {
	font-size: 26px;
	padding: 15px 30px;
	margin: 10px;
}
/*----------------end----------------*/

/*----------------fun pass package----------------*/
.group-list-wrapper {
	border: 2px solid rgba(255, 255, 255, .5);
	background: rgba(255, 255, 255, .2);
	position: relative;
	margin-top: 80px;
	/* padding-bottom: 20px; */
}
.group-list-wrapper .match-title-md {
	width: 100%;
	height: 71px;
	line-height: 71px;
	box-sizing: border-box;
	position: absolute;
	top: -33px;
	background:url(../img/funpass/title-bg.png) center center no-repeat;
	background-size: 789px 71px;
	margin: 0 auto;
	color: #eb212e;
}
.space {
	width: 130px;
	display: inline-block;
}
.group-list-wrapper .highlight {
	position: absolute;
	top: -20px;
	left: 700px;
	color: #fff;
	background: url(../img/funpass/value-bg.png) 0 0 no-repeat;
	background-size: 116px 116px;
	width: 116px;
	height: 116px;
	box-sizing: border-box;
	line-height: 1.2;
	font-size: 24px;
	text-align: center;
	padding-top: 20px;
}
.value {
	font-size: 34px;
}
.rotate {
	-webkit-transform: rotate(-15deg);
	-moz-transform: rotate(-15deg);
	-ms-transform: rotate(-15deg);
	-o-transform: rotate(-15deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.match-group {
	margin-top: 80px;
}

.match-group a {
    display: block;
    background: url(../img/funpass/black-bg.png) center center no-repeat;
    padding: 30px 0;
}
.match-group-selected {
	margin-top: 30px;
}

.sub-title {
    /*margin: 20px 30px 0;*/
    margin-bottom: 0;
    /*border-bottom: 1px solid rgba(255, 255, 255, .5);*/
    /*color: #fff02a ;*/
    padding: 10px 10px 15px 10px;
    text-shadow: 1px 2px 2px rgba(0,0,0, .4);
    font-size: 32px;
}
.group-list {
    text-align: center;
    background: rgba(0,0,0,.2);
    border-top: 1px solid rgba(255, 255, 255, .5);
    /*margin: 20px 20px 0;by peipei*/
}
.group-list li{
	width: 25%;
	margin: 10px 0;
}
/*--------product details-------//#fff */
.product-details-panel {
	background: rgba(255,255,255,0.3);
	padding: 15px;
	border: 1px solid rgba(255,255,255, 0.7);
	position: relative;
	color: #ffffff;
	width: 97%;
	margin: 0 auto;
}
.product-details-panel h4 {
	font-weight: normal;
}
.notification {
	background: #cc313b;
	color: #fff;
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 15px;
}
.notification h6 {
	margin: 0 0 5px 0;
	padding-bottom: 5px;
	border-bottom: 1px solid rgba(255,255,255,0.3);	
	font-weight: normal;
}
.product-details-panel button {
	width: 100%;
}
.product-title {
	min-height: 30px;
	max-height: 90px;
	overflow: hidden;
}
.product-details {
	min-height: 40px;
	max-height: 150px;
	overflow-y: auto;
	margin-bottom: 20px;
}

/*-----survey page-----*/
.survey-wrapper {
	margin: 40px 0;
}
.title-group {
	color: #ed1c24;
	padding-top: 25%;
}
.title-group h1 {
	font-size: 100px;
	font-weight: bold;
	text-shadow: 0px 3px 3px rgba(0,0,0, .2);
	margin: 0;
}
.title-group h3 {
	font-size: 40px;
	font-weight: bold;
	text-shadow: 0 3px 3px rgba(0,0,0, .2);
	margin: 0;
}
.state-img {
	padding-top: 2%;
}
.state-img img {
	text-align: center;
	margin: 0 auto;
}
.slider-vertical-attribute {
	position: absolute;
	top: 43%;
	left: 70%;
	font-size: 20px;
}
.slider-horizontal-attribute {
	margin-top: 6%;
	font-size: 20px;
}
/*------summary------*/
.summary-list {
	margin-top: 30px;
}
.summary-list li {
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 20px;
}
.summary-list table {
	height: 160px;
	border-collapse: collapse;
}
.summary-list .price {
	color: #333;
	font-size: 24px;
	text-shadow: 0 1px 1px rgba(255,255,255,.5);
}
.total-field {
	border-top: 1px solid rgba(255, 255, 255,.45);
	padding-top: 10px;
	padding-right: 40px;
	font-size: 32px;
	color: #fff02a;
	text-shadow: 1px 2px 2px rgba(0,0,0, .4);
}

@media screen and (min-width: 1400px) { 
	/*---attraction-list---*/
	.selection {
		width: 1170px;
		margin: 0 auto;
}
}

@media screen and (max-width:991px){
	.inner-wrapper {
		width: 100%;
	}
	/*---attraction-list---*/
	.items-list li {
		width: 25%;
	}
	.items-list li a {
		padding: 11% 0 8%;
		width: 86%;
		margin: 0 auto;
		box-sizing: border-box;
	}
	.items-list li img {
		width: 88%;
	}
	.selection-list li {
		position: relative;
		text-align: center;
		width: 20%;	
	}
	.selected-items li{
		width: 20%;
	}
	.group-list-wrapper {
		margin-top: 30px;
	}
	.match-title-xs {
		color: #eb212e;
		font-size: 32px;
		text-shadow: 1px 1px 2px rgba(0,0,0, .4);
		margin: 0;
		padding: 25px 15px 5px;
	}
	.match-group {
		margin-top: 25px;
	}
	.group-list li{
		width: 33.333333333%;
	}
	.group-list li img {
		width: 98%;
	}
	.state-img {
		padding-top: 11%;
	}
	.slider-vertical-attribute {
		left: 80%;
	}
	.title-group h1 {
		font-size: 90px;
	}
	.title-group h3 {
		font-size: 36px;
	}
}
@media screen and (max-width:767px){
	/*font size*/
	h1 {
	font-size: 1.75em;
	}
	h2 {
		font-size: 1.625em;
	}
	h3 {
		font-size: 1.5em;
	}
	h4 {
		font-size: 1.375em;
	}
	.quick-link a {
		font-size: 0.9em;
	}
	.match-title-xs {
		font-size: 28px;
	}
	.sub-title {
		font-size: 28px;
	}
	/*---attraction-list---*/
	.items-list li {
		width: 33.3333333333333%;
	}
	.items-list li a {
		padding: 11% 0 8%;
		width: 86%;
		margin: 0 auto;
		box-sizing: border-box;
	}
	.items-list li img {
		width: 88%;
	}
	.selection-list li {
		width: 25%;	
	}
	.selected-items li{
		width: 25%;
	}
	.group-list li {
		width: 50%
	}
	.group-list li img {
		width: 80%;
	}
	.group-btn button {
		font-size: 22px;
		width: 95%;
		white-space: normal;
	}
	.title-group {
		padding-top:0;
	}
	.title-group h1 {
		font-size: 80px;
	}
	.title-group h3 {
		font-size: 32px;
	}
	.state-img {
		padding-top: 2%;
	}
	.state-img img {
		width: 400px;
	}
	
	.match-group a {
	    display: block;
	    background: url(../img/funpass/black-bg.png) center center no-repeat;
	    background-size: 70%;
	}
}

@media screen and (max-width:479px){
	/*.wrapper {
		min-height: 736px;
	}*/
	
	/*----Home----*/
	.begin-section .logo img{
		width: 98%;
	}
	.begin-section .title img{
		width: 70%;
	}
	.btn-begin {
		background-size: 82%;
		background-position: center center;
	}
	.main-title {
		padding: 15px;
		font-size: 1.4em;
		line-height: 1.2;
	}
	.logo {
		padding: 0 0 10px;
	}
	.match-title-xs {
		font-size: 24px;
	}
	.sub-title {
		font-size: 24px;
	}
	/*---attraction-list---*/
	.items-list li {
		width: 50%;
	}
	.items-list li a {
		padding: 11% 0 8%;
		width: 90%;
		margin: 0 auto;
		box-sizing: border-box;
	}
	.items-list li img {
		width: normal
	}
	.selection-list li {
		width: 33.3333333333333%;	
	}
	.group-list li img {
		width: 90%;
	}
	.match-group img {
		width: 85%;
	}
	.match-group-selected img {
		width: 85%;
	}
	.state-img img {
		width: 95%;
	}
	.group-btn button {
		font-size: 20px;
	}
}

@media screen and (max-width:400px){
	.index {
		padding: 20px 0;
	}
	/*.wrapper {
		min-height: 640px;
	}*/
	.begin-section {
		margin-top: 80px;
	}
	.lang {
		top: 0;
	}
	.logo img {
		width: 95%;
		margin: 0 auto;
	}
	.main-title {
		padding: 10px 15px;
	}
	.survey-wrapper {
		margin: 25px 0;
	}
	.title-group h1 {
		font-size: 62px;
	}
	.title-group h3 {
		font-size: 26px;
	}
}
.title-color {
	color:#292929;
}

.title-group p {
	text-shadow: 0 3px 3px rgba(0,0,0, .2);
	margin: 0;
}

.title-group p strong {
	text-shadow: 0px 3px 3px rgba(0,0,0, .2);
	margin: 0;
}
.spinner-overlay {
	position: fixed;
	left: 0px;
	top: 0px;
	width:100%;
	height:100%;
	text-align: center;
	z-index: 9999999;
	overflow: auto;
	background: rgb(0, 0, 0) transparent;
	background: rgba(0, 0, 0, 0.6);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}
html,body {
	height: 100%;
	margin: 0px;
	padding: 0px;
}
.top-wrapper {
	min-height: 100%;
	background-size: cover;
}
p {
	margin: 0 0 0px;
}
.k-tooltip{
	display:none;
}

.descrow ul{
	display: block;
	list-style-type: disc;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
}

.descrow ul li {
	display: list-item;
	text-align: -webkit-match-parent;
	list-style: disc;
	width: inherit;
	box-sizing: inherit;
}

.btn-red {
	color: #fff;
	background-color: #EC0000;
	border-color: #D30000;
}
.btn-red:hover {
	color: #fff;
	background-color: #EC0000;
	border-color: #D30000;
}
.broswerTip{
	text-align: center;
	margin-top: 10%;
	font-weight:bold;
}

.items-list li a.recommended {
	background: url(../img/funpass/logo/recommended-en.gif) 0 0 no-repeat;
	background-size: 100%;
}