.k-button {
	display: none;
}
.k-draghandle {
	width: 78px!important;
	height: 78px!important;
	border-radius: 45px;
	border: 4px solid #ee1c25;
	box-sizing: border-box;
	color: #333!important;
}
.k-slider-items {
	display: none;
}

/*---------Horizontal Slider---------*/

.slider-horizontal-wrapper {
	padding: 20px 0;
    height: 160px;
	position: relative;
}

.k-slider-horizontal {
	width: 84%!important;
	margin: 0 auto;
	height: 60px;
	left: 0!important;
}
.k-slider-horizontal .k-slider-track {
	background: rgba(253,208,8,1);
	background: -moz-linear-gradient(left, rgba(253,208,8,1) 0%, rgba(253,208,8,1) 33%, rgba(255,124,9,1) 33%, rgba(255,124,9,1) 66%, rgba(238,28,39,1) 66%, rgba(238,28,39,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(253,208,8,1)), color-stop(33%, rgba(253,208,8,1)), color-stop(33%, rgba(255,124,9,1)), color-stop(66%, rgba(255,124,9,1)), color-stop(63%, rgba(238,28,39,1)), color-stop(100%, rgba(238,28,39,1)));
	background: -webkit-linear-gradient(left, rgba(253,208,8,1) 0%, rgba(253,208,8,1) 33%, rgba(255,124,9,1) 33%, rgba(255,124,9,1) 66%, rgba(238,28,39,1) 66%, rgba(238,28,39,1) 100%);
	background: -o-linear-gradient(left, rgba(253,208,8,1) 0%, rgba(253,208,8,1) 33%, rgba(255,124,9,1) 33%, rgba(255,124,9,1) 66%, rgba(238,28,39,1) 66%, rgba(238,28,39,1) 100%);
	background: -ms-linear-gradient(left, rgba(253,208,8,1) 0%, rgba(253,208,8,1) 33%, rgba(255,124,9,1) 33%, rgba(255,124,9,1) 66%, rgba(238,28,39,1) 66%, rgba(238,28,39,1) 100%);
	background: linear-gradient(to right, rgba(253,208,8,1) 0%, rgba(253,208,8,1) 33%, rgba(255,124,9,1) 33%, rgba(255,124,9,1) 66%, rgba(238,28,39,1) 66%, rgba(238,28,39,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdd008', endColorstr='#ee1c27', GradientType=1 );
	width: 100%!important;
	border: 4px solid #fff;
	border-radius: 20px;
	height: 30px!important;
	left: 0!important;
	
}
 .k-slider-horizontal .k-slider-selection {
	height: 30px!important;
	top: 0;
	margin-top: 0;
	background: transparent;
	width: 100%!important;
	}


.k-slider-horizontal .k-draghandle {
	top: -24px;
	box-shadow: 0 3px 3px rgba(0,0,0, .4);
}

/*---------Vertical Slider---------*/

.slider-vertical-wrapper {
	padding: 20px 30px;
    height: 390px;
	position: relative;
	padding-left: 45%;
}
.k-slider-vertical .k-slider-track {
	background: rgba(253,208,8,1);
	background: -moz-linear-gradient(bottom, rgba(253,208,8,1) 0%, rgba(253,208,8,1) 33%, rgba(255,124,9,1) 33%, rgba(255,124,9,1) 66%, rgba(238,28,39,1) 66%, rgba(238,28,39,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(253,208,8,1)), color-stop(33%, rgba(253,208,8,1)), color-stop(33%, rgba(255,124,9,1)), color-stop(66%, rgba(255,124,9,1)), color-stop(66%, rgba(238,28,39,1)), color-stop(100%, rgba(238,28,39,1)));
	background: -webkit-linear-gradient(bottom, rgba(253,208,8,1) 0%, rgba(253,208,8,1) 33%, rgba(255,124,9,1) 33%, rgba(255,124,9,1) 66%, rgba(238,28,39,1) 66%, rgba(238,28,39,1) 100%);
	background: -o-linear-gradient(bottom, rgba(253,208,8,1) 0%, rgba(253,208,8,1) 33%, rgba(255,124,9,1) 33%, rgba(255,124,9,1) 66%, rgba(238,28,39,1) 66%, rgba(238,28,39,1) 100%);
	background: -ms-linear-gradient(bottom, rgba(253,208,8,1) 0%, rgba(253,208,8,1) 33%, rgba(255,124,9,1) 33%, rgba(255,124,9,1) 66%, rgba(238,28,39,1) 66%, rgba(238,28,39,1) 100%);
	background: linear-gradient(to top, rgba(253,208,8,1) 0%, rgba(253,208,8,1) 33%, rgba(255,124,9,1) 33%, rgba(255,124,9,1) 66%, rgba(238,28,39,1) 66%, rgba(238,28,39,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdd008', endColorstr='#ee1c27', GradientType=1 );
	width: 30px;
	border: 4px solid #fff;
	border-radius: 20px;
	height: 340px!important;
	left: 0;
	top: 0;	
}

 .k-slider-vertical .k-slider-selection {
	width: 30px!important;
	left: 0;
	margin-left: 0;
	background: transparent;
	height: 340px!important;	
	}

.k-slider-vertical .k-draghandle {
	left: -24px;
	box-shadow: 0 3px 3px rgba(0,0,0, .4);
}

@media screen and (max-width: 840px) and (min-width:768px){
	.k-draghandle {
		width: 66px!important;
		height: 66px!important;
		border-radius: 33px;
	}
	.slider-vertical-wrapper {
		padding: 20px 30px;
		height: 350px;
		position: relative;
	}
	.k-slider-vertical .k-slider-track {
		width: 26px;
		border: 4px solid #fff;
		border-radius: 20px;
		height: 300px!important;
	}
	.k-slider-vertical .k-slider-selection {
		width: 26px!important;
		height: 300px!important;	
		}
	
	.k-slider-vertical .k-draghandle {
		left: -20px;
		box-shadow: 0 3px 3px rgba(0,0,0, .4);
	}
}
@media screen and (max-width: 400px){
	.k-draghandle {
		width: 60px!important;
		height: 60px!important;
		border-radius: 30px;
	}
	
	.k-slider-horizontal .k-draghandle {
		top: -17px;
	}
	.k-slider-horizontal .k-slider-track {
		height: 26px;
	}
	.k-slider-horizontal .k-slider-selection {
		height: 26px!important;
	}
}