@font-face {
    font-family: 'harabara';
    src: url('../fonts/harabara.ttf')  format('truetype');
}

@font-face {
    font-family: 'STHeiti';
    src: url('../fonts/STHeiti.ttf') format('truetype'); /* Super Modern Browsers */
}