@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-Regular.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-Semibold.ttf') format('truetype');
    font-weight: 600;
}
@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-Bold.ttf') format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: 'STHeiti';
    src: url('../fonts/STHeiti.ttf') format('truetype'); /* Super Modern Browsers */
}
body {
    width: 1280px;
    height: 1024px;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    color: #231f20;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: url(../images/bg.jpg) 0 0 no-repeat;
}
.error-container {
    background: url(../images/error-bg.png) 0 0 no-repeat;
    font-family: 'Myriad Pro', 'STHeiti', Helvetica Neue, Helvetica, sans-serif;
    width: 1280px;
    height: 1024px;
    position: relative;
    z-index: 99;
}
.error-content {
    position: absolute;
    box-sizing: border-box;
    z-index: 10;
    width: 730px;
    height: 380px;
    top: 410px;
    left: 285px;
    text-align: center;
    padding-top: 30px;
}
.error-content h1 {
    font-size: 32px;
    font-weight: normal;
    line-height: 1.2;
}
.btn-error{
    border: 4px solid #1b8813;
    background-color: #53af32;
    color: #fff;
    text-shadow: 0 3px 0 rgba(0,0,0,0.2);
    min-width: 250px;
    height: 56px;
    padding: 0 30px;
    border-radius: 28px;
    box-shadow: 0 6px 0 rgba(0,0,0,0.1);
    font-size: 24px;
    margin-top: 15px;
    font-family: 'Myriad Pro', 'STHeiti', Helvetica Neue, Helvetica, sans-serif;
}