
@font-face {
	font-family: 'STHeiti';
	src: url('../fonts/STHeiti.ttf') format('truetype'); /* Super Modern Browsers */
}

@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MyriadPro-Regular.ttf') format('truetype');
	font-weight: normal;
}
@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MyriadPro-Semibold.ttf') format('truetype');
	font-weight: 600;
}
@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MyriadPro-Bold.ttf') format('truetype');
	font-weight: bold;
}