/* Product List & Search */
/*.product-list .caption-title {
    font-size: 18px!important;
}*/
.product-list .caption-description {
    font-size: 16px!important;
}
/* Product Information */
.alert-section h3 {
    font-size: 22px!important;
}
.alert-section p {
    font-size: 18px!important;
}
.tix-container .discription-title {
    font-size: 26px!important;
}
.tix-container .description {
    font-size: 18px!important;
}
.tix-container .main-info .info-element {
    font-size: 18px!important;
}
.tix-container .main-info .info-element .label {
    font-size: 20px!important;
}
.tix-container .more-info button {
    font-size: 16px!important;
}
/* Pop Up More Information & Pop Up Terms And Conditions */
.dialog-ct .py-hg-sm {
}
.dialog-ct section {
    font-size: 18px!important;
}
/* General/Recurring/Event Tickets & Top Up & Fun Cart & Summary */
.ticket-container .table-title td {
    font-size: 20px!important;
}
/* General/Recurring/Event Tickets & Top Up */
.tab-content-container .table-content td {
    font-size: 18px!important;
}
.tab-content-container .table-content td.product-title {
    font-size: 20px!important;
}
.tab-content-container .table-content td.product-dn {
    font-size: 18px!important;
}
.tab-content-container .table-content td.product-price {
    /* font-weight: normal!important; */
}
.notes-container h3 {
    font-size: 22px!important;
}
.notes-container .notes {
    font-size: 18px!important;
}
/* Recurring/Event Tickets */
/*
.date-visit span {
    font-size: 18px!important;
}
*/
/* Fun Cart & Summary */
.tab-content-container .table-content-cart .cart-title .product-title {
    font-size: 24px!important;
}
.tab-content-container .table-content-cart .cart-list td {
    font-size: 20px!important;
}
.tab-content-container .table-content-cart .cart-list td .tix-type {
    font-size: 17px!important;
}
/* Fun Cart */
.btn-edit {
    font-size:18px!important;
}
/* Summary */
.btn-container input {
    font-size:18px!important;
}
.btn-container span {
    font-size:18px!important;
}
.btn-container button {
    font-size:18px!important;
}
