
ul {
	padding: 0;
	margin: 0;
}
ul li {
	list-style: none;
}
.clearfix {
	clear: both;
}
b, strong {
	font-weight: 600;
}


/*button*/
button {
	font-family: 'Myriad Pro', 'STHeiti', Helvetica Neue, Helvetica, sans-serif;
	font-weight: 600;
	outline: none;
	background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.05));
}
.btn-primary{
	border: 1px solid #c52a81;
	background-color: #ed2e99;
	color: #fff;
}
.btn-secondary {
	border: 1px solid #0069b3;
	background-color: #008bdd;
	color: #fff;
}
.btn-secondary-1 {
	border: 1px solid #015193;
	background-color: #1367ad;
	color: #fff;
	font-size: 22px;
	border-radius: 8px;
	padding: 10px 25px;
	box-sizing: border-box;
	box-shadow: 0 2px 2px rgba(0,0,0,0.12);
}
.btn-third {
	border: 1px solid #d4d4d4;
	background-color: #fff;
	color: #333!important;
	/*	text-shadow: 0 2px 0 rgba(0,0,0,0.1);*/
}
.btn-forth {
	border: 3px solid #b19e53;
	background-color: #fff;
	color: #333;
}
/**
.btn-fifth {
	border: 1px solid #d7c684;
	background-color: #fff;
	color: #333;
	height: 38px;
	border-radius: 4px;
	font-size: 14px;
	padding: 5px 15px;
	box-shadow: 0 2px 2px rgba(0,0,0,0.1);
}**/

.btn-fifth {
	/* border: 3px solid #b19e53; */
	background-color: #fff;
	/* color: #333; */
	/* height: 38px; */
	border-radius: 4px;
	/* font-size: 14px; */
	/* padding: 5px 15px; */
	/* box-shadow: 0 6px 0 rgba(0,0,0,0.1); */
}

.btn-six {
	background: #fff;
	height: 38px;
	line-height: 38px;
	padding: 0 15px!important;
	box-sizing: border-box;
	border-radius: 4px;
	border: none;
	font-size: 18px;
	min-width: 110px;
	overflow: hidden;
}


.btn-selected {
	box-shadow: inset 0 4px 0 rgba(0,0,0,0.2);
	background-color: #502e00;
	color: #fff;
}
.btn-exit{
	border: 1px solid #a7191b;
	background-color: #cc1e21;
	color: #fff;
}
.btn-edit {
	border: 1px solid #1ba1d8;
	border-radius: 4px;
	background-color: #53c5f4;
	font-size: 16px;
	color: #fff;
	padding: 6px 15px!important;
	box-shadow: 0 2px 2px rgba(0,0,0,0.12)!important;
	font-family: 'Myriad Pro', 'STHeiti', Helvetica Neue, Helvetica, sans-serif;
}
.btn-disabled {
	border: 4px solid #bfbfbf;
	background-color: #e0e0e0;
	color: #fff;
	text-shadow: 0 3px 0 rgba(0,0,0,0.2);
}
.btn-num {
	width: 46px;
	height: 44px;
	box-shadow: 0 2px 2px rgba(0,0,0,0.1);
	padding: 6px 0 0 0;
	margin: 2px 0 3px;
	box-sizing: border-box;
	border-radius: 4px;
}
.btn-active {
	background-color: #1367ad!important;
	border: 1px solid #015193;
}
.btn-inactive {
	background-color: #d9d9d9!important;
	border: 1px solid #cccccc;
}

.icon-plus {
	background: url(../images/icon-plus.png) center center no-repeat;
}
.icon-minus {
	background: url(../images/icon-minus.png) center center no-repeat;
}
.icon-expand {
	background: url(../images/icon-expand.png) 98% center no-repeat;
}
.icon-collapse {
	background: url(../images/icon-collapse.png) 98% center no-repeat;
}
.btn {
	box-sizing: border-box;
	box-shadow: 0 2px 2px rgba(0,0,0,0.12);
	text-align: center;
	padding-left: 25px;
	padding-right: 25px;
}

.btn-sm {
	width: 384px;
	border-radius: 8px;
	height: 82px;
	font-size: 40px;
}
.btn-md {
	min-width: 210px!important;
	border-radius: 8px;
	font-size: 26px;
	padding: 13px 25px;
}
.btn-lg {
	width: 735px;
	height: 100px;
	border-radius: 50px;
	font-size: 52px;
}
.btn-xs {
	min-width: 120px!important;
	border-radius: 8px;
	font-size: 26px;
	padding: 13px 25px;
}
.btn-xxs {
	min-width: 120px!important;
	border-radius: 8px;
	font-size: 22px;
	padding: 10px 25px;
}
.group-btn {
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 45px!important;
}
.group-inner-btn {
	width: 100%;
	text-align: center;
	margin-top: 30px;
}
.group-btn button {
	margin-left: 10px;
	margin-right: 10px;
}
.group-inner-btn button {
	margin-left: 10px;
	margin-right: 10px;
}
.keypad-group {
	margin-top: 0;
}
.keypad-group button {
	font-size: 24px!important;
}
.btn-exit-container {
	position: absolute;
	bottom: 45px!important;
	left: 45px!important;
}

/* heading*/

.primary-heading {
	text-align: center;
	color: #ed2e99;
	font-family:'Myriad Pro', 'STHeiti', Helvetica Neue, Helvetica, sans-serif;
	font-weight: 600!important;
	line-height: 1.1;
}
.primary-heading-1 {
	font-family: 'Myriad Pro', 'STHeiti', Helvetica Neue, Helvetica, sans-serif;
	font-size: 40px;
	margin-bottom: 10px;
	color: white;
	margin-top: 35px;/*0.67*/
	text-shadow: 0px 1px 3px  rgba(0, 0, 0, .4);
}
.py-hg-lg {
	font-size: 46px;
}
.py-hg-md {
	font-size: 40px;
}
.py-hg-sm {
	font-size: 30px;
}
.secondary-heading {
	text-align: center;
	color: #333;
	font-family:'Myriad Pro', 'STHeiti', Helvetica Neue, Helvetica, sans-serif;
	font-weight: 600;
}
.sy-hg-lg {
	font-size: 40px;
}
.sy-hg-md {
	font-size: 34px;
}
.sy-hg-sm {
	font-size: 30px;
}
.third-heading {
	text-align: center;
	font-size: 28px;
	color: #333;
	font-family: 'Myriad Pro', 'STHeiti', Helvetica Neue, Helvetica, sans-serif;
}
.forth-heading {
	font-size: 24px;
	font-family: 'Myriad Pro', 'STHeiti', Helvetica, sans-serif;
	line-height: 1.4;
}
.success-heading {
	color: #50af31;
	font-size: 46px;
	text-align: center;
	font-family: 'Myriad Pro', 'STHeiti', Helvetica Neue, Helvetica, sans-serif;
}
.error-heading {
	color: #ed1c24;
	font-size: 32px;
	text-align: center;
	font-family: 'Myriad Pro', 'STHeiti', Helvetica Neue, Helvetica, sans-serif;
	line-height: 1.3;
	font-weight: bold;
}
.er-hg-sm {
	font-size: 26px!important;
}
.grey-heading {
	color: #e0e0e0;
	font-size: 50px;
	text-align: left;
	font-family: 'Myriad Pro', 'STHeiti', Helvetica Neue, Helvetica, sans-serif;
	margin: 0 0 10px;
}
.error-message {
	font-size: 24px;
	line-height: 1.4;
}
.warning-text {
	color: #ed1c24;
}
.success-text {
	color: #53af32;
}
.warining-message {
	margin-top: 15px;
	border-radius: 8px;
	font-size: 18px;
	font-weight: bold;
	border: 1px solid #ffc601;
	background: #fff7ca url(../images/icon-warning.png) 15px center no-repeat;
	padding-left: 70px;
	padding-right: 10px;
}
.warining-message p {
	margin-top: 15px;
	margin-bottom: 15px;
}

.center {
	text-align: center;
}
.left {
	text-align: left;
}