.main-menu .menu-category-0 {
    top: 200px;
    left: 250px;
    color: #2791d8;
}

.main-menu .menu-category-1 {
    top: 208px;
    left: 0;
    color: #2791d8;
}

.main-menu .menu-category-2 {
    top: 208px;
    right: 0;
    color: #e61927;
}
.main-menu .menu-category-3 {
    width: 360px;
    top: 110px;
    left: 270px;
    color: #ed008c;
}

.main-menu .menu-category-4 {
    top: 450px;
    left: 300px;
    color: #833596;
}

.main-menu .menu-category-5 {
    top: 100px;
    left: 0;
}

.main-menu .menu-category-6 {
    top: 100px;
    right: 0;
}

.main-menu .menu-category-7 {
    top: 400px;
    left: 0;
}

.main-menu .menu-category-8 {
    top: 400px;
    right: 0;
}


.sidebar-list .menu-1.selected {
    background-color: #442a00;
    color: #fff;
}
.sidebar-list .menu-2.selected {
    background-color: #442a00;
    color: #fff;
}
.sidebar-list .menu-3.selected {
    background-color: #442a00;
    color: #fff;
}
.sidebar-list .menu-4.selected {
    background-color: #442a00;
    color: #fff;
}
.sidebar-list .menu-5.selected {
    background-color: #442a00;
    color: #fff;
}
.sidebar-list .menu-6.selected {
    background-color: #442a00;
    color: #fff;
}


/** signature**/

.signature {
	width: 930px;
	height: 540px;
	border-radius: 10px 10px 0 0;
	border: solid 3px #e6e6e6;
}


.canvas-box {
	padding: 0;
	margin: 0;
	list-style: none;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	justify-content: center;
}

.canvas-content {
	width: 930px;
	height: 95px;
	border-radius: 0 0 10px 10px;
	border-left: solid 3px #e6e6e6;
	border-right: solid 3px #e6e6e6;
	border-bottom: solid 3px #e6e6e6;
	background-color: #f2f2f2;
	padding-top: 20px;
}

.canvas-clear {
	width: 400px;
	height: 95px;
	position: relative;
  	top: 50%;
	transform: perspective(1px) translateY(-50%);
	float: left;
	text-align:left;
	padding-left: 50px;
}

.canvas-done {
	width: 400px;
	height: 95px;
	position: relative;
  	top: 50%;
	transform: perspective(1px) translateY(-50%);
	float: left;
	text-align:right;
}