body {
	font-family: 'Myriad Pro', 'STHeiti', Helvetica Neue, Helvetica, sans-serif;
	background: url(../images/bg.jpg) 0 0 no-repeat;
	width: 1280px;
	height: 1024px;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #333;
	overflow: hidden;
}
input[type="text"], input[type="password"] {
	font-family:'Myriad Pro', 'STHeiti', Helvetica Neue, Helvetica, sans-serif;
	font-weight: normal!important;
}
.box-wrapper {
	display: flex;
}
.center-center {
	align-items: center;
	justify-content: center;
}
.top-center {
	align-items: flex-start;
	justify-content: center;
}
.center-left {
	align-items: center;
	justify-content: flex-start;
}
.center-right {
	align-items: center;
	justify-content: flex-end;
}
header {
	position: relative;
	z-index: 20!important;
	border: 1px solid transparent;
}
.logo {
	position: absolute;
	display: block;
	top: -1px;
	left: -1px;
	width: 324px;
	height: 151px;
	background: url(../images/logo.png) 0 0  no-repeat;
	border: none;
	z-index: 99!important;
}

/* Header nav start*/
header nav {
	position: absolute;
	top: 0;
	left: 335px;
	height: 100px;
	padding-top: 10px;
	box-sizing: border-box;
}
header nav ul {
	list-style: none;
}
header nav ul  li {
	display: inline;
	margin: 0 5px;
}
header nav button {
	font-size: 14px;
	color: #fff;
	width: 89px;
	height: 89px;
	display: inline-block;
	text-align: center;
	box-sizing: border-box;
	padding: 35px 0 0 0;
	border: none;
}
header nav .btn-home {
	background: url(../images/btn-home.png) 0 0 no-repeat;
}
header nav .btn-search {
	background: url(../images/btn-search.png) 0 0 no-repeat;
}
header nav .btn-lang {
	background: url(../images/btn-language.png) 0 0 no-repeat;
}
.btn-home:focus {
	box-shadow: none;
}
/* Header nav end*/

.date-time {
	font-size: 18px;
	width: 1280px;
	color: #000;
	text-align: center;
	padding-top: 60px;
	font-weight: 400;
	padding-left: 140px;
}

/* Fun Cart Start*/
.fun-box-container {
	position: absolute;
	top: 0;
	right: 0;
}
.fun-box-container .left-bubble {
	position: absolute;
	right: 192px;
	top: -2px;
	display: none;
}
.fun-box-container .right-bubble {
	position: absolute;
	right: -2px;
	top: 70px;
	display: none;
}
.funbox-logo {
	display: none;
}
.clearcart-container {
	display: flex;
	z-index: 99;
	position: absolute;
	right: 19px;
	top: 4px;
}
.clearcart-container .btn-clearcart {
	display: block;
	color: #fff;
	font-size: 16px;
	text-align: center;
	width: 85px;
	height: 82px;
	background: url(../images/btn-clear.png) 0 0 no-repeat;
	font-weight: bold;
	border: none;
}
.container {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 10px;
	right: 95px;
	z-index: 98;
	display: flex;
	box-sizing: border-box;
}
.fun-box {
	width: 87px;
	height: 99px;
	text-align: center;
	box-sizing: border-box;
	background: url(../images/cart-bg.png) 0 0 no-repeat;
}
.move {
	-webkit-animation: mymove 0.8s ease-in-out 0s 1; /* Chrome, Safari, Opera */
	animation: mymove 0.8s ease-in-out 0s 1;
}
.fun-box .items {
	display: block;
	width: 44px;
	height: 36px;
	margin: 44px 0 10px 20px;
	background: url(../images/icon-cart.png) 0 0 no-repeat;
	position: relative;

}
.fun-box .items span {
	display: inline-block;
	position: absolute;
	top: -11px;
	left: 16px;
	background-size: contain;
	box-sizing: border-box ;
	font-size: 18px;
	color: #1a1a1a;
	background-color: #f7e900;
	width: 36px;
	height: 26px;
	line-height: 28px;
	border-radius: 14px;
	text-align: center;
	font-family: 'Myriad Pro','STHeiti', Helvetica, sans-serif;
	font-weight: bold;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
	0% {
		transform: scale(1);
	}
	20% {
		transform: scale(1.4);
	}
	40% {
		transform: scale(0.7);
	}
	60% {
		transform: scale(1);
	}
	80% {
		transform: scale(0.9);
	}
	100% {
		transform: scale(1);
	}
}

/* Standard syntax */
@keyframes mymove {
	0% {
		transform: scale(1);
	}
	20% {
		transform: scale(1.4);
	}
	40% {
		transform: scale(0.7);
	}
	60% {
		transform: scale(1);
	}
	80% {
		transform: scale(0.9);
	}
	100% {
		transform: scale(1);
	}
}
/* Fun Cart End*/


/*Home Menu*/
.main-menu {
	color: #fff;
	width: 700px;
	height: 460px;
	margin: 0 auto;
	position: relative;
	text-align: center;
}
.main-menu .menu-icon {
	display: block;
	text-align: center;
	width: 240px;
	position: absolute;
	font-size: 24px;
	font-weight: bold;
	text-decoration: none;
	text-shadow:
			2px 2px 2px #fff,
			2px 2px 2px #fff,
			2px 2px 2px #fff,
			2px 2px 2px #fff;

}
.main-menu .menu-icon .menu-title {
	display: inline-block;
	margin-top: 5px;
	text-transform: uppercase;
}
.main-menu .menu-icon img {
	display: block;
	margin: 0 auto;
	width: 180px;
	height: 180px;
}
.main-menu .top-item {
	top: 0;
	left: 310px;
	color: #ed008c;
}
.main-menu .left-item {
	top: 120px;
	left: 0;
	color: #ed2e99;
}
.main-menu .bottom-item {
	top: 300px;
	left: 310px;
	color: #833596;
}
.main-menu .right-item {
	top: 120px;
	right: 0;
	color: #0070b9;
}

h1.first-heading {
	font-family: 'Myriad Pro', 'STHeiti', Helvetica Neue, Helvetica, sans-serif;
	font-size: 48px;
	background:url(../images/heading-bg.png) 0 0 no-repeat;
	width: 1200px;
	height: 118px;
	box-sizing: border-box;
	color: #000;
	font-weight: 600;
	margin: 80px auto 0;
	text-align: center;
	padding-top: 15px;
}
h1.first-heading span {
	display: block;
	font-size: 20px;
	font-weight: normal;
}
/*Home Menu end*/
/*Home bottom Barcode Start*/
.bottom-barcode {
	width: 1280px;
	text-align: center;
	box-sizing: border-box;
	padding-top: 30px;
}
.bottom-barcode h3 {
	font-weight: bold;
	color: #fff;
	margin-bottom: 20px;
	text-shadow: 0 2px 2px rgba(0,0,0, 0.4);
}
.bottom-barcode button{
	text-align: right;
	padding-left: 40px;
	padding-right: 40px;
	background: #fff url(../images/barcode/bg-barcode.png) 40px 11px no-repeat;
	color: #ed2e99;
	border: 4px solid #ed2e99;
	box-shadow: 0px 4px 0 rgba(0,0,0, 0.1);
}
/*Home bottom Barcode End*/

/*----------------------------Main Content Start----------------------------*/
.main-wrapper {
	/*background: url(../images/wave-bg.png) 0 0 no-repeat;*/
	background-color: #fff;
	width: 1240px;
	height: 870px;
	box-sizing: border-box;
	position: absolute;
	top: 134px;
	left: 20px;
	border-radius: 12px;
}
.main-wrapper h1 {
	margin-top: 45px;
	/*margin-bottom: 50px;*/
}
.se-barcode {
	padding-top: 20px;
}
.se-barcode li {
	float: left;
	width: 490px;
	height: 510px;
	border: 1px solid #ccc;
	border-radius: 8px;
	margin: 0 25px;
	text-align: center;
	padding-top: 20px;
	box-shadow: 0 2px 8px rgba(0,0,0,0.1);
	background: #fff;
}
.se-barcode li button {
	margin: 30px 0 56px;
}
.barcode-field {
	width: 566px;
	height: 76px;
	box-sizing: border-box;
	border: 4px solid #ed2e99;
	font-size: 32px;
	padding-left: 20px;
	padding-right: 20px;
	box-shadow: inset 0 4px 0px rgba(0,0,0,.1);
	font-weight: bold;
}
.inner-wrapper {
	padding-top: 40px;
}
.inner-wrapper li {
	float: left;
	width: 750px /*449px*/;
	height: 420px/*416px*/;
	margin: 0 25px;
	text-align: center;
	box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
/*---------------Keyboard Start----------------*/

.keyboard-container {
	position: absolute;
	box-sizing: border-box;
	left: 0;
	bottom: 0;
	z-index: 99;
	width: 1280px;
	padding: 30px 85px 20px;
	margin: 0 auto;
}
.keyboard-content {
	background-color: #fff!important;
	box-sizing: border-box;
	bottom: 50px;
	width: 100%;
	height: 425px;
	margin: 0 auto;
	border: 3px solid #aaa;
	border-radius: 22px;
	box-shadow: 0 12px 70px rgba(0,0,0,0.4);
	padding: 25px;
	position: relative;
}
.keyboard-content .btn-close button{
	background: url(../images/btn-close.png) 0 0 no-repeat;
	width: 52px;
	height: 52px;
	border: none;
	position: absolute;
	top: -25px;
	right: -25px;
}
.keyboard-content li{
	margin: 6px!important;
	float: left;
}
.character-side {
	float: left;
}
.num-side {
	float: left;
	width: 260px;
	box-sizing: border-box;
	padding: 0 0 0 40px;
}
.keypad-dialog {
	/*background:url(../images/keypad-bg.png) 0 0 no-repeat;*/
	background-color: #fff;
	box-sizing: border-box;
	position: absolute;
	top: 68px;
	width: 395px;
	height: 335px;
	border: 4px solid #ed2e99;
	border-radius: 22px;
	z-index: 100;
	right: 30px;
	box-shadow: 0 5px 32px rgba(0,0,0,0.5);
	/*	padding: 52px;*/

}
.keypad-dialog .arrow-up {
	width: 0;
	height: 0;
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	border-bottom: 16px solid #ed2e99;
	margin-top: -20px;
	position: absolute;
	left: 270px;
}
.keypad-dialog h2 {
	text-align: center;
	color: #fff;
	font-size: 20px;
	background-color: #ed2e99;
	margin: 0;
	padding: 18px;
	text-transform: uppercase;
	border-top-left-radius: 14px;
	border-top-right-radius: 14px;
	border: 1px solid #ed2e99;
	box-sizing: border-box;
}
.keypad-controller {
	margin: 0;
	padding: 18px 18px 20px;
}
.keypad-controller li {
	float: left;
	margin: 8px!important;
	width: 54px!important;
	height: 54px!important;
}
.keypad-controller li button {
	width: 54px!important;
	height: 54px!important;
	padding: 0;
	margin: 0;
	font-size: 28px;
	background-color: #fff;
	color: #333;
	border: 1px solid #d0d0d0;
	text-align: center;
	box-shadow: 0 2px 2px rgba(0,0,0,0.15)!important;
	border-radius: 8px;
	font-family:'Myriad Pro', 'STHeiti', Arial, Helvetica, sans-serif;
	background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
	font-weight: normal;
}
/*.keypad-controller li button.selected {
	background-color: #f58220;
	box-shadow: inset 0 4px 0 rgba(0,0,0,0.1)!important;
	border: none;
	color: #fff;
}*/
.keypad-dialog .pop-action-btn {
	padding-left: 45px;
}
.keypad-dialog .pop-action-btn button {
	width: 130px!important;
	height: 56px!important;
	padding: 0!important;
	margin: 0 10px!important;
	font-family:'Myriad Pro', 'STHeiti', Arial, Helvetica, sans-serif;
}
.keyboard-controller button, .keyboard-controller-1 button {
	background-color: #fff!important;
	background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
	color: #333;
	font-size: 28px;
	border: 1px solid #d0d0d0;
	font-family: 'Myriad Pro', 'STHeiti', Helvetica, sans-serif;
	font-weight: normal;
	padding: 0;
	margin: 0;
	text-align: center;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
	border-radius: 8px;
}
.keyboard-controller button {
	width: 60px;
	height: 60px;
}
.keyboard-controller-1 {
	margin-top: 15px;
}
.keyboard-controller-1 button {
	width: 230px;
	height: 60px;
	font-size: 22px;
	font-weight: 600;
}
.btn-zero {
	width: 120px!important;
}
/*.keyboard-controller-1 button.space {
	padding-left: 49px;
	background: url(../images/icon-space.png) 63px 13px no-repeat;
}
.keyboard-controller-1 button.backspace {
	padding-left: 45px;
	background: url(../images/icon-backspace.png) 41px 13px no-repeat;
}
.keyboard-controller-1 button.clear {
	background: url(../images/icon-clear.png) 70px 12px no-repeat;
	padding-left: 43px;
}*/
.keyboard-controller-1 button.ok {
	border: 1px solid #c52a81!important;
	background-color: #ed2e99!important;
	color: #fff;
}
/*---------------Keyboard Start----------------*/

/*-----payment Start----*/
.payable-amount {
	font-size: 40px;
}
.pt-mode-list {
	width: 800px;
	margin: 0 auto;
}
.pt-mode-list li{
	display: block;
	box-sizing: border-box;
	padding: 15px 50px 30px;
	float: left;
}
.pt-mode-list li h4 {
	background:url(../images/orange-arrow.png) 0 2px no-repeat;
	padding-left: 20px;
	font-size: 18px;
	margin: 0 0 12px;
}
.pt-mode-list li button {
	width: 275px;
	height: 159px;
	border: 4px solid #30b7ed;
	border-radius: 16px;
	box-shadow: 0 5px 5px rgba(0,0,0,.1);
}
.pt-mode-list li .btn-credit {
	background: url(../images/btn-credit.png) 0 0 no-repeat;
}
.pt-mode-list li .btn-nets {
	background: url(../images/btn-nets.png) 0 0 no-repeat;
}
.pt-mode-list li .btn-contactless {
	background: url(../images/btn-contactless.png) 0 0 no-repeat;
}
.pt-mode-list li .btn-flashpay {
	background: url(../images/btn-flashpay.png) 0 0 no-repeat;
}

.main-heading {
	margin-top: 35px;
	margin-bottom: 20px;
}
.type-option li{
	width: 660px;
	box-sizing: border-box;
	padding: 112px 134px;
	border: 3px solid #ccc;
	border-radius: 16px;
	text-align: center;
	box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.type-option .or-divider {
	border-bottom: 1px solid #ccc;
	margin: 60px 0;
	height: 1px;
}
.type-option .or-divider span {
	display: block;
	width: 80px;
	margin-bottom: -5px;
	text-align: center;
	background-color: #fff;
	font-size: 22px;
	color: #b2b2b2;
	font-family:'Myriad Pro', 'STHeiti', Helvetica Neue, Helvetica, sans-serif;
}
.pwd-field {
	width: 533px;
	height: 76px;
	box-sizing: border-box;
	font-size: 32px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 40px;
	border: 4px solid #ed2e99;
	box-shadow: inset 0 4px 0px rgba(0,0,0,0.1);
	font-weight: 600;
}
.box-full {
	height: 600px;
	line-height: 1.3;
}

.printing-img > li {
	width: 660px;
	box-sizing: border-box;
	padding: 25px;
	border: 3px solid #ccc;
	border-radius: 16px;
	text-align: center;
	box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.printing-img > h3 {
	width: 660px;
	box-sizing: border-box;
	padding: 18px;
	border: 3px solid #ccc;
	border-radius: 16px;
	text-align: center;
	box-shadow: 0 2px 8px rgba(0,0,0,0.1);
	margin: 0;
}
.complete-box li{
	height: 590px!important;
	margin-top: 80px;
	padding-top: 60px;
}
.printing-at {
	margin-bottom: 25px;
}
.sub-line {
	display: block;
	margin-top: 20px;
}
.fill-area-container li{
	width: 780px;
	box-sizing: border-box;
	padding: 20px 20px 40px;
	border: 3px solid #ccc;
	border-radius: 16px;
	text-align: center;
	box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.fill-area  {
	border-bottom: 3px solid #dbdbdb;
	height: 380px;
}
.error-box {
	padding-top: 30px;
}
.error-box li {
	width: 660px;
	height: 525px;
	box-sizing: border-box;
	padding: 40px 30px;
	border: 4px solid #ed1c24;
	border-radius: 16px;
	text-align: center;
	box-shadow: 0 2px 8px rgba(0,0,0,0.1);
	background-color: #fff0f1;
}
.sn-spacing {
	margin: 15px 0;
}

.inner-container {
	margin-top: 25px;
}
.inner-container .left-side {
	float: left;
}
.inner-container .right-side {
	float: left;
	width: 540px;
	margin-left: 30px;
}
.inner-container .right-side ul {
	margin-left: 30px;
}
.inner-container .right-side ul li {
	display: block;
	padding: 5px 0;
}
.inner-container .right-side ul li span{
	min-width: 70px;
	height: 42px;
	box-sizing: border-box;
	text-align: center;
	float: left;
	font-size: 28px;
	color: #53af32;
	font-family:'Myriad Pro', 'STHeiti', Helvetica Neue, Helvetica, sans-serif;
}
.inner-container .right-side ul li .notes-value {
	border: 3px solid #53af32;
	margin-right: 26px;
	width: 86px;
}
.inner-container .right-side ul li.inactive span {
	color: #d9d9d9;
}
.inner-container .right-side ul li.inactive .notes-value {
	border: 3px solid #d9d9d9;
}
.inner-container .right-side ul li.inactive img {
	opacity: 0.4;
}
.return-box li {
	width: 500px;
	box-sizing: border-box;
	padding-left: 20px;
	padding-right: 20px;
	border: 3px solid #ccc;
	border-radius: 16px;
	text-align: center;
	box-shadow: 0 2px 8px rgba(0,0,0,0.1);
	margin-bottom: 50px;
}
.change-value {
	font-size: 28px;
	font-weight: bold;
	color: #ed1c24;
}
.change-box {
	width: 500px;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 20px;
	border: 3px solid #ccc;
	border-radius: 16px;
	text-align: center;
	box-shadow: 0 2px 8px rgba(0,0,0,0.1);
	line-height: 1.5;
}

/*-----payment End----*/
/*dialog*/
.dialog-container {
	background: rgba(0,0,0,.6);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
}

.dialog-container .dialog-ct {
	width: 580px;
	min-height: 380px;
	box-sizing: border-box;
	border-radius: 16px;
	background-color: #fff;
	padding: 15px 20px;
	text-align: center;
	position: relative;
}
.dialog-container .dialog-ct .warning-title {
	color: #ff5400;
	font-family: 'Myriad Pro', 'STHeiti', Helvetica Neue, Helvetica, sans-serif;
	font-weight: normal !important;
	line-height: 1.3;
	font-size: 34px;
}
.dialog-container .dialog-ct .group-buttons {
	position: absolute;
	bottom: 40px;
	left: 0;
	right: 0;
	padding: 0 33px;
}
.dialog-container .dialog-ct .group-buttons button {
	margin: 0 5px;
}
.dialog-container .dialog-ct .count-num {
	margin-bottom: 0;
	font-size: 26px;
}
.dialog-container .dialog-ct .group-inner-btn {
	position: absolute;
	left: 0;
	bottom: 30px;
}
.dialog-container .dialog-ct .group-inner-btn button {
	margin-top: 15px;
}
.btn-close button{
	background: url(../images/btn-close.png) 0 0 no-repeat;
	width: 52px;
	height: 52px;
	border: none;
	position: absolute;
	top: -22px;
	right: -22px;
}
.note-have {
	font-size: 34px;
	color: #ed1c24;
}
.note-have span {
	display: inline-block;
	margin: 0 10px;
}
/*pop up terms & conditions*/
.popup-tc {
	width: 755px!important;
	height: 890px;
}
.popup-tc h2 {
	margin: 10px 0 0;
}
.popup-tc section {
	padding-bottom: 15px;
	text-align: left;
	box-sizing: border-box;
	height: 700px;
	background: url(../images/divider-grey.png) center bottom no-repeat;
	overflow: auto;
}
.popup-tc section li {
	margin: 5px 0 10px;
	line-height: 1.4;
}

/*------------ticket content Start------------*/
.tix-container {
	float: left;
	box-sizing: border-box;
	padding-left: 2%;
	padding-right: 2%;
	height: 850px;
	position: relative;
	background-color: #fff;
	margin-top: 20px;
	border-radius: 12px;
	border-top-right-radius: 120px;
}
.tix-collapse {
	width: 914px;
}
.tix-expand {
	width: 1105px;
}
.tix-collapse .group-btn {
	width: 860px!important;
}
.tix-expand .group-btn{
	width: 1050px!important;
}
.tix-container h1 {
	margin-top: 0;
	margin-bottom: 15px;
}
.tix-container .product-img {
	float: left;
	border-radius: 16px;
	margin-right: 2%;
	width: 24%;
}
.tix-container .product-img img{
	border-radius: 8px;
	width: 100%;
}
.tix-container .alert-section {
	float: left;
	box-sizing: border-box;
	background-color: #c41c33;
	border-radius: 8px;
	padding: 0 15px 15px;
	color: #fff;
	height: 160px;
	width: 74%;
}
.tix-container .alert-section h3 {
	border-bottom: 1px solid #dc3e2e;
	padding-bottom: 5px;
	margin-bottom: 0;
	margin-top: 12px;
	font-size: 16px;
}
.tix-container .alert-section p {
	margin: 8px 0;
	height: 85px;
	overflow-y: auto;
	font-size: 16px;
}
.tix-container .discription-title {
	font-size: 24px;
	font-weight: 600;
	font-family: 'Myriad Pro', 'STHeiti', Helvetica Neue, Helvetica, sans-serif;
	margin-top: 15px;
	margin-bottom: 10px;
}
.tix-container .description {
	font-size: 16px;
	line-height: 1.4;
	height: 130px;
	margin: 0;
	overflow-y: auto;
}
.tix-container .description p {
	margin: 10px 0;
}
.tix-container .main-info {
	height: 260px;
	margin-top: 15px;
	overflow-y: auto;
}
.tix-container .main-info p {
	margin: 0;
	padding: 0;
	min-height: 44px;
	clear: both;
	margin-bottom: 5px;
	font-size: 18px;
}
.tix-container .main-info p img {
	float: left;
}
.tix-container .main-info p span.info-element {
	float: left;
	padding: 10px 0;
	margin-left: 2%;
	line-height: 1.4;
	-webkit-font-smoothing: antialiased;
	width: 92%;
	font-weight: 600;
}
.tix-container .main-info p span.info-element .label {
	font-weight: 600;
}
.tix-container .more-info-container {
	position: absolute;
	bottom: 264px;
}
.no-notes {
	bottom: 125px!important;
}
.tix-collapse .more-info-container {
	width: 860px!important;
}
.tix-expand .more-info-container{
	width: 1050px!important;
}
.tix-container .more-info {
	height: 25px;
	border-bottom: 1px solid #d7c684;
	position: relative;
}
.tix-container .more-info button {
	position: absolute;
	top: 5px;
	right: 40px;
	font-family: 'Myriad Pro','STHeiti', Helvetica, sans-serif;
}
.tix-sidebar {
	height: 870px;
	background: tansparent;
	float: right;
}
.sidebar-collapse {
	width: 130px;
}
.sidebar-expand {
	width: 326px;
}
.btn-expand {
	background: url(../images/btn-expand.png) 0 0 no-repeat;
	width: 65px;
	height: 313px;
	border: none;
}
.arrow-move {
	-webkit-animation: mymove1 0.8s ease-in-out 0 infinite; /* Chrome, Safari, Opera */
	animation: mymove1 0.8s ease-in-out 0 infinite;
	-moz-animation: mymove1 0.8s ease-in-out 0 infinite; /* Fx 5+ */
	-o-animation: mymove1 0.8s ease-in-out 0 infinite;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes mymove1 {
	0% {
		transform:rotateZ(0deg);
	}
	50% {
		transform:rotateZ(30deg);
	}
	100% {
		transform:rotateZ(0deg);
	}
}

/* Standard syntax */
@keyframes mymove1 {
	0% {
		transform:rotateZ(0deg);
	}
	50% {
		transform:rotateZ(30deg);
	}
	100% {
		transform:rotateZ(0deg);
	}
}
.sidebar-panel {
	background:url(../images/sidebar-bg.png) 0 0 no-repeat;
	width: 326px;
	height: 870px;
	box-sizing: border-box;
	position: relative;
	padding: 30px 15px 50px 26px;
}
.close-panel {
	background: url(../images/bar-close.png) 0 0 no-repeat;
	width: 36px;
	height: 37px;
	border: none;
	margin-left: 20px;
}
.heading-bar {
	position: absolute;
	top: 90px;
	right: 0;
	background: url(../images/sidebar-title.png) 0 0 no-repeat;
	width: 339px;
	height: 84px;
}
.all-list {
	margin-top: 100px;
	margin-bottom: 30px;
	font-family: 'Myriad Pro', 'STHeiti', Helvetica Neue, Helvetica, sans-serif;
}
.all-list li {
	display: block;
}
.all-list li .item-list {
	clear: both;
	font-size: 20px;
	padding: 20px 0;
}
.all-list li .item-name {
	width: 66%;
	float: left;
	text-align: left;
}
.all-list li .item-price {
	width: 32%;
	float: left;
	margin-left: 2%;
	font-weight: 600;
	font-size: 22px;
}
.all-list li .from {
	font-size: 16px;
}
.list-divider {
	background: url(../images/divider-yellow.png) 0 0 no-repeat;
	width: 302px;
	height: 5px;
}

/*--------------Buy Tickets Start-------------*/
.tix-list .alert-section {
	width: 100%;
	height: 90px;
	margin-bottom: 15px;
}
.ticket-container table {
	border-collapse: collapse;
}
.ticket-container .table-title {
	background-color: #1794ce;
	height: 34px;
	border-radius: 4px;
	color: #fff;
	margin-bottom: 8px;
}
.inner-title {
	background-color: #caecfd;
	height: 30px;
	border-radius: 15px;
	color: #fff;
	margin-bottom: 8px;
	font-size: 16px;
	color: #333;
}
.ticket-container .table-title td {
	padding: 8px 12px;
	font-size: 16px;
	font-weight: 600;
}
.inner-title td {
	padding: 5px 20px;
}
.sub-table-container {
	position: relative;
}
.sub-action {
	position: absolute;
	right: 12px;
	top: 7px;
	z-index: 40;
	width: 16px;
	height: 16px;
	border: none;
	padding: 0;
	margin: 0;
}
.ticket-container .tab-content-container {
	margin-bottom: 10px;
	overflow-y: auto;
	z-index: 99!important;
}
.ticket-container .fir-template {
	height: 337px;
}
.ticket-container .sec-template {
	height: 267px;
}
.ticket-container .thi-template {
	height: 377px!important;
	border: 1px solid transparent;
}
.ticket-container .for-template {
	height: 417px!important;
}
.ticket-container .fif-template  {
	height: 500px;
}
.ticket-container .first-level{
	border-bottom: 1px solid #d9d9d9;
}
.ticket-container .last {
	border: none;
}
.ticket-container .table-content {
	width: 95%;
}
.sub-table-container .table-content {
	width: 100%;
}
.ticket-container .table-content td {
	padding: 12px 0 ;
}
.ticket-container .table-content td.inner-container{
	padding: 0;
	position: relative;
}
.ticket-container .product-title {
	font-size: 18px;
	color: #333;
	font-weight: 600;
}
.ticket-container .table-content td.product-dn {
	font-size: 16px;
	color: #666;
	line-height: 1.4;
}
.ticket-container .table-content td.product-price {
	font-weight: bold;
}
.ticket-container .table-content td input[type=text] {
	width: 40px;
	border: 1px solid #cccccc;
	border-radius: 4px;
	box-shadow: inset 0 2px 2px rgba(0,0,0,0.1);
	padding: 5px 6px;
	margin: 0;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	font-family:'Myriad Pro', 'STHeiti', Arial, Helvetica, sans-serif;
}
.ticket-container .table-content td table td {
	padding: 5px;
}

.notes-container {
	background-color: #1794ce;
	border-radius: 8px;
	margin-top: 30px;
	height: 108px;
	color: #fff;
	padding: 8px 10px 10px;
	box-sizing: border-box;
	position: absolute;
	bottom: 125px;
}
.tix-collapse .notes-container {
	width: 860px!important;
}
.tix-expand .notes-container{
	width: 1050px!important;
}
.notes-container h3 {
	margin: 0;
	border-bottom: 1px solid #51c2f6;
	padding-bottom: 5px;
	position: relative;
	font-size: 16px;
}
.btn-view {
	background: url(../images/icon-view.png) 0 0 no-repeat;
	width: 88px;
	height: 20px;
	border: none;
	position: absolute;
	right: 10px;
	top: 0;
}
.notes-container .notes {
	font-size: 14px;
	line-height: 1.4;
	margin: 0;
	height: 100%;
	width:95%;
	box-sizing: border-box;
	overflow-y: auto;
}
.date-visit {
	margin-bottom: 20px;
	position: relative;
}
.date-visit span {
	float: left;
	line-height: 45px;
	margin-right: 15px;
	font-weight: 600;
}
.styled-select {
	width: 230px;
	height: 35px;
	overflow: hidden;
	background: #fff;
	border: 1px solid #ccc;
	border: 4px solid #f66011;
	float: left;
	box-shadow: 0 6px 0 rgba(0,0,0,0.1);
}
/*.styled-select select {
	background: transparent;
	width: 270px;
	padding: 5px;
	font-size: 16px;
	line-height: 1;
	border: 0;
	border-radius: 0;
	height: 35px;
	-webkit-appearance: none;
	cursor: pointer;
}*/
.styled-select a {
	line-height: 1.5;
	margin: 0;
	padding: 6px;
	display:block;
	text-decoration: none;
	color: #333;
}
.category-list li {
	display: block;
	margin-bottom: 15px;
	width: 95%;
}
.category-list li .cy-title {
	display: block;
	box-sizing: border-box;
	padding: 10px 50px 10px 15px;
	border-radius: 4px;
	background-color: #dff4ff;
	border: 1px solid #9cdcff;
	box-shadow: 0 2px 2px rgba(0,0,0,0.1);
	text-decoration: none;
	color: #333;
	width: 100%;
	font-size: 18px;
	line-height: 1.4;
	text-align: left;
}
.category-list li .cy-title img {
	position: absolute;
	right: 15px;
	top: 14px;
}
.category-list li.cy-selected {
	border: 1px solid #1794ce;
	border-radius: 8px;
	box-sizing: border-box;
}
.category-list li.cy-selected .cy-title {
	box-sizing: border-box;
	border: 1px solid #1794ce;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	background-color: #1794ce;
	box-shadow: none;
	color: #fff;
	font-weight: bold;
}
.cy-content {
	padding: 15px;
}
.style-input {
	position: relative;
	width: 445px;
}
.style-input input{
	width: 210px;
	height: 38px;
	border: 3px solid #ed2e99;
	float: left;
	box-shadow: inset 0 3px 0 rgba(0,0,0,0.1);
	padding-left: 10px;
	padding-right: 10px;
}

/*--------sidebar menu start-------*/
.main {
	width: 1280px;
	height: 966px;
	padding-top: 12px;
	box-sizing: border-box;
}
/*Sidebar*/
.sidebar-list {
	float: left;
	margin: 0;
	width: 247px;
	padding: 15px;
	box-sizing: border-box;
	margin-right: 0;
	margin-top: 54px;
}
.sidebar-list li {
	display: block;
	list-style: none;
}
.sidebar-list button {
	display: block;
	width: 247px;
	height: 77px;
	box-sizing: border-box;
	text-decoration: none;
	color: #333;
	border: none;
	padding: 0 20px 0 100px;
}
.sidebar-list button.icon-funpass {
	padding: 0!important;
}
.sidebar-list button span.menu-text {
	font-size: 22px;
	text-align: left;
	display: block;
}
.sidebar-list button span.long-title {
	line-height: 18px!important;
}
.sidebar-list .menu-1.selected {
	background-position: -257px 0;
	color: #fff;
}
.sidebar-list .menu-2.selected {
	background-position: -257px -87px;
	color: #fff;
}
.sidebar-list .menu-3.selected {
	background-position: -257px -174px;
	color: #fff;
}
.sidebar-list .menu-4.selected {
	background-position: -257px -261px;
	color: #fff;
}
/**
.sidebar-list .menu-1 {
	background: url(../images/menu-bg.png) 0 0px no-repeat;
}
.sidebar-list .menu-2 {
	background: url(../images/menu-bg.png) 0 -87px no-repeat;
}
.sidebar-list .menu-3 {
	background: url(../images/menu-bg.png) 0 -174px no-repeat;
}
.sidebar-list .menu-4 {
	background: url(../images/menu-bg.png) 0 -261px no-repeat;
}
**/
/*main content*/
.main-content {
	float: left;
	width: 1033px;
	box-sizing: border-box;
	position: relative;
	/*height: 912px;*/
}
.list-title {
	margin-left: 70px;
}
.SET-title {
	margin-left: 150px;
}
.control-bar {
	margin-left: 70px;
}
.search {
	border: 4px solid #784a01;
	box-shadow: inset 0 4px 0 rgba(0,0,0,0.1);
	font-size: 20px;
	color: #333;
	padding: 12px;
	width: 340px;
	margin-right: 20px;
}
.sort-option {
	margin-left: 20px;
}
.sort {
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	font-family:'Myriad Pro', 'STHeiti', Helvetica Neue, Helvetica, sans-serif;
	margin-right: 10px;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, .5);
}
.sort-option button {
	margin: 0 8px;
}
.filter-option {
	margin-top: 20px;
	min-height: 70px;
	/*overflow: hidden;*/
}
.filter-option button {
	display: inline;
	margin: 0 8px 12px 0;
	background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.04));
	box-shadow: 0px 2px 2px  rgba(0, 0, 0, .1);
}
.switch-container p.sort {
	margin-left: 145px;
	margin-bottom: 30px;
}
.product-list {
	margin-top: 8px;
	margin-left: 60px;
	height: 649px;
	position: relative;
}
.left-arrow {
	position: absolute;
	left: -50px;
	top: 257px;
	background: url(../images/left-arrow.png) 0 0 no-repeat;
	width: 50px;
	height: 86px;
	border: none;
}
.right-arrow {
	position: absolute;
	right: 20px;
	top: 257px;
	background: url(../images/right-arrow.png) 0 0 no-repeat;
	width: 50px;
	height: 86px;
	border: none;
}
.thumbnail-list {
	margin-left: 0;
	list-style: none;
}
.thumbnail-list > li {
	list-style: none;
	display: inline;
	float: left;
	width: 205px;
	height: 290px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 3px 3px rgba(0,0,0,.1);
	position: relative;
	margin: 5px 10px 15px;
}
.thumbnail-img {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	width: 205px;
	height: 116px;
	overflow: hidden;
}
.sort-price {
	position: absolute;
	top: 95px;
	right: 13px;
}
.sort-price li {
	float: left;
	margin: 0 -4px;
	padding: 0;
}
.caption {
	padding: 10px;
	display: block;
	height: 168px;
	box-sizing: border-box;
}
.caption-popular {
	float: left;
	margin: 0 5px 0 0;
	width: 53px;
	height: 19px;
	background-size: cover;
}
.caption-title {
	display: block;
	font-size: 16px;
	font-weight: 600;
	height: 55px;
	padding-bottom: 7px;
}
.caption-description {
	display: block;
	font-size: 14px;
	color: #666;
	height: 90px;
	overflow: hidden;
}
.paging-container {
	position: absolute;
	width: 1200px;
	bottom: 0;
	display:flex;
}
.paging {
	margin: 10px auto 0;
	position: absolute;
	width: 900px;
	box-sizing: border-box;
	bottom: 15px;
	/*left: 60px;*/
}
.paging li {
	display: inline;
	float: left;
	margin: 0 10px;
}
.paging li a {
	display: block;
	width: 16px;
	height: 16px;
	border-radius: 8px;
	background-color: #fff;
	box-shadow: 0 4px 0 rgba(0,0,0,0.1);
}
.paging li a.selected {
	background-color: #ed2e99;
	box-shadow: inset 0 4px 0 rgba(0,0,0,0.1);
}
.note-text {
	margin: 20px 0;
	color: #fff;
	font-family:'Myriad Pro', 'STHeiti', Helvetica Neue, Helvetica, sans-serif;
	font-size: 22px;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, .5);
	font-weight: 600;
}
.adv-banner {
	margin-top: 50px;
	margin-left: 70px;
}
.adv-banner p {
	font-size: 24px;
	width: 890px;
}
.adv-banner a {
	display: block;
	border: 4px solid #784a01;
	box-shadow: 0 6px 0 rgba(0,0,0,0.1);
	width: 890px;
	height: 471px;
	background-color: #fff;
}
.adv-banner a img {
	width: 100%;
	height: 100%;
}
/*Fun cart*/
.fun-cart-content{
	box-sizing: border-box;
	width: 100%;
	padding-left: 40px;
	padding-right: 40px;
}

.fun-cart-content p.cart-note {
	background: url(../images/ribbon-bg.png) 0 0 no-repeat;
	width: 626px;
	height: 28px;
	padding: 10px 120px 10px 140px;
	color: #fff;
	font-size: 18px;
	margin: 0 0 10px;
	margin-left: 40px;
}
.cart-box {
	border-radius: 10px;
	background-color: #fff;
	padding: 15px;
	margin: 0!important;
	font-family: 'Myriad Pro', 'STHeiti', Helvetica, sans-serif;
	height: 672px;
	position: relative;
}
.summary-dialog {
	height: 725px;
}
.summary-dialog-1 {
	height: 660px;
}
.cart-box h3 {
	font-family:'Myriad Pro', 'STHeiti', Helvetica, sans-serif;
	font-weight: 600;
	font-size: 22px;
	text-align: left;
	margin: 0 12px 12px 5px;
}
.cart-title {
	border-bottom: 1px solid #e0e0e0;
	padding-top: 10px;
}
.cart-title table {
	margin: 12px 0;
}
.cart-title .product-title {
	font-size: 20px!important;
}
.btn-del {
	background: url(../images/btn-del.png) 0 0 no-repeat;
	border: none;
	box-shadow: none!important;
	width: 46px!important;
	height: 38px!important;
}
.title {
	font-size: 18px;
}
.cart-title .last td {
	border: none;
}
.cart-list > td{
	padding: 15px 0;
	border-bottom: 1px solid #e0e0e0;
}
.cart-list td .tix-type {
	margin: 0;
	font-size: 15px;
	color: #666;
	line-height: 1.4;
}
.cart-list td.del-container {
	padding: 0;
}
.total-bar {
	width: 100%;
	border-top: 1px solid #cfcfcf;
	background-color:#fff;
	box-shadow: 0 -3px 8px rgba(0,0,0, 0.05);
	position: absolute;
	z-index: 60;
	left: 0;
	bottom: 95px;
	clear: both;
}
.summary-dialog-1 .total-bar {
	bottom: 50px!important;
	box-sizing: border-box;
}
.total-bar .total{
	padding: 15px;
}
.summary-dialog .total-bar {
	bottom: 50px!important;
}
.summary-dialog .fif-template {
	height: 530px;
}
.btn-container {
	float: left;
	margin: 12px;
}
.btn-container input[type="checkbox"] {
	margin: 0 10px;
	transform: scale(2);
}
.btn-container button.t-c {
	background: #fff;
	border: none;
	border-bottom: 1px solid #999;
	font-family: 'Myriad Pro', 'STHeiti', Helvetica, sans-serif;
	font-weight: bold!important;
}
.total {
	font-size: 22px!important;
	font-weight: bold;
	text-align: right;
	float: right;
	margin-right: 70px;
}
.total .product-title {
	font-size: 26px;
	margin-left: 5px;
}
.admission-note {
	position: absolute;
	left: 0;
	bottom: 40px;
	z-index: 80!important;
	width: 100%;
}
.admission-note p {
	margin: 15px 20px;
	color: #ed1c24;
	border: 1px solid #ff857a;
	padding: 10px;
	border-radius: 8px;
	background-color: #ffdedb;
}
.cart-group-btn {
	position: absolute;
	bottom: -26px;
	left: 0;
	width: 950px;
	text-align: center;
}
.cart-group-btn button {
	margin: 0 15px;
}
.adds-on-container > td {
	background: #fafafa;
	padding-left: 10px;
	padding-right: 10px;
}
.adds-on img {
	margin-right: 5px;
}
.sub-text {
	color: #fff;
	font-size: 22px;
	font-weight: bold;
	margin: 0 70px 12px;
	text-shadow: 0px 1px 3px rgba(0, 0, 0, .4);
}

/*-----Admission Page-----*/
.admission-big-dialog {
    background: url(../images/admission-big-bg.png) 0 0 no-repeat;
    width: 826px;
    height: 715px;
    margin: 119px auto 0;
    display: block;
    text-align: center;
    border: 1px solid transparent;
    position: relative;
}
.admission-big-dialog .admission-qn {
    background: url(../images/icon-express.png) 0 0 no-repeat;
    background-size: 169px 169px;
    padding-left: 215px;
    padding-top: 15px;
    height: 169px;
    box-sizing: border-box;
    margin: 35px 70px 0!important;
    text-align: left;
}
.admission-big-dialog .admission-qn h1 {
    font-size: 32px;
    color: #f66011;
    margin: 0;
    font-family:'harabara', 'STHeiti', Helvetica Neue, Helvetica, sans-serif;
    letter-spacing: 2px;
    font-weight: normal;
}
.admission-big-dialog .admission-qn p {
    font-family: Arial, 'STHeiti', Helvetica, sans-serif;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 1.4;
    padding: 0;
}
.admission-big-dialog .submit-btn {
    position: relative;
    clear: both;
}
.admission-big-dialog .submit-btn button {
    margin: 0 10px;
}
.admission-big-dialog .submit-btn .btn-info {
    font-family: Arial, 'STHeiti', Helvetica, sans-serif;
    letter-spacing: 0;
    text-align: left;
    border-radius: 8px;
    position: absolute;
    background-color: #58c2fc;
    color: #fff;
    height: 34px;
    width: 215px;
    padding: 8px 10px;
    top: 74px;
    left: 120px;
}

.admission-dialog {
	background: url(../images/admission-bg.png) 0 0 no-repeat;
	width: 826px;
	height: 510px;
	margin: 219px auto 0;
	display: block;
	text-align: center;
	border: 1px solid transparent;
	position: relative;
}
.admission-dialog .admission-qn {
	background: url(../images/icon-express.png) 0 0 no-repeat;
	background-size: 169px 169px;
	padding-left: 215px;
	padding-top: 15px;
	height: 169px;
	box-sizing: border-box;
	margin: 35px 70px 0!important;
	text-align: left;
}
.admission-dialog .admission-qn h1 {
	font-size: 32px;
	color: #ed2e99;
	margin: 0;
	font-family:'Myriad Pro', 'STHeiti', Helvetica Neue, Helvetica, sans-serif;
	font-weight: 600;
}
.admission-dialog .admission-qn p {
	font-family: 'Myriad Pro', 'STHeiti', Helvetica, sans-serif;
	font-size: 18px;
	line-height: 1.4;
	padding: 0;
}
.add-tix {
	position: relative;
	margin-bottom: 20px;
}
.add-tix h3 {
	position: absolute;
	font-size: 22px;
	font-family:'Myriad Pro', 'STHeiti', Helvetica Neue, Helvetica, sans-serif;
	font-weight: 600;
	left: 120px;
}
.admission-dialog .submit-btn {
	position: relative;
	clear: both;
}
.admission-dialog .submit-btn button {
	margin: 0 10px;
}
.admission-dialog .submit-btn .btn-info {
	font-family: 'Myriad Pro', 'STHeiti', Helvetica, sans-serif;
	text-align: left;
	border-radius: 8px;
	position: absolute;
	background-color: #58c2fc;
	color: #fff;
	height: 34px;
	width: 215px;
	padding: 8px 10px;
	top: 74px;
	left: 120px;
}
.arrow-up {
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #58c2fc;
	margin-top: -15px;
	position: absolute;
	left: 110px;
}
.admission-qty {
	width: 470px;
	height: 110px;
	margin: -20px auto 0;
}
.admission-qty .qty-top {
	height: 30px;
	font-size: 18px;
}
.admission-qty .qty-title {
	font-size: 22px;
	font-family:'Myriad Pro', 'STHeiti', Arial, Helvetica, sans-serif;
	font-weight: normal;
	text-align: left;
}
.admission-qty input[type=text] {
	width: 40px;
	border: 4px solid #cccccc;
	box-shadow: inset 0 4px 0 rgba(0,0,0,0.1);
	padding: 5px 6px;
	margin: 0;
	text-align: center;
	font-size: 22px;
	font-family:'Myriad Pro', 'STHeiti', Arial, Helvetica, sans-serif;
}
.admission-qty button {
	width: 46px;
	height: 44px;
	box-shadow: 0 2px 2px rgba(0,0,0,0.1);
	padding: 6px 0 0 0;
	box-sizing: border-box;
}
.side-an-dialog {
	background: url(../images/admission-big-bg.png) 0 0 no-repeat;
	width: 826px;
	height: 715px;
	box-sizing: border-box;
	display: block;
	text-align: center;
	padding: 30px 40px;
	position: relative;
}
.side-an-dialog h1 {
	height: 90px;
	margin-top: 10px;
	margin-bottom: 0!important;
}
.side-an-dialog p {
	font-size: 18px;
	line-height: 1.4;
	padding: 0;
	margin-top: 0;
	margin-bottom: 25px;
}
/*-----------Search results-----------*/
.search-form {
	position: relative;
}
/*.search-form input[type=text]{
	font-family: Arial, 'STHeiti', Helvetica, sans-serif;
}*/
.search-results {
	position: absolute;
	z-index: 500;
	width: 80%;
	background: #FFF;
	height: 300px;
	top: 53px;
	-webkit-box-shadow: 0px 6px 12px rgba(0,0,0, 0.2);
	-moz-box-shadow: 0px 6px 12px rgba(0,0,0, 0.2);
	box-shadow: 0px 6px 12px rgba(0,0,0, 0.2);
	font-family: 'Myriad Pro', 'STHeiti', Helvetica, sans-serif;
	font-size: 18px;
	/*padding-bottom: 20px;*/
}
.search-results .tooltip.default {
	background-color: #eee;
	color: #808080;
}
.search-results .tooltip.success {
	background-color: #9FE298;
	color: #1B7E11;
}
.search-results .tooltip.warning {
	background-color: #FCFF9E;
	color: #9B8D00;
}
.search-results .tooltip {
	font-size: 1em;
	font-style: italic;
	font-weight: bold;
	padding: 20px;
}
.search-results .results-pane ul li button {
	display: block;
	width: 95%;
	box-sizing: border-box;
	padding: 20px;
	text-align: left;
	border-style: none;
	background: none;
	cursor: pointer;
	color: #333333;
	text-decoration: none;
	font-family: 'Myriad Pro', 'STHeiti', Helvetica, sans-serif!important;
	border-bottom: 1px solid #e5e5e5;
}
/*.search-results .results-pane ul li .selected {
	background-color: #B5E1FF;
}*/
.search-results .results-pane .main-res li button {
	font-size: 18px;
}
.search-results .results-pane .sec-res {
	font-size: 16px;
}
/*----------------------------Main Content End----------------------------*/

/*----Alert Error Dialog Start----*/
.alert-container {
	margin: 15% auto;
	width: 500px;
	box-sizing: border-box;
	border: 4px solid #ed1c24;
	border-radius: 24px;
	min-height: 380px;
	text-align: center;
	background: #fff;
	padding-bottom: 30px;
}
.alert-title {
	background-color: #ed1c24;
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
	height: 65px; line-height: 65px;
	font-size: 28px; color: #fff;
	text-align: center;
	font-weight: normal;
	font-family: 'Myriad Pro', 'STHeiti', Helvetica Neue, Helvetica, sans-serif;
	margin: 0;
}
.alert-container p {
	text-align: left;
	font-size: 19px;
	line-height: 1.4;
	padding: 20px;
	margin: 0;
	min-height: 180px;
}
/*----Alert Error Dialog End----*/
header nav .btn-home-grey {
	background: url(../images/btn-home-grey.png) 0 0 no-repeat;
}
header nav .btn-search-grey {
	background: url(../images/btn-search-grey.png) 0 0 no-repeat;
}
header nav .btn-lang-grey {
	background: url(../images/btn-language-grey.png) 0 0 no-repeat;
}
.btn-clearcart-grey {
	background: url(../images/btn-clear-grey.png) 0 0 no-repeat!important;
}
.fun-box .items .cart-grey {
	background: #c9c9c9;
}
.icon-heading {
	height: 56px;
	line-height: 60px;
}
.icon-heading span {
	margin-left: 20px;
}
.icon-heading + p {
	margin: 0;
}
.tn-inner-wrapper {
	padding-top: 40px;
}
.tn-inner-wrapper li {
	float: left;
	width: 449px;
	height: 416px;
	margin: 0 25px;
	text-align: center;
	box-shadow: 0 2px 8px rgba(0,0,0,0.1);
	background: #fff;
	border: 3px solid #ccc;
	box-sizing: border-box;
}
.tn-inner-wrapper li:nth-child(2) {
	padding: 40px 20px 0;
}
/*----Credit Card Disclaimers Start----*/
.disclaimers-container {
	padding:20px 50px 20px 20px;
}
.disclaimer-container .row-checkbox {
	text-align:left;
	vertical-align:top;
	font-size:26px;
	padding:6px 20px 5px 5px;
}
.disclaimer-container .row-checkbox input[type=checkbox] {
	outline:none;
	width:25px;
	height:25px;
}
.disclaimer-container .row-message {
	text-align:left;
	vertical-align:top;
	font-size:26px;
	padding:5px 0;
}
/*----Credit Card Disclaimers End----*/

.maintenance-closing-container {
	display: none;
	top: 0;
	left: 0;
	position: absolute;
	z-index: 3000;
}
.btn-goto-ops-from-maintenance{
	background-color: rgba(255, 255, 255, 0);
	width: 150px;
	height: 150px;
	position: fixed;
	bottom: 7em;
	z-index: 100;
	margin-left: 1100px;
}

.btn-goto-ops-from-kiosk{
	background-color:  rgba(255, 255, 255, 0);
	width: 150px;
	height: 150px;
	position: fixed;
	bottom: 10em;
	z-index: 1;
	margin-left: 1100px;
}


