@font-face {
    font-family: 'Flama';
    src: url('../font/flamabook-webfont.eot');
    src: url('../font/flamabook-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/flamabook-webfont.woff') format('woff'),
    url('../font/flamabook-webfont.ttf') format('truetype'),
    url('../font/flamabook-webfont.svg#flamabookregular') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Flama';
    src: url('../font/flama-webfont.eot');
    src: url('../font/flama-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/flama-webfont.woff') format('woff'),
    url('../font/flama-webfont.ttf') format('truetype'),
    url('../font/flama-webfont.svg#flamaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Flama';
    src: url('../font/flama-bold-webfont.eot');
    src: url('../font/flama-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/flama-bold-webfont.woff') format('woff'),
    url('../font/flama-bold-webfont.ttf') format('truetype'),
    url('../font/flama-bold-webfont.svg#flamabold') format('svg');
    font-weight: 700;
    font-style: normal;
}

body {
    background: #F4F4F4 url('../img/creampaper.png') repeat;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.btn-controls {
    text-align: center;
}

.spinner-overlay {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 9999999;
    overflow: auto;
    background: rgb(0, 0, 0) transparent;
    background: rgba(0, 0, 0, 0.6);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

/* Login Form */

.login-header {
    text-align: center;
    margin-top: 50px;
}

.login-header h1 {
    text-shadow: 1px 1px 1px #FFFFFF;
}

.form-login {
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 40px 10px 20px 10px;
    background: #FFFFFF;
    border: 2px solid #B3B3B3;
}

.form-login form {
    width: 80%;
    margin: 0 auto;
}

.forgot-password {
    font-size: 0.9em;
    padding-left: 10px;
}

.warn-section {
    padding: 5px 10px 5px 10px;
    margin-bottom: 15px;
    border: 1px solid #F5D352;
    background: #FDF8D0;
    font-size: 0.85em;
}

.warn-msg {
    color: red;
    font-weight: bold;
}

/* Header */

.admin-header {
}

.admin-header .header-wrap {
    padding: 10px 0;
}

.admin-header h1 {
    font-family: 'Alegreya', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    line-height: 50px;
    text-shadow: 1px 1px 3px #A3A3A3;
}

.header-details {
    display: inline-block;
    vertical-align: baseline;
    text-align: right;
}

.header-details .detail-clock {
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
}

.header-details .detail-name {
    display: inline-block;
    padding-top: 3px;
    font-weight: bold;
}

.header-details .btn-logout {

}

/* Nav */

.admin-nav * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.admin-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.admin-nav ul li {
    display: inline-block;
    cursor: pointer;
    margin: 0 2px;
}

.admin-nav .nav-1 {
    padding: 5px 10px;
    background: #FFFFFF;
    font-weight: normal;
    font-size: 1.2em;
}

.admin-nav .nav-1 li {
    padding: 3px 10px;
}

.admin-nav .nav-1 li.selected, .admin-nav .nav-1 li:hover {
    background: #45BCD2;
    color: #FFFFFF;
    border-bottom: 2px solid #2B96AA;
    text-shadow: 0 0 1px #666;
}

.admin-nav .nav-1 li:hover {
    background: #4CD2EB !important;
}

.admin-nav .nav-2 {
    padding: 1px 10px;
    font-size: 0.9em;
    background: #333333;
}

.admin-nav .nav-2 li {
    padding: 3px 0;
    margin: 0 10px;
    border-bottom: 3px solid #444444;
    color: #FFFFFF;
}

.admin-nav .nav-2 li.selected {
    border-bottom: 3px solid #87E2F3;
    color: #87E2F3;
}

.admin-nav .nav-2 li:hover {
    border-bottom: 3px solid #45BCD2;
    color: #45BCD2;
}

/* Admin Main Elements */

.admin-main {
    border: 1px solid #BEBEBE;
    background: #FFFFFF;
    min-height: 400px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px 10px;
}

.page-section {
    padding: 5px 10px 15px 10px;
    border: 2px solid #45BCD2;
    margin: 10px 0;
}

.page-section h4 {
    margin: 5px 0 15px 0;
}

.param-row {
    margin: 5px 0 10px 0;
}

.param-row .input-append, .param-row .input-prepend {
    margin-bottom: 0px;
}

.param-label {

}

.site-mode-ind {
    display: inline-block;
    padding: 4px 22px;
    margin-right: 10px;
    border: 1px solid #CCC;
    font-weight: bold;
    font-size: 1.2em;
    vertical-align: middle;
}

.positive-color {
    background: #CFFFDE;
    color: #117211;
}

.negative-color {
    background: #FFCFCF;
    color: #721111;
}

/* Admin Grid Sections */

.grid-section {
    font-size: 12px;
    margin-bottom: 10px;
}

.grid-section .grid-actions {
    margin: 5px 0;
    text-align: right;
}

.grid-section h3 {
    margin: 10px 0 5px 0;
    line-height: 30px;
}

.custom-no-data-row td {
    text-align: center;
    font-weight: bold;
    padding: 20px 0 !important;
}

/* Admin Modal */

.admin-modal .control-group {
    margin-bottom: 10px;
}

.admin-modal .alert {
    margin-bottom: 10px;
}

.form-horizontal .static {
    display: inline-block;
    padding: 5px 0;
    line-height: 20px;
}

.alert {
    margin-bottom: 10px;
}

.dialog-ad-preview img {
    max-height: 300px;
}

/* General */

.info-div {
    border: 2px solid #AAAAAA;
    background: #FFFFFF;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 20px;
}

.inline-display {
    display: inline;
}

.center-align {
    width: 100%;
    height: 100%;
    text-align: center;
    /*line-height:100*/
}

/* Query */

.query-status-box {
    padding: 10px;
    width: 90%;
    margin: 15px 5%;
}

.query-status-box td {
    padding: 2px 5px;
}

.resend-box {
    width: 60%;
    margin: 15px 20%;
    border: 1px solid #DDDDDD;
    padding: 0 5px;
}

/* Receipt */

.checkout-summary, .grand-total {
    width: 95%;
    margin: 0 2.5% 0 2.5%;
    border-collapse: collapse;
}

.checkout-summary {
    margin-top: 0;
}

.row-title th {
    font-size: 1em;
    padding: 10px 0;
}

.row-header th {
    text-align: center;
    padding: 5px 0;
    background: #40cde5;
    color: white;
    font-size: 0.92em;
    font-weight: normal;
}

.row-header th.left_row {
    text-align: left;
    padding-left: 10px;
}

.section-main .even {
}

.row-main td {
    font-size: 0.85em;
    padding: 15px 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.row-main .cell-item {
    font-size: 1em;
    text-align: left;
    color: #333;
}

.row-main .cell-book-fee {
    font-size: 1.15em;
}

.row-main .cell-desc {
    text-align: left;
}

.row-topup {
    background: #F3F3F3;
}

.row-topup td {
    padding: 7px 10px;
}

.row-topup .cell-item {
    padding-left: 30px;
}

.cell-desc .highlight {
    color: #0D45A7;
}

.cell-desc .mc-line {
    display: inline-block;
    margin-left: 10px;
}

.row-main .cell-unit {
    text-align: center;
}

.row-main .cell-qty {
    text-align: center;
}

.row-main .cell-sub {
    text-align: center;
}

.row-main .cell-remove {
    text-align: center;
}

.cell-remove a {
    color: #ea2e2e;
}

.row-subtotal {

}

.row-subtotal td {
    padding: 10px 0;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}

.row-subtotal .cell-subtotal-waive {
    font-size: 14px;
    padding-left: 10px;
}

.row-subtotal .cell-subtotal-lbl {
    text-align: right;
    text-transform: uppercase;
}

.row-subtotal .cell-subtotal-amt {
    text-align: center;
}

.grand-total {
    text-align: right;
    padding: 20px 0;
}

.grand-total .grand-total-text {
    display: inline-block;
    margin-right: 53px;
    font-size: 1.5em;
    font-weight: bold;
}

.grand-total .grand-total-amt {
    display: inline-block;
    margin-left: 20px;
    color: #ea2e2e;
}

.order-message {
    width: 90%;
    margin: 10px 5%;
}

.receipt-wrapper {
    display: block;
    width: 90%;
    margin: 15px 5%;
    border: 1px solid #ccc;
    padding: 5px;
}

.show-logos {
    margin: 10px;
}

.receipt-header {
    margin: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid #333;
}

.receipt-part, .pin-part, .barcode {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

.receipt-part {
    width: 40%;
}

.pin-part {
    width: 20%;
}

.barcode {
    text-align: right;
    width: 39%;
}

.barcode img {
    width: 150px;
    height: 60px;
}

.receipt-title, .pin-title, .receipt-number, .pincode {
    display: block;
}

.receipt-number, .pincode {
    font-size: 1.7em;
    font-weight: bold;
}

.receipt-intro {
    margin: 15px;
    font-size: 0.95em;
}

.receipt-intro p {
    margin: 10px 0;
}

.receipt-deets {
    margin: 15px 25px;
    font-size: 1em;
    padding: 5px 0;
    border-top: 1px solid #555;
    border-bottom: 1px solid #555;
}

.receipt-deets .deets-label {
    display: inline-block;
    margin: 3px 0;
    width: 200px;
}

.receipt-deets .deets-value {
    font-weight: bold;
    display: inline-block;
    margin: 0 0 0 10px;
}

.receipt-wrapper .checkout-summary {
    font-size: 0.9em;
    width: 100%;
    margin: 15px 0;
    margin-bottom: 0em;
}

.receipt-wrapper .row-main td {
    padding: 5px 10px;
}

.receipt-wrapper .row-topup .cell-item {
    padding-left: 30px;
}

.receipt-wrapper .grand-total .grand-total-text {
    margin-right: 10px;
}

.receipt-wrapper .notes, .receipt-wrapper .tnc {
    margin: 5px 25px;
    border: 1px solid #AAA;
    padding: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 0.85em;
    color: #666;
}

.receipt-wrapper .notes h3, .receipt-wrapper .tnc h3, .receipt-wrapper .notes p, .receipt-wrapper .tnc h4 {
    margin: 5px 0;
}

.tnc .tnc-nugget ul {
    list-style: disc;
    padding-left: 20px;
}

.form-inline {
    margin: 0;
}

.filter-fields {
    padding: 5px 10px;
    background: #f0f0f0;
    text-align: center;
}

.filter-field {
    display: inline-block;
    margin: 0 5px;
    text-align: left;
}

.filter-actions {
    height: 100%;
    vertical-align: middle;
    width: 240px;
    text-align: center;
}

.filter-box .param-row {
    margin: 3px 0;
}

.filter-box .input {
    margin: 0;
}

.filter-box {
    margin: 5px auto;
    border: 2px solid #6AB5C4;
}

.float-menu {
    border: 2px solid #2EAFC0;
    margin: 3px 10px;
    box-shadow: 0 0 2px #72B6B9;
    background: #ffffff;
    width: 190px;
    font-family: 'Alegreya', 'Helvetica Neue', 'Arial', serif;
    border-top-right-radius: 10px;
}

.float-menu.affix {
    width: 190px;
    top: 100px;
}

.menu-active-section {
    padding: 10px 5px;
    text-align: center;
    line-height: 33px;
    background: #2EAFC0;
}

.menu-active-section h3 {
    margin: 0;
    color: #ffffff;
}

.menu-active-ind {
    padding-right: 10px;
    font-weight: bold;
    color: #038603;
    font-size: 1.2em;
}

.menu-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-links li {
    padding-left: 10px;
    line-height: 30px;
    background: #FFE9D7;
    margin: 2px;
    cursor: pointer;
    border-bottom: 2px solid #F5CDA6;
}

.menu-links li:hover {
    background: #F18E0F;
    color: #FFFFFF;
    border-bottom: 2px solid #FACBA4;
}

.menu-links a {
    display: block;
    color: #006F79;
}

.menu-links a:hover {
    color: #FFFFFF;
}

.menu-links .active {
    background: #FACBA4;
    border-bottom: 2px solid #F18E0F;
}

/* Products */

.k-upload-button {
    width: auto !important;
}

.product-title {
    margin: 10px;
    padding: 10px;
    background: #FFFFFF;
    border: 3px solid #2EAFC0;
    border-left: 0;
    border-right: 0;
    color: #ff722d;
    line-height: 40px;
}

.product-title h2 {
    display: inline-block;
    font-family: 'Alegreya', 'Helvetica Neue', 'Arial', serif;
    font-size: 2.2em;
    margin: 0;
    padding: 0;
    float: left;
    line-height: 40px;
}

.product-title .active-sect {
    display: inline-block;
    float: right;
}

.product-main {
    margin: 10px 10px 10px 5px;
}

.product-main .product-header {
    border-bottom: 2px solid #00AFBE;
    margin-top: 15px;
}

.product-header h3 {
    font-family: 'Alegreya', 'Source Sans Pro';
    font-size: 24px;
    margin: 0;
    display: inline-block;
    background: #2EAFC0;
    padding: 1px 20px;
    color: #FFF;
    border-top-right-radius: 7px;
}

.product-header .header-btn {
    float: right;
    margin-top: 5px;
    margin-right: 10px;
}

.product-main .product-sect {
    margin: 15px 0;
}

.product-sect .field-label {
    font-size: 17px;
    font-weight: 600;
    text-align: right;
}

.product-sect .field-row {
    margin-bottom: 8px;
}

.product-sect .field-nothing {
    font-style: italic;
}

.prod-grid {
    font-size: 0.9em !important;
}

.grid-note {
    margin-bottom: 5px;
    font-size: 0.85em;
    font-style: italic;
    margin-left: 5px;
    color: #808080
}

.product-sect .grid-actions {
    margin: 10px 0;
    text-align: right;
}

.form-radio-table {
    box-sizing: border-box;
    margin: 5px;
    width: 95%;
    font-size: 0.9em;
}

.form-radio-table th, .form-radio-table td {
    border: 1px solid gray;
    padding: 3px 5px;
}

.form-radio-table th {
    background: #EEEEEE;
    font-weight: normal;
}

.form-radio-table input {
    padding: 0;
    margin: 0;
}

.form-radio-table .input-cell {
    text-align: center;
}

.promo-rel-item {
    margin: 5px 10px;
    padding: 10px;
    border: 2px solid #09A5E2;
    border-radius: 3px;
    background: #F7FEFF;
}

.promo-rel-item .btn-removex {
    float: right;
}

.promo-rel-item form {
    margin: 0;
}

.promo-rel-item label, .promo-rel-item input, .promo-rel-item button,
.promo-rel-item select, .promo-rel-item textarea, .promo-rel-item .static,
.promo-rel-item .btn {
    font-size: 0.9em;
    line-height: 17px;
}

.promo-rel-item .control-label {
    font-weight: bold;
    width: 170px;
}

.promo-rel-item .controls {
    margin-left: 190px;
}

.promo-rel-item .control-group {
    margin-bottom: 5px;
}

.promo-rel-item .static-name {
    width: 500px;
}

.sched-sect {
    padding: 3px 10px;
    margin: 10px 5px;
}

.sched-sect h4 {
    font-family: 'Alegreya', 'Helvetica Neue', 'Arial', serif;
    padding: 5px 20px;
    background: #2EAFC0;
    color: #FFF;
    display: inline-block;
    border-top-right-radius: 7px;
    margin-bottom: 0;
}

.sched-sect-head {
    text-align: center;
    margin: 10px 0 15px 0;
    font-size: 1.2em;
}

.sched-sect .prod-grid {
    margin-bottom: 18px;
}

a.more-info {
    cursor: pointer;
    text-decoration: none;
    background-color: #444444;
    color: #fff;
    padding: 2px 5px 2px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

a.more-info:hover {
    background-color: #6e9113;
}

.prod-prv {

}

.prv-header {
    text-align: center;
}

.prod-prv h4 {
    margin: 10px 0 0 0;
}

.prv-title {
    text-align: center;
}

.prod-prv h3 {

}

.prv-subhead {

}

.prod-prv h5 {
    font-size: 17.5px;
    margin: 15px 0 12px 0;
    background: #97D3DF;
    padding: 3px 5px;
    font-weight: normal;
    border-radius: 3px;
}

.prv-desc {
    padding: 5px 10px 5px 0;
}

.prv-more-info {
    padding: 0 10px 0 0;
}

.prv-img {

}

.prv-label {
    display: block;
    float: right;
    margin-right: 10px;
    font-weight: bold;
    text-align: right;
}

.prv-data {
    display: block;
    margin-left: 5px;
}

.ped-date {
    display: inline-block;
    margin: 0 7px;
    border-bottom: 1px dashed #9B9B9B;
    font-size: 1.3em;
    padding-bottom: 3px;
}

.btn-preview {
    font-size: 18px;
    padding: 6px 20px;
}

.ntnc-holder {
    border: 1px solid #16C0B2;
    display: block;
    padding: 5px;
    background: #F0F0F0;
}

.admin-modal .control-label {
    font-weight: 600;
    font-size: 16px;
}

.tnc-action-new {
    margin: 5px 0;
    text-align: right;
    font-style: italic;
    line-height: 30px;
}

.rel-item-sect {
    border: 2px solid #119CA8;
    margin: 5px 10px;
    padding-top: 5px;
    background: #ECF6F7;
}

.sched-date-row {
    border: 2px solid #D5D5D5;
    background: #FFFFFF;
    padding: 5px 10px;
    margin: 3px 5px;
    border-bottom: 4px solid #A0A0A0;
}

.sched-date-row h3 {
    font-weight: 600;
    font-size: 24px;
    display: inline-block;
    font-family: 'Alegreya', 'Helvetica Neue', 'Arial', serif;
    line-height: 35px;
    margin: 0;
    width: 200px;
}

.sched-date-row h3 span {
    font-weight: normal;
}

.sched-date-row .primary-actions {
    display: inline-block;
    float: right;
    text-align: right;
    line-height: 35px;
}

.sched-date-row .primary-actions .btn {
    vertical-align: inherit;
}

.sched-date-row .aktib {
    display: inline-block;
    font-size: 15px;
    margin: 0;
    text-align: right;
    color: #FFF;
    margin-left: 10px;
    vertical-align: baseline;
    background: #000000;
    padding: 2px 10px;
    border-radius: 2px;
}

.aktib.active-yo {
    background: #27A315;
}

.aktib.inactive-yo {
    background: #CF1010;
}

.color-active {
    color: #27A315;
}

.color-inactive {
    color: #CF1010;
}

.info-ind {
    display: inline-block;
    color: #39BFD1;
    margin: 2px 0 0 4px;
    cursor: pointer;
    font-size: 17px;
}

.info-ind-container {
    display: inline-block;
    margin: 0 0 0 10px;
}

.info-ind-container .info-ind {
    font-size: 1.5em;
}

.sched-date-row.active {
    border: 2px solid #E4B775;
}

.inline-form-text {
    display: inline-block;
    vertical-align: middle;
    padding: 0 0 0 10px;
}