/* BEGIN COPYRIGHTS */

/* CSS3 Button Style - https://github.com/ubuwaits/css3-buttons
Copyright (c) 2011 Chad Mazzola

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
*/

/* END COPYRIGHTS */

@font-face {
    font-family: 'flamabook';
    src: url('../font/flamabook-webfont.eot');
    src: url('../font/flamabookwebfont.eot?#iefix') format('embedded-opentype'),
    url('../font/flamabook-webfont.woff') format('woff'),
    url('../font/flamabook-webfont.ttf') format('truetype'),
    url('../font/flamabook-webfont.svg#Flamaregular') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Flama';
    src: url('../font/flama-webfont.eot');
    src: url('../font/flama-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/flama-webfont.woff') format('woff'),
    url('../font/flama-webfont.ttf') format('truetype'),
    url('../font/flama-webfont.svg#flamaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Flama';
    src: url('../font/flama-bold-webfont.eot');
    src: url('../font/flama-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/flama-bold-webfont.woff') format('woff'),
    url('../font/flama-bold-webfont.ttf') format('truetype'),
    url('../font/flama-bold-webfont.svg#flamabold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Book';
    src: url('../font/Avenir-Book.eot');
    src: url('../font/Avenir-Book.eot?#iefix') format('embedded-opentype'),
    url('../font/Avenir-Book.woff') format('woff'),
    url('../font/Avenir-Book.ttf') format('truetype'),
    url('../font/Avenir-Book.svg#flamaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Avenir-Medium';
    src: url('../font/Avenir-Medium.eot');
    src: url('../font/Avenir-Medium.eot?#iefix') format('embedded-opentype'),
    url('../font/Avenir-Medium.woff') format('woff'),
    url('../font/Avenir-Medium.ttf') format('truetype'),
    url('../font/Avenir-Medium.svg#flamaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


body {
    font-family:'Tahoma','Avenir-Book','Open Sans', 'Helvetica', serif;
    background: #ffffff;/*Changed by PEIPEI*/
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
img {
    border:0;
}

/*
 * DESKTOP STYLES
 */

.contain {
    margin: 0 auto;
    width: 1000px;tick
}

.fs-message {
    position: absolute;
    width: 50%;
    height: 20%;
    background: #FFF;
    z-index: 9999910;
    left: 25%;
    top: 35%;
    box-sizing: border-box;
    padding: 2em;
    text-align: center;
    font-size: 1.5em;
}

/* Roundabout */

.slideshow {
    width: 100%;
    background-color: #fff;
    padding:  0 0 10px;
}

.slideshow-heading {
    font-family:'Tahoma','Avenir-Medium','Open Sans', 'Helvetica', serif;
    background:url(../img/highlight_bg.png) 0 0 no-repeat;
    /*margin-left:-17px;*//*Changed by PEIPEI*/
    height: 45px;/*Changed by PEIPEI*/
    line-height: 45px; /*Changed by PEIPEI*/
    text-align:left;
    color:#fff;
    font-size:18px;
    padding-left:25px;
}

.the-show {
    height: 260px;
    overflow: hidden;
}

.roundabout-holder {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 260px;
    width: 1000px;
}
.roundabout-moveable-item {
    height: 18em;
    width: 38em;
    cursor: pointer;
    -webkit-box-shadow: 1px 1px 6px #555;
    -moz-box-shadow: 1px 1px 6px #555;
    box-shadow: 1px 1px 6px #555;
}
.roundabout-moveable-item img {
    width: 100%;
}
.roundabout-in-focus {
    cursor: auto;
}

.slide-nav {
    margin-bottom: 10px;
}
.slide-nav ul {
    padding: 0;
    margin: 0;
}
.slide-nav ul li {
    padding: 0;
    margin: 0;
    display: inline-block;
}
.slide-nav ul li a {
    color: #6D6D6D;
}
.slide-nav ul li a:hover {
    color: #333;
}

/* Cart */

.cart {
    display: none;
    line-height: 1.4;
    position: absolute;
    /*width: 132px;*/
    z-index: 500;
    top:0px;
    font-size: 0.9em;
    font-family:'Tahoma', 'Avenir-Medium', 'Helvetica', sans-serif;
}

.cart-connect {
    position: absolute;
    height: 20px;
    width: 132px;
    top: -20px;
}

.cart .contents table {
    width: 100%;
}

.cart .contents table .empty {
    text-align: center;
    padding: 0.5em 0;
}

.cart .contents table th {
    padding: 0.5em 0;
    border-bottom: 1px solid #A7A4A4;
    background: #FDFFE7;
}

.cart .contents table tr.even {
    background: #EBEBEB;
}

.cart .contents .qty {
    text-align: center;
    width: 80px;
}

.cart .contents .desc {
    padding: 5px 0  5px 10px;
}

.cart .subtotal {
    padding:0 8px 0 7px;
    text-align:center;
    color:#fff;
    height: 40px;
    margin-top:72px;
}

.cart .subtotal .checkout {
    margin-top:10px;
}


.cart .subtotal p {
    line-height: 24px;
    border:none;
    background:none;
}
.cart .subtotal p span {
    font-size:20px;
}

/* Header Navigation */

.navbar {
    /*position: relative;*//*Changed By PEIPEI*/
    /*top: 0;*/
    width: 100%;
    /*height: 68px;*/ /*Changed By PEIPEI*/
    z-index: 500;
    padding: 0 0 10px;/*Changed By PEIPEI*/
    background:#ffffff;/*Changed By PEIPEI*/
    /*background:url(../img/nav_bg_repeat.png) 0 0 repeat-x;*/
    /* background: rgb(255,255,255); /* IE8 fallback */
    /* background: rgba(255,255,255,0.95);*/
    /*border-bottom: 3px solid #A7A7A7;*/
    /*-webkit-box-shadow: 0 0 15px #000;*//*Changed By PEIPEI*/
    /*-moz-box-shadow: 0 0 15px #000;*//*Changed By PEIPEI*/
    /*box-shadow: 0 0 15px #000;*//*Changed By PEIPEI*/
}

.navbar-inner {
    background:#ffffff;/*Changed By PEIPEI*/
    /*height: 68px;*//*Changed By PEIPEI*/
}
/* Start */
.section-1 {
    float:left;
    position: relative;
    width: 234px;
    padding-top:20px;
}
.section-2 {
    float: left;
    width: 766px;
}
/* End Changed By PEIPEI*/


.navbar-logo {
    float: left;
    /*position: relative;*/
    margin: 0;
    /*line-height: 68px;*//*Changed By PEIPEI*/
    color: #fff;
    font-family:'Tahoma', 'Avenir','Lato', 'Helvetica', serif;
    font-size: 28px;
    /*text-transform: uppercase;*/
}

.navbar-logo a {
    color: #fff;
    font-weight: normal;
}
.navbar-logo a span {
    font-size:22px;
}

.navbar-nav {
    position: relative;
    float: right;
    /*top:3px;*/
    height:65px;
    z-index: 9999;
    font-family:'Tahoma','Avenir-Book','Open Sans', 'Helvetica', serif;
    font-size:15px;
    background:#FFF;/*Changed by PEIPEI*/
}

.navbar-nav ul {
}

.navbar-nav > ul > li {
    position: relative;
    display: inline-block;
    padding: 0;/*Changed by PEIPEI*/
    float:left;
    height:38px;/*Changed by PEIPEI*/

}
/*
.navbar-nav li.selected {
    background:#1a1a1a;
}
.navbar-nav li:hover {
     background:#1a1a1a;
    }
*//*Changed by PEIPEI*/
.navbar-nav li.cart-btn:hover, .navbar-nav li.facebook:hover,.navbar-nav li.twitter:hover {
    background:none;
}
.navbar-nav a {
    display: inline-block;
    color: #fff;
}
/*
.navbar-nav ul > li:hover > a {
    color: #ef4036;
}
.navbar-nav ul > li.cart-btn:hover > a {
    color: #fff;
}
.navbar-nav a.icon_home {
    background:url(../img/icon_home.png) no-repeat;
    background-position:0 3px;
    padding-left:18px;
    }
.navbar-nav a.icon_help {
    background:url(../img/icon_help.png) no-repeat;
    background-position:0 3px;
    padding-left:18px;
    }
.navbar-nav a.icon_contact {
    background:url(../img/icon_contact.png) no-repeat;
    background-position:0 3px;
    padding-left:18px;
    }

.navbar-nav li:hover a.icon_home,.navbar-nav li:hover a.icon_about,.navbar-nav li:hover a.icon_contact {
    background-position:0 -14px;
    }

.navbar-nav ul > li.selected > a {
    display: inline-block;
    background-position:0 -14px;
    color: #3dc9fd;
    padding-left:18px;
    }
*/ /*Changed by PEIPEI*/

.navbar-nav-subnav {
    display: none;
    position: absolute;
    width: 140px;
    /*height: 100px;*/
    left: 15px;/*Changed by PEIPEI*/
    top: 40px;/*Changed by PEIPEI*/
    z-index: 99;/*Changed by PEIPEI*/
}

.navbar-nav-subnav ul {
    position: absolute;
    border-top: 0;
    background: #dc1685;/*Changed by PEIPEI*/
    /*left:10px;
    top:17px;*//*Changed by PEIPEI*/
}
.navbar-nav-subnav li {
    /*padding:15px 10px 0px;*//*Changed by PEIPEI*/
    display:block;
    list-style:inside none;
    padding:0;
    margin:0;
    position:relative;
    border-bottom:1px solid #fff;
}

.navbar-nav-subnav a {
    outline:none;
    display:block;
    position:relative;
    margin:0;
    padding:8px 10px;
    font-size:14px;
    color:#fff;/*Changed by PEIPEI*/
    text-decoration:none;
}
/*
.navbar-nav-subnav a:hover {
    background:#494949;
    background:-moz-linear-gradient(top, #494949 0%, #343434 100%);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #494949), color-stop(100%, #343434));
    background:-webkit-linear-gradient(top, #494949 0%, #343434 100%);
    background:-o-linear-gradient(top, #494949 0%, #343434 100%);
    background:-ms-linear-gradient(top, #494949 0%, #343434 100%);
    background:linear-gradient(top, #494949 0%, #343434 100%);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#494949', endColorstr='#343434', GradientType=0 );
    }
*//*Changed by PEIPEI*/

.navbar-nav #navOtherTickets:hover .navbar-nav-subnav {
    display: block;
}
.navbar-nav #navFb:hover .navbar-nav-subnav {
    display: block;
}

.follow-us {
    display:block;
    background:url(../img/follow-bg.png) 0 0 no-repeat;
    width: 190px;
    height: 38px;
    line-height: 38px;
    padding-left: 40px;
    color: #fff;
    float:right;
}
.social-media {
    margin: 0 0 0 5px;
}
.navbar .cart-btn {
    /*position: relative;*//*Changed by PEIPEI*/
    width:332px;
    display: block;
    float:right;
    padding:5px 0;
    margin-right:25px;
}

.navbar .cart-btn a{
    /*position:absolute;*//*Changed by PEIPEI*/
    display:block;
    width:132px;
    /*height:80px;*//*Changed by PEIPEI*/
    color: #dc1685;/*Changed by PEIPEI*/
    text-align:right;/*Changed by PEIPEI*/
    font-weight: normal;
    /*padding-top:15px; *//*Changed by PEIPEI*/
    /*background: url(../img/cart_default_bg-01.png) no-repeat;*/
    /*background-position:0 0;*/
}
.navbar .cart-btn span {
    margin-left:10px;
}

/* Product Categories */

.container {
    /*position: relative;*/ /*Changed by PEIPEI*/
    padding-top: 10px; /*Changed by PEIPEI*//*prev 40px*//*prev 90px*/
    text-align: center;
    background:#fff;
    -webkit-box-shadow: 0 0 12px #b3b3b3;
    -moz-box-shadow: 0 0 12px #b3b3b3;
    box-shadow: 0 0 12px #b3b3b3;
}

.contain-left {
    text-align: left;
}

.leftside_bar {
    width:752px;
    float:left;
    margin-bottom:15px;
}
.tickets_heading {
    font-family:'Tahoma','Avenir-Medium','Open Sans', 'Helvetica', serif;
    background:url(../img/ticket_heading_bg.png) 0 0 no-repeat;
    /*margin-left:-17px;*/ /*Changed by PEIPEI*/
    height:45px;/*Changed by PEIPEI*/
    line-height:45px;/*Changed by PEIPEI*/
    text-align:left;
    color:#fff;
    font-size:18px;
    padding-left:25px;
    margin-right: 12px;/*Changed by PEIPEI*/
}
/*.tickets_content {
    position:relative;
    }*/

.leftside_bar li {
    float:left;
    margin:10px 0 0 10px;
    /*position:absolute;*/
    position:relative;
    overflow: hidden;
}
.category {
    display: inline-block;
    width: 236px;
    height:182px;
    position:relative;
    /*background: rgb(255,255,255); IE8 fallback
   background: rgba(255,255,255,0.95);
   margin: 10px 5px 0 5px;
   top:0;
   left:0;*/
}

.leftside_bar li a span {
    display: none;
    font-size: 12px;
    height: 100%;
    position: absolute;
    text-align: center;
    line-height:212px;
    text-decoration: none;
    width: 100%;
    z-index: 100;
}

.book_btn {
    /*background-color: rgba(15, 15, 15, 0.6);*/
    color: #fff;
    text-shadow: #000 0px 0px 20px;
}



.leftside_bar img {
    height: 100%;
    width: 100%;
    background-color: #000;
    position:relative;
}
.leftside_bar h3 {
    width: 100%;
    height:40px;/*Changed by PEIPEI*/
    line-height:40px;/*Changed by PEIPEI*/
    background:url(../img/category-title-bg.png) 0 0 no-repeat;/*Changed by PEIPEI*/
    font-size: 18px;
    color: #fff;/*Changed by PEIPEI*/
    position:absolute;
    bottom:-18px;
    z-index: 99;
    text-align:center;
    text-shadow:0px 1px 4px #000;/*Changed by PEIPEI*/
    /*filter:alpha(opacity=80);*/ /*Changed by PEIPEI*/ /* for IE8 and earlier */
    opacity:.8; /* for IE9 and other browsers */
    font-weight: normal; /* TODO */
    font-family:'Tahoma','Avenir','Open Sans', 'Helvetica', serif;
}
.leftside_bar .category:hover h3 {
    filter:alpha(opacity=95); /* for IE8 and earlier */
    opacity:.95; /* for IE9 and other browsers */

}

.category .content {
    margin-top: 0.5em;
}


.category .content p {
    display: inline-block;
    margin: 1.5em 0 0 0;
    padding: 0.5em 10px 1em 10px;
    background: #e5fde5;
    border-top: 1px solid #dfdfdf;
    text-align: left;
    font-family: 'Tahoma','gentium book basic';
}


/* News Section rightside_bar */

.rightside_bar {
    background:#eee;
    width:238px;
    float:right;
    /*margin-top:2px;*//*Changed by PEIPEI*/
    /*padding-top:10px;*//*Changed by PEIPEI*/
    padding-bottom: 10px; /* TODO */
    margin-right:10px;
}

.news_heading {
    font-family:'Tahoma','Avenir-Medium','Open Sans', 'Helvetica', serif;
    background:url(../img/news_heading_bg.png) right 0 no-repeat;
    width:212px;/*Changed by PEIPEI*/
    overflow:hidden;
    /*margin-right:-29px;*//*Changed by PEIPEI*/
    height:45px;/*Changed by PEIPEI*/
    line-height:45px;/*Changed by PEIPEI*/
    color:#fff;
    font-size:18px;
    float:right;
    text-align:right;
    padding-right:26px;
}
.news_list {
    padding:0 10px 20px;
    overflow-x:hidden;
    overflow-y:scroll;
    width:218px;
    height:343px;
    font-size:12px;
    color:#333;
}
.news_list .newsbite {
    float:left;
    text-align:left;
}
.newsbite {
    padding:10px 0;
    border-bottom:1px dotted #aaa;
}
.newsbite h2.heading {
    padding:0;
    margin:0;
    padding-bottom:5px;
    margin-bottom:5px;
    font-size:12px;
    line-height:1.2em;
    color:#729e00;
}
.newsbite p.description{
    padding:0;
    margin:0;
    margin-bottom:10px;
    font-size:11px;
    color:#333;
}
.newsbite a.promotion_img {
    display:block;
    margin-bottom:5px;
}
.newsbite a.promotion_img img {
    border:none;
    padding:0;
    margin:0;
    width:202px;
    height:140px;
}

.newsbite a.more-info {
    float:right;
    /* line-height:14px; */
    text-decoration:none;
    background:url(../img/more-info-bg.png) 0 0 no-repeat;/*Changed by PEIPEI*/
    color:#fff;
    /* font-size:11px; */
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-align: center;
    width: 51px;
    height: 36px;
    line-height: 1;
    padding-top: 4px;
}
/*
.newsbite a.more-info:hover {
background-color:#226d9e;
}
*/

/* Footer */

.footer {
    position: relative;
    /* top: 55px; */
    /*background: #ef4036;*//*Changed by PEIPEI*/
    color:#ffffff;
    font-size: 0.9em;
    font-family:'Tahoma','Avenir-Medium','Open Sans', 'Helvetica', serif;

}

.footer .contain {
    /*background: #ef4036;*//*Changed by PEIPEI*/
}

.footer .copyright {
    position: relative;
    /*float: left;*/
    text-align: left;
    display: inline-block;
    margin: 0;
    line-height: 3em;
    color: #666666;/*Changed by PEIPEI*/
}

.footer-menu {
    display: inline-block;
    text-align: right;
    float: right;
}

.footer-menu li {
    display: inline-block;
    line-height: 3em;
    margin-left: 2em;
}

.footer-menu li a {
    /* color: #9E9E9E; */
    color: #da1684;/*Changed by PEIPEI*/
}

.footer-menu li a:hover {
    text-decoration:underline;/*Changed by PEIPEI*/
}

/* Process */
.booking-process {
    background:url(../img/step-bg.png) 0 0 no-repeat;
    width:970px;
    margin:0 15px 20px;/*Changed by PEIPEI*/
    height:41px;
    text-align:left;
    line-height:41px;
    color:#ffffff;
    font-size:18px;
    padding-left:52px;
}
.booking-process-step2 {
    background:url(../img/step-bg.png) 0 -51px no-repeat;
    width:970px;
    margin:20px 15px;
    height:41px;
    text-align:left;
    line-height:41px;
    color:#ffffff;
    font-size:18px;
    padding-left:52px;
}
.booking-process-step3 {
    background:url(../img/step-bg.png) 0 -102px no-repeat;
    width:970px;
    margin:20px 15px;
    height:41px;
    text-align:left;
    line-height:41px;
    color:#ffffff;
    font-size:18px;
    padding-left:52px;
}
.category-title {
    font-size:16px;
}


/* Items Panel */

.item-panel {
    float: left;
    width: 256px;
    text-align: left;
    margin-left:15px;
}

.select-ticket {
    background: #3F3F3F;
    color: #FFF;
    margin: 0 0 3px -18px;
    text-align: left;
    padding-left:33px;
    font-size: 18px;
    cursor: pointer;
    background:url(../img/select-ticket-bg.png) 0 0 no-repeat;
    height:40px;
    line-height:28px;
    font-family: 'Tahoma', 'Avenir-Book', 'Raleway', sans-serif;
    font-weight: normal;
}

.item-category-list {
    display:inline-block;
    margin-bottom:10px;
}
.item-panel .item-category-list li {
    display:block;
    margin:0;
    width:256px;
    float:left;

}

.item-panel .item-category {
    display:block;
    background:#666666;/*Changed by PEIPEI*/
    color:#fff;
    padding:8px;
    width:240px;
    font-size:14px;
    font-weight:400;
}
.item-panel .item-category img {
    margin-top:-6px;
    margin-right:5px;
}
.icon-chevron-right {
    font-size:10px;
    margin-top:4px;
    float:left;
}

.item-panel .item-title {
    width:214px;
    float:left;
}
.item-panel .item-title-list li {
    background:#faf8f6;
    border-bottom:1px dotted #bbbbbb;
    display:block;
    padding:8px;
    width:240px;
    margin:0;
    float:left;
}
.item-panel .item-title-list li a {
    width:auto;
    color:#404040;
    height:100%;
    font-size:13px;
}
.item-panel .item-title-list li:hover,.item-panel .item-title-list li.selected {
    background:#0093cd;/*Changed By PEIPEI*/
}
.item-panel .item-title-list li:hover a,.item-panel .item-title-list li.selected a {
    color:#ffffff;
}
.item-panel .item-title-list li .icon-chevron-right {
    margin-right:10px;
}
.item-mktg {
    margin: 1em 0;
    text-align: center;
}

.item-mktg img {
    width: 256px;
    height: 465px;
    background-color: #000;
}


/* Ticketing Form */

.form-panel {
    float: left;
    width: 699px;
    background: #FFF;
    margin-bottom: 28px;
    margin-left:15px;
    margin-right:15px;
    margin-top: 30px;
}
.separator {
    margin: 0.5em 1em;
}

.info-panel {
    display:none;
}

.item-details {
    text-align:left;
    margin-bottom:10px;
    display:block;
}

.item-details h2 {
    line-height: 24px;
    color:#df0385; /*Changed by PEIPEI*/
    font-size: 24px;
    font-family: 'Tahoma', 'Avenir', 'Raleway', sans-serif;
    text-align:left;
    font-weight:500;
    padding:3px 10px 14px;
    margin:0;
    border-bottom:1px dashed #ccc8c8;
}

.item-content {
    width:699px;
    height:auto;
    display:block;
    float:left;

}
.item-date-visit {
    width:310px;
    /*height:260px;*/
    /*background:#fafafa;*/
    float:left;
    padding:10px;
}

.item-date-display{
    width:310px;
    text-align:center;
    font-weight:600;
    vertical-align:middle;
    margin-bottom:10px;
    padding-top:10px;/*Changed by PEIPEI*/
    background:#daeef8;/*Changed by PEIPEI*/
}
.item-date-display input {
    /* padding:5px 10px; please use .field class */
    width:140px;
    margin-left:10px;
}

.item-date-calender {

}
.item-intro {
    float:left;
    width:369px;
}
.product-image {
    width: 369px;
    max-height:276px;
}

.item-intro .item-desc {
    width:369px;
}
.item-intro .item-desc p{
    color:#333333;
    /*max-height:106px;*/
    overflow:hidden;
    width:359px;
    margin:0;
    padding:5px;
    font-size:13px;
    text-align:justify;

}

.item-intro .item-desc .opacity_bg {
    background:#000000;
    filter:alpha(opacity=50); /* for IE8 and earlier */
    opacity:.5; /* for IE9 and other browsers */
    height:100px;
    width:369px;
    position:absolute;
    bottom:0;
    left:0px;
    padding:0;
    margin:0;
}
.item-content-dinner {
    width:699px;
    height:276px;
    border-bottom:1px dashed #ccc8c8;
}
.item-description {
    float:left;
    width:306px;
    height:256px;
    font-size:13px;
    padding:10px 12px;
    overflow:auto;
}
.item-description p {
    padding:0;
    margin:5px 0;
}
.item-description ul {
    list-style: disc;
    margin: 5px 0;
    padding: 0 20px;
}
.dinner-product-image {
    width: 369px;
    max-height: 276px;
}

/*Booking Summary*/
.booking-summary {
    text-align: left;
    width: 100%;
    border-collapse: collapse;
}
.booking-summary td {
    padding: 5px 10px;
    color: #333;
}
.booking-summary td.label {
    width: 20%;
    font-weight: bold;
}
.booking-summary td.text {
    width: 80%;
    font-weight: bold;
}

/*Ticket Form*/

.ticket-form {
    text-align: center;
    width:100%;
    border-collapse:collapse;
}
.ticket-form th {
    padding:8px 10px;
    /* background:#404040; */
    background:#0093cc;/*Changed by PEIPIE*/
    font-weight:400;
    color:#ffffff;
}
.ticket-category {
    text-align:left;
}
.ticket-form td {
    padding:5px 10px;
    color:#333;
    border-top:1px dotted #ccc8c8 ;
}
.ticket-form td.ticket-sub-form {
    padding:0;
    border:none;
}
.ticket-total {
    border-top:2px solid #40cde5;
    margin-top:10px;
    text-align:right;
    padding:10px 20px 15px 0;
}
.ticket-total .total-price {
    font-size:18px;
    padding-left:15px;
}
.btn-field {
    width:100%;
    text-align:center;
    display:inline-block;
    margin-bottom:15px;
}
.submit-btn{
    width:330px;
    margin:0 auto;
}
.submit-btn a {
    color:#ffffff;
    /* -webkit-box-shadow: 3px 3px 0 0 #616161;
    box-shadow: 3px 3px 0 0 #616161;*/
}
.submit-btn a.back {
    width:150px;
    height:40px;
    line-height:40px;
    /* float:left; TODO no need to use float la! can use inline-block la! */
    display: inline-block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #BEBEBE;
    background-image: -webkit-linear-gradient(top, #BEBEBE, #929292);
    background-image: -moz-linear-gradient(top, #BEBEBE, #929292);
    background-image: -ms-linear-gradient(top, #BEBEBE, #929292);
    background-image: -o-linear-gradient(top, #BEBEBE, #929292);
    background-image: linear-gradient(top, #BEBEBE, #929292);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr=' #BEBEBE', EndColorStr='#929292');
    border:1px solid #929292;
}
.submit-btn a.addToCart {
    width:150px;
    height:40px;
    line-height:40px;
    /* float:left; TODO no need to use float la! can use inline-block la! */
    display: inline-block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #d52185;
    background-image: -webkit-linear-gradient(bottom, #de228b, #cb1f7f);
    background-image: -moz-linear-gradient(bottom, #de228b, #cb1f7f);
    background-image: -ms-linear-gradient(bottom, #de228b, #cb1f7f);
    background-image: -o-linear-gradient(bottom, #de228b, #cb1f7f);
    background-image: linear-gradient(bottom, #de228b, #cb1f7f);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr=' #de228b', EndColorStr='#cb1f7f');
    border:1px solid #b20064;
}
.submit-btn a.chectOut {
    width:150px;
    height:40px;
    line-height:40px;
    float:left;
    display: inline-block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #d52185;
    background-image: -webkit-linear-gradient(bottom, #de228b, #cb1f7f);
    background-image: -moz-linear-gradient(bottom, #de228b, #cb1f7f);
    background-image: -ms-linear-gradient(bottom, #de228b, #cb1f7f);
    background-image: -o-linear-gradient(bottom, #de228b, #cb1f7f);
    background-image: linear-gradient(bottom, #de228b, #cb1f7f);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr=' #de228b', EndColorStr='#cb1f7f');
    border:1px solid #b20064;
}
/*.submit-btn a:hover {
    -webkit-box-shadow: 3px 3px 0 0 #333333;
    box-shadow: 3px 3px 0 0 #333333;
    }*/
.promotion-sub-category {
    width:100%;
    border:1px solid #e0e0e0;
    border-top:1px solid #ffffff;
}
.promotion-sub-category th {
    background:#f0f0f0;
    padding:10px 20px 10px 10px;
    margin:0;
    text-align:left;
    color:#333;
    font-weight:600;
}
.promotion-sub-category th img {
    margin-right:5px;
    margin-top:-5px;
}
.promotion-sub-category th input {
    border:2px solid #0093cc;/*Changed by PEIPEI*/
    width:173px;
    margin-left:10px;
    font-size:12px;
    font-family: 'Tahoma', 'Avenir-Book', 'Open Sans', 'Helvetica', serif;
}
.promotion-sub-category td {
    padding:5px 30px;
    color:#333;
    border-top:1px dotted #ccc8c8 ;
}
.ticket-form .first-record td {
    border:none;
}
.ticket-form .first-record td.dining-date {
    padding:10px 0 20px 185px;
    margin:0;
}
.ticket-form .first-record td.dining-date span.dining-date-title,.ticket-form .first-record td.dining-date img,.ticket-form .first-record td.dining-date select {
    float:left;
}
.ticket-form .first-record td.dining-date span.dining-date-title {
    margin:0;
    padding:0 10px;
    line-height:22px;
    float:left;
    font-weight:600;
    font-size:16px;

}
td.main-course-diners {
    border:none;
    text-align:left;
    font-size:13px;
    color:#999;

}

.form-field {
    display: block;
    margin: 0 15px 10px;
    vertical-align: top;
}

.field-title {
    display: inline-block;
    width: 135px;
    margin: 0 5px 0 5px;
}
.field {
    display: inline-block;
    margin: 0;
    width:auto;
    height: 18px;
    line-height:20px;
    padding: 4px 5px;
    border: 1px solid #bbb;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    background-color: #fff;
    background-image: -webkit-linear-gradient(top, rgb(255, 255, 255), rgb(245, 245, 245));
    background-image: -moz-linear-gradient(top, rgb(255, 255, 255), rgb(245, 245, 245));
    background-image: -o-linear-gradient(top, rgb(255, 255, 255), rgb(245, 245, 245));
    background-image: -ms-linear-gradient(top, rgb(255, 255, 255), rgb(245, 245, 245));
    background-image: linear-gradient(top, rgb(255, 255, 255), rgb(245, 245, 245));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f5f5f5', EndColorStr='#ffffff');
}
select {
    font-family: 'Tahoma', 'Avenir-Book', 'Open Sans', 'Helvetica', serif;
    font-size:14px;
}
select.field {
    width:auto;
    height: 26px;
    padding:2px 5px;
}

textarea.field {
    height: auto;
}

.field-xl, select.field-xl {
    width: 300px;
}

.field-xs, select.field-xs {
    width: 100px;
}

.field-s, select.field-s {
    width: 150px;
}

.field-xxs, select.field-xxs {
    width: 60px;
}

.qty-note {
    display: inline-block;
    line-height: 30px;
    height: 30px;
    font-size: 0.8em;
    margin-left: 10px;
    color: gray;
}

.main-course-note {
    display: block;
    font-size: 0.9em;
    margin: 0 5px 10px 20px;
    color: #333;
}

.main-course-note-diners {
    font-weight: bold;
    margin:0 10px;
}
.subform {
    margin: 20px 0;
    /*border: 1px solid #ccc;*/
}

.subform-header {
    display: inline-block;
    text-align:left;
    margin:0 0 20px 0;
    /* background: #333; */
    font-size: 16px;
    font-weight: 600;
    line-height:24px;
    color: #40cde5;
    border-bottom:1px solid #ccc;
    padding:5px 20px;
    width: 639px;
}
.subform-header i {
    float:right;
    font-size:14px;
}
.promo-use {
    text-align: center;
    margin: 0.3em 0;
}

.promo-use label {
    display: block;
    text-align: center;
}

.promo-use input {
    padding: 0;
    margin: 0;
    vertical-align: middle;
    position: relative;
    top: -1px;
}

.promo-selection {
    text-align: center;
    margin-bottom: 1em;
}

.promo-btn {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #333;
    background-image: -webkit-linear-gradient(bottom, #333, #4c4c4c);
    background-image: -moz-linear-gradient(bottom, #333, #4c4c4c);
    background-image: -ms-linear-gradient(bottom, #333, #4c4c4c);
    background-image: -o-linear-gradient(bottom, #333, #4c4c4c);
    background-image: linear-gradient(bottom, #333, #4c4c4c);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr=' #333', EndColorStr='#4c4c4c');
    color: #fff;
    font-size: 1em;
    margin-right:15px;
}

.promo-btn:hover {
    background: #3ca7ba;
    background-image: -webkit-linear-gradient(top, #50cfe6, #3ca7ba);
    background-image: -moz-linear-gradient(top, #50cfe6, #3ca7ba);
    background-image: -ms-linear-gradient(top, #50cfe6, #3ca7ba);
    background-image: -o-linear-gradient(top, #50cfe6, #3ca7ba);
    background-image: linear-gradient(top, #50cfe6, #3ca7ba);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#3ca7ba', EndColorStr='#50cfe6');
    color: #fff;
    border:1px solid #379caf;
}

.promo-btn-selected {
    background: #3ca7ba;
    background-image: -webkit-linear-gradient(top, #50cfe6, #3ca7ba);
    background-image: -moz-linear-gradient(top, #50cfe6, #3ca7ba);
    background-image: -ms-linear-gradient(top, #50cfe6, #3ca7ba);
    background-image: -o-linear-gradient(top, #50cfe6, #3ca7ba);
    background-image: linear-gradient(top, #50cfe6, #3ca7ba);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#3ca7ba', EndColorStr='#50cfe6');
    color: #fff;
    border:1px solid #379caf;
    position:relative;
}

.promo-btn-selected span.arrow {
    position:absolute;
    display:block;
    overflow:hidden;
    width:0px;
    height:0px;
    padding:0;
    font-size:0;
    border:8px dashed transparent;
    border-top-style:solid;
    border-top-color:#3da8bb;
    bottom:-15px;
    left:50px;
}
.promo-content {
    display: none;
    margin: 0.5em 0 0.5em 100px;
    width:440px;
    text-align:center;
    background:#f7f7f7;
    border:1px solid #ccc;
    padding:15px 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.promo-content hr {
    padding:0;
    margin:10px 0;
}
.promo-content .field-title {
    text-align:left;
    width:150px;
}
.topups-field {
    margin-bottom: 10px;
}

.topups-title {
    display: inline-block;
    width: 400px;
    margin: 0 10px 0 20px;
}

/*.ticket-form .subtotaler {
    display: block;
    margin: 0 0 10px 0;
    height: 1.5em;
    line-height: 1.5em;
    font-size: 1.2em;
    padding: 10px 0 0 205px;
    border-top: 2px solid #ccc;
}

.ticket-form .st-passive {
    color: #ccc;
}

.ticket-form .st-active {
    color: #fb2e93;
}

.ticket-form .add-to-cart {
    text-align:center;
    width: 150px;
    left:275px;
    position: relative;
}

*/
.display-msg {
    text-align: left;
    margin: 10px 30px;
    padding: 5px 10px;

}

.msg-error {
    background: #FFD0D0;
    border: 1px solid #A71414;
    color: #A71414;
}

.msg-success {
    background: #D2FFD0;
    border: 1px solid #3DA714;
}

.text-failed {
    color: #A71414;
}

.text-success {
    color: #3DA714;
}

.item-notes {
    text-align: left;
    background: #f8f8f8;
    border: 1px dotted #ddd;
    padding:10px;
    font-size:14px;
    color:#666;
}

.item-notes h6 { /* TODO */
    margin: 0;
    padding: 0;
    font-size:13px;
    color:#333;
}

.item-notes ul {
    list-style: disc;
    font-size: 0.9em;
    margin: 5px 0 0 20px;
}

.default-ul {
    list-style: disc;
    margin: 5px 0 0 20px;
}

/* Checkout */

.basic-content {
    text-align: left;
    min-height: 300px;
    background: #FFF;
    padding:0 0 20px;
}

.basic-content .checkout {
    margin: 0 20px 10px;
    padding: 0.5em 0 0.5em 0;
    font-size:24px;
    border-bottom:1px solid #ddd;/*Changed by PEIPEI*/
    font-weight:bold;
}

.checkout h2 {
    display: inline;
    font-size: 24px;
    font-family: 'Tahoma', 'Avenir-Medium','Open Sans', 'Helvetica', serif;
}

.clear-cart {
    color: #FFFFFF;
    border: 1px solid #A31C1C;
    padding: 4px 5px;
    text-align:right;
    font-size:12px;
    float:right;
    background: #A31C1C;
    margin:0 20px;
}

a.clear-cart:hover {
    background: #ea2e2e;
    border: 1px solid #ea2e2e;
}
.timer-msg {
    float:right;
    font-size:16px;
    margin-top:10px;
    font-weight:normal;
}
.confirm-timer {
    font-weight:bold;
    font-size:18px;
    color: red;
}
.checkout-summary, .grand-total{
    width: 95%;
    margin: 0 2.5% 0 2.5%;
    border-collapse:collapse;
}
.checkout-summary {
    margin-top:0;
}

.row-title th {

    font-size: 1em;
    padding: 10px 0;
    text-align: left;
    font-weight:600;
}

.row-header th {
    text-align: center;
    padding: 5px 0;
    background: #0093cc;/*Changed By PEIPEI*/
    color: #fff;;
    font-size:0.92em;
    font-weight:normal;
}

.row-header th.left_row {
    text-align:left;
    padding-left:10px;
}

.section-main .even {
}

.row-main td {
    font-size: 0.85em;
    padding: 15px 10px;
    border-bottom: 1px solid #ddd;
    text-align:center;
}

.row-main .cell-item {
    font-size: 1em;
    text-align:left;
    color:#333;
}
.row-main .cell-book-fee {
    font-size: 1.15em;
}

.row-main .cell-desc {
    text-align:left;
}

.row-topup {
    background: #F3F3F3;
}

.row-topup td {
    padding: 7px 10px;
}

.row-topup .cell-item {
    padding-left: 30px;
}

.cell-desc .highlight {
    color: #0D45A7;
}

.cell-desc .mc-line {
    display: inline-block;
    margin-left: 10px;
}

.row-main .cell-unit {
    text-align: center;
}

.row-main .cell-qty {
    text-align: center;
}

.row-main .cell-sub {
    text-align: center;
}

.row-main .cell-remove {
    text-align: center;
}

.cell-remove a {
    color: #ea2e2e;
}

.row-subtotal {

}

.row-subtotal td {
    padding: 10px 0;
    font-weight: bold;
    border-bottom:1px solid #ddd;
}

.row-subtotal .cell-subtotal-waive {
    font-size:14px;
    padding-left:10px;
}

.row-subtotal .cell-subtotal-lbl {
    text-align: right;
    text-transform: uppercase;
}

.row-subtotal .cell-subtotal-amt {
    text-align: center;
}

.grand-total {
    text-align: right;
    padding:20px 0;
}

.grand-total .grand-total-text {
    display: inline-block;
    margin-right: 53px;
    font-size: 1.5em;
    font-weight:bold;
}

.grand-total .grand-total-amt {
    display: inline-block;
    margin-left: 20px;
    color: #dc1685;
}

.promo-bar {
    width: inherit;
    margin: 0 2.5% 20px 2.5%;
    border-collapse: collapse;
    background: #d9eef7;
    border: 1px dotted #bbb;
    padding: 10px 10px 10px 0;
    vertical-align: middle;
}

.promo-form {
}

.promo-form button {
    background-image: -webkit-linear-gradient(top, #0092cb, #0086ba);
    background-image: -moz-linear-gradient(top, #0092cb, #0086ba);
    background-image: -ms-linear-gradient(top, #0092cb, #0086ba);
    background-image: -o-linear-gradient(top, #0092cb, #0086ba);
    background-image: linear-gradient(top, #0092cb, #0086ba);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#0092cb', EndColorStr='#0086ba');
    color: #fff;
    border: 1px solid #0176a3;
    border-radius: 4px;
    padding: 4px 10px 4px 10px;
    text-align: center;
    text-shadow: 1px -1px 0 #3999aa;
    width: auto;
}

.promo-form .promo-header {
    background: #0093cc;
    color: #fff;
    height: 20px;
    display: inline-block;
    padding: 5px 0 5px 5px;
    vertical-align: middle;
}

.promo-form .arrow-right {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 10px solid #0093cc;
    display: inline-block;
    vertical-align: middle;
}

.promo-form .promo-title {
    width: auto;
    display: inline;
}

.promo-form .promo-field {
    display: inline;
}

.promo-field select {
    width: 142px;
}

.promo-field input {
    width: 142px;
}

.checkout-details {
    width: 91%;
    margin: 0 2.5% 0 2.5%;
    border-collapse:collapse;
    padding:0 2% 0 2%;
    background:#d9eef7;/*Changed by PEIPEI*/
    border:1px dotted #bbb;
    padding-bottom:15px;
}

.checkout-details h3 {
    margin:0 0 15px 0;
    padding:0;
    font-weight:bold;
    padding:10px 0;
    border-bottom:1px dotted #bbb;
}
.checkout-details h3 i {
    margin-right:5px;
}

.required-ind {
    color: red;
}

.checkout-form {
}

.checkout-form .field-title {
    width: 120px;
}

.fieldset-nric {
    display: inline-block;
    margin: 0;
    background: #e0e0e0;
    height: 30px;
    padding: 0 10px;
    vertical-align: middle;
    line-height: 30px;
}

.button-panel {
    margin: 1.5em 0;
    text-align: center;
}
.button-panel .btn-checkout {
    margin-right:20px;
    font-size: 1.2em;
}
.checkout-form .form-field {
    display: inline-block;
    min-width: 360px;
}

.mktg-bottom {
    width:952px;
    height:120px;
    margin:10px auto 0;
    text-align: center;
}
.mktg-receipt-bottom {
    width:850px;
    height:120px;
    margin:10px auto;

}



/* Receipt */

.order-message {
    width: 90%;
    margin: 10px 5%;
}

.order-print {
    width: 90%;
    margin: 20px 5% 5px 5%;
}

.order-print a:link {
    color:#008CDB;
}

.receipt-wrapper {
    display: block;
    width: 90%;
    margin: 15px 5%;
    border: 1px solid #ccc;
    padding: 5px;
}
.show-logos {
    margin: 10px;
}
.receipt-header {
    margin: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid #333;
    margin-top: 20px;
}

.receipt-part, .pin-part, .barcode {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

.receipt-part {
    width: 40%;
}

.pin-part {
    width: 20%;
}

.barcode {
    text-align: right;
    width: 39%;
}

.barcode img {
    width: 150px;
    height: 60px;
}

.receipt-title, .pin-title, .receipt-number, .pincode {
    display: block;
}

.receipt-number {
    font-size: 1.7em;
    font-weight: normal;
}

.pincode {
    font-size: 2.3em;
    font-weight: bold;
}

.receipt-intro {
    margin: 15px;
    font-size: 0.95em;
}

.receipt-intro p {
    margin: 10px 0;
}

.receipt-deets {
    margin: 15px 25px;
    font-size: 1em;
    padding: 5px 0;
    border-top: 1px solid #555;
    border-bottom: 1px solid #555;
}

.receipt-deets .deets-label {
    display: block;
    margin: 3px 0;
}

.receipt-deets .deets-value {
    font-weight: bold;
}

.receipt-wrapper .checkout-summary {
    font-size: 0.9em;
    width: 100%;
    margin: 15px 0;
    margin-bottom: 0em;
}

.receipt-wrapper .row-main td {
    padding: 5px 10px;
}

.receipt-wrapper .row-topup .cell-item {
    padding-left: 30px;
}

.receipt-wrapper .grand-total .grand-total-text {
    margin-right: 10px;
}

.receipt-wrapper .notes, .receipt-wrapper .tnc {
    margin: 5px 25px;
    border: 1px solid #AAA;
    padding: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 0.85em;
    color: #666;
}

.receipt-wrapper .notes h3, .receipt-wrapper .tnc h3, .receipt-wrapper .notes p, .receipt-wrapper .tnc h4 {
    margin: 5px 0;
}

.tnc .tnc-nugget ul {
    list-style: disc;
    padding-left: 20px;
}

/* Static Pages */

.single-col-content {
    text-align: left;
    background:#FFF;
    width:960px;
    padding:0 20px;
    min-height:600px;
}
.single-col-content .static-heading {
    /*background:url(../img/heading_bg.png) 0 center no-repeat;*/ /*Changed by PEIPEI*/
    text-align:left;/*Changed by PEIPEI*/
    width:886px;
    margin:0;
    padding:0 0;
}
.single-col-content .static-heading h2 {
    background:#fff;
    display:inline-block;
    padding:15px 0;
    margin:0;
    font-family: 'Tahoma','Avenir-Medium', 'Open Sans';
    font-size:28px;
    font-weight:bold;
    color:#666;
}
.single-col-content h3 {
    color:#0093cc;
}
.static-banner {
    text-align: center;
    padding:0;
    border:0;
    margin:0;
}
.static-contact-us {
    background:url(../img/contact-us-bg.jpg) 0 0 no-repeat;
    height:424px;
    display:block;
    padding-left:570px;
    padding-top: 10px;
}

.static-contact-us h1 {
    text-transform: uppercase;
}
.brand-introduction {
    width:100%;
    position:relative;
}
.brand-logo {
    position:absolute;
    top:-60px;
    left:41px;/*Changed by PEIPEI*/

}
.brand-history {
    float:right;
    width:700px;/*Changed by PEIPEI*/
    text-align:justify;
    font-size:13px;
}
.contact-content {
    float:left;
    margin-top:15px;
}
.contact-content li {
    display:inline-block;
    list-style:none;
    padding:0 15px;
    float:left;
    height:153px;
    min-width:190px;
    border-right:1px dotted #ccc;
    max-width:290px;
    font-size:13px;
    color:#666;
}
.contact-content li p {
    padding:0 0 10px 0;
    margin:0;
    line-height:16px;
}

.contact-content li i, .contact-content li p img{
    display:inline-block;
    padding:0;
    color:#666;
    margin-right:5px;
}
.contact-content li p img {
    margin-top:2px;
    float:left;
    margin-left:2px;
}
.contact-content  li.left-column .icon-map-marker {
    float:left;
    margin-top:4px;

}
.contact-content  li.left-column .address {
    display:block;
    display:inline-block;
}
.contact-content li.right-column {
    border:none;
    padding-right:0;
}
.contact-content li h3 {
    font-size:15px;
    line-height:18px;
    padding:0;
    margin:0 0 10px 0;
    height:38px;
    font-weight:500;
    color:#000;
}

.feedback-form {
    width: 600px;
    margin: 0 auto;
    background: #D9F3DE;
    padding: 2em 1em;
    border: 1px solid #78C284;
}

/* General */

.main-selector {
    display: inline-block;
    background-color: #FFFBD2;
    background-image: -webkit-linear-gradient(top, #FFFBD2, #FAD336);
    background-image: -moz-linear-gradient(top, #FFFBD2, #FAD336);
    background-image: -ms-linear-gradient(top, #FFFBD2, #FAD336);
    background-image: -o-linear-gradient(top, #FFFBD2, #FAD336);
    background-image: linear-gradient(top, #FFFBD2, #FAD336);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#FAD336', endColorstr='#FFFBD2', GradientType=0 );
    border: 1px solid #FAD336;
    border-bottom: 1px solid #D1CC51;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 0 0 #F0EC93;
    box-shadow: inset 0 1px 0 0 #F0EC93;
    color: #3A3A3A;
    padding: 0.3em 0 0.2em 0;
    font-size: 1.2em;
    text-align: center;
    text-shadow: 0 -1px 0 #F9FFCA;
    width: 150px;
}

.main-selector:hover {
    background-color: #F8EC6B;
    background-image: -webkit-linear-gradient(top, #F8EC6B, #E9BB00);
    background-image: -moz-linear-gradient(top, #F8EC6B, #E9BB00);
    background-image: -ms-linear-gradient(top, #F8EC6B, #E9BB00);
    background-image: -o-linear-gradient(top, #F8EC6B, #E9BB00);
    background-image: linear-gradient(top, #F8EC6B, #E9BB00);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#E9BB00', endColorstr='#F8EC6B', GradientType=0 );
}

.cupid-green {
    background-color: #7fbf4d;
    background-image: -webkit-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: -moz-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: -ms-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: -o-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: linear-gradient(top, #7fbf4d, #63a62f);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#63a62f', endColorstr='#7fbf4d', GradientType=0 );
    border: 1px solid #63a62f;
    border-bottom: 1px solid #5b992b;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
    box-shadow: inset 0 1px 0 0 #96ca6d;
    color: #fff;
    font-size: 1.2em;
    padding: 10px 0 10px 0;
    text-align: center;
    text-shadow: 0 -1px 0 #4c9021;
    width: 150px;
}

.cupid-green:hover {
    background-color: #76b347;
    background-image: -webkit-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -moz-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -ms-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -o-linear-gradient(top, #76b347, #5e9e2e);
    background-image: linear-gradient(top, #76b347, #5e9e2e);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e9e2e', endColorstr='#76b347', GradientType=0 );
    -webkit-box-shadow: inset 0 1px 0 0 #8dbf67;
    box-shadow: inset 0 1px 0 0 #8dbf67;
    cursor: pointer;
}

.cupid-grey {
    background-color: #262626;
    background-image: -webkit-linear-gradient(top, #6b6b6b, #262626);
    background-image: -moz-linear-gradient(top, #6b6b6b, #262626);
    background-image: -ms-linear-gradient(top, #6b6b6b, #262626);
    background-image: -o-linear-gradient(top, #6b6b6b, #262626);
    background-image: linear-gradient(top,#6b6b6b, #262626);
    border-radius: 4px;
    color: #fff;
    font-size: 1.2em;
    padding: 0.3em 0 0.4em 0;
    text-align: center;
    width: 96px;
    border:none;
}

.cupid-grey:hover {
    background-color: #262626;
    background-image: -webkit-linear-gradient(top, #262626, #6b6b6b);
    background-image: -moz-linear-gradient(top, #262626, #6b6b6b);
    background-image: -ms-linear-gradient(top, #262626, #6b6b6b);
    background-image: -o-linear-gradient(top, #262626, #6b6b6b);
    background-image: linear-gradient(top, #262626, #6b6b6b);
    cursor: pointer;
    border:none;
}

.navy-blue {
    background-color: #4D68BF;
    background-image: -webkit-linear-gradient(top, #4D68BF, #2B4199);
    background-image: -moz-linear-gradient(top, #4D68BF, #2B4199);
    background-image: -ms-linear-gradient(top, #4D68BF, #2B4199);
    background-image: -o-linear-gradient(top, #4D68BF, #2B4199);
    background-image: linear-gradient(top, #4D68BF, #2B4199);
    border: 1px solid #2B4199;
    border-bottom: 1px solid #2B4199;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 0 0 #6D87CA;
    box-shadow: inset 0 1px 0 0 #6D7CCA;
    color: #fff;
    font-size: 1.2em;
    padding: 0.3em 0 0.4em 0;
    text-align: center;
    text-shadow: 0 -1px 0 #213790;
    width: 150px;
}

.cupid-cancel {
    background-image: -webkit-linear-gradient(top, #fcfcfc, #e0e0e0);
    background-image: -moz-linear-gradient(top, #fcfcfc, #e0e0e0);
    background-image: -ms-linear-gradient(top, #fcfcfc, #e0e0e0);
    background-image: -o-linear-gradient(top, #fcfcfc, #e0e0e0);
    background-image: linear-gradient(top,#fcfcfc, #e0e0e0);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#fcfcfc', GradientType=0 );
    border: 1px solid #b8b8b8;
    border-radius: 4px;
    -moz-box-shadow: inset 0 1px 0 0 #fff;
    -webkit-box-shadow: inset 0 1px 0 0 #fff;
    box-shadow: inset 0 1px 0 0 #fff;
    color: #333;
    font-size: 1.4em;
    padding: 10px 0 10px 0;
    text-align: center;
    text-shadow: 0 -1px 0 #fff;
    width: 150px;
}

.cupid-cancel:hover {
    background-image: -webkit-linear-gradient(top, #eee, #c6c6c6);
    background-image: -moz-linear-gradient(top,  #eee,#c6c6c6);
    background-image: -ms-linear-gradient(top, #eee, #c6c6c6);
    background-image: -o-linear-gradient(top,  #eee, #c6c6c6);
    background-image: linear-gradient(top,  #eee, #c6c6c6);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6c6c6', endColorstr='#eee', GradientType=0 );
    cursor: pointer;
    border: 1px solid #b8b8b8;
}

.navy-blue:hover {
    background-color: #4758B3;
    background-image: -webkit-linear-gradient(top, #4758B3, #242F80);
    background-image: -moz-linear-gradient(top, #4758B3, #242F80);
    background-image: -ms-linear-gradient(top, #4758B3, #242F80);
    background-image: -o-linear-gradient(top, #4758B3, #242F80);
    background-image: linear-gradient(top, #4758B3, #242F80);
    -webkit-box-shadow: inset 0 1px 0 0 #676EBF;
    box-shadow: inset 0 1px 0 0 #676EBF;
    cursor: pointer;
}



.mflg-cyan {
    background-image: -webkit-linear-gradient(top, #0092cb, #0086ba);
    background-image: -moz-linear-gradient(top, #0092cb, #0086ba);
    background-image: -ms-linear-gradient(top, #0092cb, #0086ba);
    background-image: -o-linear-gradient(top, #0092cb, #0086ba);
    background-image: linear-gradient(top, #0092cb, #0086ba);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#0092cb', EndColorStr='#0086ba');
    color: #fff;
    border:1px solid #0176a3;
    border-radius: 4px;
    /* -moz-box-shadow: inset 0 1px 0 0 #7aebff;
     -webkit-box-shadow: inset 0 1px 0 0 #7aebff;
     box-shadow: inset 0 1px 0 0 #7aebff;*/
    font-size: 1.2em;
    padding: 0.3em 0 0.4em 0;
    text-align: center;
    text-shadow: 1px -1px 0 #3999aa;
    width: 150px;
}

.mflg-cyan:hover {
    background-image: -webkit-linear-gradient(top, #00aeef, #3dc9fd);
    background-image: -moz-linear-gradient(top,#00aeef, #3dc9fd);
    background-image: -ms-linear-gradient(top, #00aeef, #3dc9fd);
    background-image: -o-linear-gradient(top, #00aeef, #3dc9fd);
    background-image: linear-gradient(top, #00aeef, #3dc9fd);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#3dc9fd', EndColorStr='#00aeef');
    -moz-box-shadow: inset 0 1px 0 0 #56e0f9;
    -webkit-box-shadow: inset 0 1px 0 0 #56e0f9;
    box-shadow: inset 0 1px 0 0 #56e0f9;
    cursor: pointer;
}


.slate-gray {
    background-color: #BEBEBE;
    background-image: -webkit-linear-gradient(top, #BEBEBE, #929292);
    background-image: -moz-linear-gradient(top, #BEBEBE, #929292);
    background-image: -ms-linear-gradient(top, #BEBEBE, #929292);
    background-image: -o-linear-gradient(top, #BEBEBE, #929292);
    background-image: linear-gradient(top, #BEBEBE, #929292);
    border: 1px solid #929292;
    border-bottom: 1px solid #A5A5A5;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 0 0 #D1D1D1;
    box-shadow: inset 0 1px 0 0 #D1D1D1;
    color: #fff;
    font-size: 1.2em;
    padding: 0.3em 0 0.4em 0;
    text-align: center;
    text-shadow: 0 -1px 0 #8A8A8A;
    width: 150px;
}

.slate-gray:hover {
    background-color: #B4B4B4;
    background-image: -webkit-linear-gradient(top, #B4B4B4, #838383);
    background-image: -moz-linear-gradient(top, #B4B4B4, #838383);
    background-image: -ms-linear-gradient(top, #B4B4B4, #838383);
    background-image: -o-linear-gradient(top, #B4B4B4, #838383);
    background-image: linear-gradient(top, #B4B4B4, #838383);
    -webkit-box-shadow: inset 0 1px 0 0 #c1c1c1;
    box-shadow: inset 0 1px 0 0 #c1c1c1;
    cursor: pointer;
}

/* Booking Page Elements */

.message-div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 300px;
    padding: 100px 15px 0 15px;
    text-align: center;
    width: 699px;
    float: left;
    margin: 0 15px 28px 15px;
}

.loading-div {
    height: 600px;
    padding-top: 120px;
    text-align: center;
    width: 699px;
    float: left;
    margin: 0 15px 28px 15px;
}

.spinner-overlay {
    position: fixed;
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
    text-align: center;
    z-index: 9999900;
    overflow: auto;
    background: rgb(0, 0, 0) transparent;
    background: rgba(0, 0, 0, 0.6);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

.basic-content .no-items {
    padding: 0 20px;
    text-align: center;
    font-size: 2em;
    text-shadow: 1px 1px 3px #B3B3B3;
}

.trans-status {
    margin: 4em 0;
    text-align: center;
}

.btn-mflg-green {
    width:150px;
    height:40px;
    line-height:40px;
    background:#26C032;
    display: inline-block;
    color:#ffffff;
    /*-webkit-box-shadow: 3px 3px 0 0 #616161;
   box-shadow: 3px 3px 0 0 #616161; Changed by PEIPIE*/
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #d52185;
    background-image: -webkit-linear-gradient(bottom, #de228b, #cb1f7f);
    background-image: -moz-linear-gradient(bottom, #de228b, #cb1f7f);
    background-image: -ms-linear-gradient(bottom, #de228b, #cb1f7f);
    background-image: -o-linear-gradient(bottom, #de228b, #cb1f7f);
    background-image: linear-gradient(bottom, #de228b, #cb1f7f);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr=' #de228b', EndColorStr='#cb1f7f');
    border:1px solid #b20064;
}

/*.btn-mflg-green:hover {
    background: #2EEB3D;
}*/

.btn-mflg-gray {
    width:150px;
    height:40px;
    line-height:40px;
    background:#26C032;
    display: inline-block;
    color:#ffffff;
    /*-webkit-box-shadow: 3px 3px 0 0 #616161;
   box-shadow: 3px 3px 0 0 #616161; Changed by PEIPIE*/
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #9C9C9C;
    background-image: -webkit-linear-gradient(bottom, #C0C0C0, #9C9C9C);
    background-image: -moz-linear-gradient(bottom, #C0C0C0, #9C9C9C);
    background-image: -ms-linear-gradient(bottom, #C0C0C0, #9C9C9C);
    background-image: -o-linear-gradient(bottom, #C0C0C0, #9C9C9C);
    background-image: linear-gradient(bottom, #C0C0C0, #9C9C9C);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr=' #C0C0C0', EndColorStr='#9C9C9C');
    border:1px solid #979797;
}

.basic-content-msg {
    width: 90%;
    margin: 1em auto;
    padding: 1em;
    border: 1px solid #DA0303;
    text-align: left;
    background: #FDD;
    color: #CC0808;
}

.main-error {
    width: 700px;
    margin: 80px auto;
    height: 300px;
    background: url('../img/error.png') no-repeat;
    text-align: right;
    padding-top: 30px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.main-error-msg {
    width: 580px;
    float: right;
    text-align: left;
}

.albuquerque {
    width: 800px;
    margin: 50px auto;
    height: 300px;
    background: url('../img/maintenance-bg.png') no-repeat;
    text-align: right;
    padding-top: 80px;
    box-sizing: border-box;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.albuquerque .maint-title {
    display: inline-block;
    width: 500px;
    font-size: 38px;
    font-weight: bold;
    text-align: left;
}

.albuquerque .maint-text {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    width: 500px;
}

.cart-empty-splash {
    background: url('../img/shoppingcart.jpg') no-repeat;
    width:750px;
}

.cart-empty-splash .maint-title {
    width: 550px;
}

.cart-empty-splash .maint-text {
    width: 545px;
    font-weight: normal;
}

.coming-soon-splash {
    height: 153px;
    line-height: 153px;
    font-size: 38px;
    font-weight: bold;
    background: url('../img/comingsoon.jpg') 0 0 no-repeat;
    float: left;
    margin: 70px auto 100px 115px;
    width: 599px;
}

.item-desc ul, .item-description ul {
    list-style: disc;
    margin: 10px 0 10px 20px;
}

.item-desc a.more-info, .item-description a.more-info {
    float:right;
    /* line-height:14px; */
    text-decoration:none;
    background-color:#719f00;
    color:#fff;
    /* font-size:11px; */
    padding:2px 5px 2px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.item-desc a.more-info:hover, .item-description a.more-info:hover {
    background-color:#226d9e;
}

.item-step {
    font-family:'Tahoma','Open Sans', 'Helvetica', serif;
    text-align: left;
    font-size: 1.5em;
    text-transform: uppercase;
    padding: 5px;
    margin: 5px 0;
    color: #A3662B;
    /*background: #4f9dac;*/
}

.item-step i {
    float:right;
    margin:2px 5px 0 0;
}

.btn-continue {
    font-weight: normal;
    font-size: 0.7em;
    text-align: center;
    width: 200px;
    float: right;
    line-height: 35px;
    height: 35px;
    margin-top: 1px;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #0094cd;
    background-image: -webkit-linear-gradient(bottom, #0094cd, #0087bb);
    background-image: -moz-linear-gradient(bottom, #0094cd, #0087bb);
    background-image: -ms-linear-gradient(bottom, #0094cd, #0087bb);
    background-image: -o-linear-gradient(bottom, #0094cd, #0087bb);
    background-image: linear-gradient(bottom, #0094cd, #0087bb);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr=' #0094cd', EndColorStr='#0087bb');
    border:1px solid #0176a3;
}

.header-clickable {
    cursor: pointer;
}

.header-clickable:hover th {
    background: #C5EFF3;
}

.booking-help {
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    margin: 10px 0;
    font-size: 0.8em;
    padding: 10px 10px;
    color: #333333;
}

.booking-help p {
    padding: 0;
    margin: 0;
}

.sale-badge-01 {
    position: absolute;
    width: 56px;
    margin-top: -65px;
    margin-left: 631px;
}

.sale-badge-02 {
    position: absolute;
    width: 56px;
    margin-top: -101px;
    margin-left: 629px;
}


/* New Add */
.stamp {
    position: absolute;
    right: 0;
    top: 0;
}
.stamp a {
    cursor:pointer;
}

ul.facebook-panel {
    position: absolute;
    border-top: 0;
    background: #1a1a1a;
    left:10px;
    top:17px;
    width:64px;
}
.item-category-title {
    padding:0 0 5px 0;
    margin:0;
    font-size:20px;
    font-weight:600;
    color:#666666;/*Changed by PEIPEI*/
}
/* help panel */
.help-panel {
    background:url(../img/help-panel-bg.jpg) 0 0 repeat;
    width:236px;
    height:97px;
    padding:0 10px 0;
    position:relative;
    margin-top: 15px;
}
.help-panel h3 {
    font-size:12px;
    font-weight:normal;
    color:#1a1a1a;
    line-height:26px;
    margin:0;
    border-bottom:1px solid #e5e5e5;
}
.help-panel .contact-phone {
    padding:2px 0;
    border-bottom:1px solid #e5e5e5;
}
.help-panel .contact-email {
    padding:3px 0;
    line-height:12px;
}

.icon-phone{
    float:left;
    font-size:22px;
    color:#2a2a2a;
    padding:5px 8px 0 0;
    margin:0;
}
.icon-envelope-alt, .icon-phone-sign {
    float:left;
    font-size:18px;
    color:#2a2a2a;
    padding:4px 8px 0 0;
    margin:0;
}
.help-panel p{
    font-size:11px;
    color:#666;
    padding:0;
    margin:0;
}
.help-number {
    font-size:12px;
    color:#1a1a1a;
    padding:0;
    margin:0;
    display:block;
    font-weight:bold;

}
.help-email {
    display:block;
    margin:0;
    padding:0;
    line-height:11px;
    color:#1a1a1a;
}
.divider-or {
    position:absolute;
    top:57px;
    left:125px;
    line-height:9px;
    width:30px;
    background:#fff;
    text-align:center;
    padding:0;
    margin:0;
    color:#b2b2b2;
}

.the-tnc {
}

.the-tnc .main-paragraph {

}

.the-tnc ul {
    padding-left: 20px;
    list-style: disc;
}

.the-tnc ul li ul {
    padding-left: 20px;
    list-style: circle;
    margin: 10px 0;
}

.the-tnc .main-list {
    padding-left: 20px;
    list-style: disc;
}


.the-tnc .sub-content {
    margin: 0;
}

.the-tnc .loc-head {
    font-weight: bold;
    padding: 15px 0 10px 0;
    margin: 0;
}

.the-tnc .loc-content {
    margin: 0;
}

.the-tnc .loc-list {
    padding-left: 20px;
    list-style: circle;
    margin-bottom: 10px;
}

.topup-name, .book-item-name {
    display:block;
    margin:2px 0;
}

.book-item-sub-name {
    display:block;
    margin:2px 0;
    font-style: italic;
}

.topup-desc, .book-item-desc {
    display: inline;
    font-size: 0.9em;
    font-style: italic;
    color: #666666;
}
.topup-link, .book-item-link {
    margin-left: 15px;
    display: inline;
    font-size: 0.85em;
    font-style: normal;
}

.topup-link a,
.topup-link a:link,
.topup-link a:active,
.topup-link a:visited {
    color: #39A0C7;
}

.book-item-link a,
.book-item-link a:link,
.book-item-link a:active,
.book-item-link a:visited {
    color: #39A0C7;
}

.book-item-link a:hover {
    color: #64C2E7;
}

.topup-link a:hover {
    color: #64C2E7;
}

.booking-form-note {
    font-size: 0.85em;
    text-align: center;
    margin-bottom: 5px;
    color: #808080;
}

.booking-item-addendum {
    display: block;
    color: #808080;
    font-size: 0.9em;
    font-style: italic;
}

.ticket-sel {
    margin-bottom: 0;
    padding-bottom: 0;
}

.ticket-sel-desc {
    text-align: left;
    padding: 5px;
    font-size: 1.15em;
    font-weight: 700;
    margin-bottom: 5px;
    color: #666666;
}

.checkout-note {
    display:block;
    color: #808080;
    font-size: 0.9em;
    margin-left: 130px;
}

.cross-sell-view {
}

.cross-sell {
    margin-left: 10px;
    margin-right: 10px;
}

.cross-sell span {
    color: black;
    white-space: pre;
}

.cross-sell img {
    width: 100%;
}

.sky-dining-topup-img {
    float: left;
    width: 33%;
    height: 33%;
    margin-right: 5px;
}

.sky-dining-topup-transition {
    transform: scale(2);
}

.discount-description {
    color: red;
}

.discount-original-price {
    text-decoration: line-through;
}

.select-event-details td {
    border: none;
    padding: 0px;
}

.promotion-content {
    width: 60%;
    text-align: left;
    float: left;
    position: relative;
}

.cached-discount-price {
    color: #f9383f;
    font-size: 13px;
    font-weight: bold;
    border: 1px solid #ffd3d6;
    text-align: center;
    float: right;
    background-color: #fff8f8;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    padding: 1px 5px;
}

.promotion-content .additional-info {
    background: white;
    border: 1px solid #888888;
    color: black;
    float: left;
    position: absolute;
    text-align: left;
    top: 20px;
    left: -30px;
    display: none;
    padding: 20px;
    z-index: 1;
    box-shadow: 2px 2px 2px #888888;
}

.promotion-content .promotion-text {
    cursor: pointer;
}

.promotion-content .promotion-text:hover ~ .additional-info {
    display: block;
}

.view-promotions-header {
    background-color: #64C2E7;
    color: #fff;
    border-radius: 25px;
    padding: 5px;
    margin: 5px 5px 5px 0;
    cursor: pointer;
    cursor: hand;
    text-align: left;
}

.promo-arrow-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    float: right;
    margin: 5px;
}

.promo-arrow-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
    float: right;
    margin: 5px;
}
