<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
</head>
<body>

    {{#tickets}}
    <div style="width: 95%; margin: auto; border: 1px solid black; padding: 10px; text-align: center; page-break-after: always;">
        <div style="display: inline-block; width: 45%; vertical-align: middle;">
            <img src="data:image/png;base64,{{barcodeBase64}}" style="max-width: 95%;" />
        </div><!-- --><div style="display: inline-block; width: 50%; vertical-align: middle; padding: 10px;">
            <span style="">{{ticketNumber}}</span><br/>
            <span style="">{{displayName}}</span><br/>
            <span style="">{{ticketPersonType}}</span><br/>
            <span style="">Valid {{validityStartDate}} - {{validityEndDate}}</span><br/>
            <span style="">{{totalPrice}}</span><br/>
        </div>
    </div>
    {{/tickets}}

</body>
</html>