#container {
    position: absolute;
    z-index: -1;
}
#text-container {
    width: 0;
    height: 0;
}
#stage-container {
    width: 1280px;
    height: 1024px;
    margin: 0 auto;
    overflow: hidden;
}
#stage {
    width: 100%;
    height: auto;
}
#form {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}