.signature {
	width: 930px;
	height: 540px;
	border-radius: 10px 10px 0 0;
	border: solid 3px #e6e6e6;
}


.canvas-box {
	padding: 0;
	margin: 0;
	list-style: none;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	justify-content: center;
}

.canvas-content {
	width: 930px;
	height: 95px;
	border-radius: 0 0 10px 10px;
	border-left: solid 3px #e6e6e6;
	border-right: solid 3px #e6e6e6;
	border-bottom: solid 3px #e6e6e6;
	background-color: #f2f2f2;
	padding-top: 20px;
}

.canvas-clear {
	width: 400px;
	height: 95px;
	position: relative;
  	top: 50%;
	transform: perspective(1px) translateY(-50%);
	float: left;
	text-align:left;
	padding-left: 50px;
}

.canvas-done {
	width: 400px;
	height: 95px;
	position: relative;
  	top: 50%;
	transform: perspective(1px) translateY(-50%);
	float: left;
	text-align:right;
}