#scrollbar1 {
    position: absolute;
    height: 45px;
    width: 745px;
    background-color: #1794ce;
    overflow: hidden;
    margin-top: 15px;
}
#scrollbar2 {
    position: absolute;
    height: 430px;
    width: 770px;
    background-color: #fff;
    overflow: hidden;
}
#scrollbar3 {
    position: absolute;
    height: 265px;
    width: 770px;
    background-color: #fff;
    overflow: hidden;
}
#scrollbar4 {
    position: absolute;
    height: 430px;
    width: 770px;
    background-color: #fff;
    overflow: hidden;
}
#scrollbar5 {
    position: absolute;
    height: 430px;
    width: 770px;
    background-color: #fff;
    overflow: hidden;
}
#scrollbar6 {
    position: absolute;
    height: 430px;
    width: 770px;
    background-color: #fff;
    overflow: hidden;
}
#scrollbar7 {
    position: absolute;
    height: 430px;
    width: 770px;
    background-color: #fff;
    overflow: hidden;
}
#scrollbar8 {
    position: absolute;
    height: 430px;
    width: 770px;
    background-color: #fff;
    overflow: hidden;
}
#scrollbar9 {
    position: absolute;
    height: 430px;
    width: 770px;
    background-color: #fff;
    overflow: hidden;
}
#scrollbar10 {
    position: relative;
    align-items:flex-start;
    justify-content:center;
    border:3px solid #ccc;
    border-radius:16px;
    width:860px;
    height:600px;
    background-color: #fff;
    overflow: hidden;
}

/*first template ticket*/
.scroller {
    position: relative!important;
    /*	-webkit-touch-callout:none;*/
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    float: left;
    box-sizing: border-box;
    width: 100%;
    padding: 0;
}
.scroller > ul {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}
.scroller >li {
    padding: 0 10px;
    text-align: left;
}
#scrollbar1 .scroller p {
    width: 98%!important;
    font-size: 16px;
    line-height: 1.4;
}

/*
::-webkit-scrollbar {
    display: none;
}
*/

/* Styled scrollbars */

.iScrollHorizontalScrollbar {
    position: absolute;
    z-index: 99;
    height: 28px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    overflow: hidden;
    background:url(../images/bg-scrollbar-track-x.png) 0 0 no-repeat;
}
.iScrollHorizontalScrollbar.iScrollBothScrollbars {
    right: 18px;
}
.iScrollVerticalScrollbar {
    position: absolute;
    z-index: 99;
    width: 28px;
    bottom: 2px;
    top: 2px;
    right: 2px;
    overflow: hidden;
    background:url(../images/bg-scrollbar-track-y.png) 0 0 no-repeat;
}
.iScrollVerticalScrollbar.iScrollBothScrollbars {
    bottom: 18px;
}
.iScrollIndicator {
    z-index: 100;
    width: 28px;
    height: 28px;
    position: absolute;
    background-color: #eee;
    box-sizing: border-box;
    border: 3px solid #ccc;
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
    border-radius: 13px;
}

/*
.iScrollHorizontalScrollbar {
	position: absolute;
	z-index: 9999;
	height: 16px;
	left: 2px;
	right: 2px;
	bottom: 2px;
	overflow: hidden;
}

.iScrollHorizontalScrollbar.iScrollBothScrollbars {
	right: 18px;
}

.iScrollVerticalScrollbar {
	position: absolute;
	z-index: 9999;
	width: 16px;
	bottom: 2px;
	top: 2px;
	right: 2px;
	overflow: hidden;
}

.iScrollVerticalScrollbar.iScrollBothScrollbars {
	bottom: 18px;
}

.iScrollIndicator {
	position: absolute;
	background: #cc3f6e;
	border-width: 0px;
	border-style: solid;
	border-color: #EB97B4 #7C2845 #7C2845 #EB97B4;
	border-radius: 8px;
}

.iScrollHorizontalScrollbar .iScrollIndicator {
	height: 100%;
	background: -moz-linear-gradient(left,  #cc3f6e 0%, #93004e 100%);
	background: -webkit-linear-gradient(left,  #cc3f6e 0%,#93004e 100%);
	background: -o-linear-gradient(left,  #cc3f6e 0%,#93004e 100%);
	background: -ms-linear-gradient(left,  #cc3f6e 0%,#93004e 100%);
	background: linear-gradient(to right,  #cc3f6e 0%,#93004e 100%);
}

.iScrollVerticalScrollbar .iScrollIndicator {
	width: 100%;
	background: -moz-linear-gradient(top, #cc3f6e 0%, #93004e 100%);
	background: -webkit-linear-gradient(top,  #cc3f6e 0%,#93004e 100%);
	background: -o-linear-gradient(top, #cc3f6e 0%,#93004e 100%);
	background: -ms-linear-gradient(top, #cc3f6e 0%,#93004e 100%);
	background: linear-gradient(to bottom,  #cc3f6e 0%,#93004e 100%);
}
*/

/* end */