
@font-face {
    font-family: 'Gotham-Black';
    src: url('fonts/Gotham-Black-webfont.eot');
    src: url('fonts/Gotham-Black-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/Gotham-Black-webfont.woff') format('woff'),
    url('fonts/Gotham-Black-webfont.ttf') format('truetype'),
    url('fonts/Gotham-Black-webfont.svg#GothamBlack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Bold';
    src: url('fonts/Gotham-Bold-webfont.eot');
    src: url('fonts/Gotham-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/Gotham-Bold-webfont.woff') format('woff'),
    url('fonts/Gotham-Bold-webfont.ttf') format('truetype'),
    url('fonts/Gotham-Bold-webfont.svg#GothamBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Book';
    src: url('fonts/Gotham-Book-webfont.eot');
    src: url('fonts/Gotham-Book-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/Gotham-Book-webfont.woff') format('woff'),
    url('fonts/Gotham-Book-webfont.ttf') format('truetype'),
    url('fonts/Gotham-Book-webfont.svg#GothamBook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Light';
    src: url('fonts/Gotham-Light-webfont.eot');
    src: url('fonts/Gotham-Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/Gotham-Light-webfont.woff') format('woff'),
    url('fonts/Gotham-Light-webfont.ttf') format('truetype'),
    url('fonts/Gotham-Light-webfont.svg#GothamLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Medium';
    src: url('fonts/Gotham-Medium-webfont.eot');
    src: url('fonts/Gotham-Medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/Gotham-Medium-webfont.woff') format('woff'),
    url('fonts/Gotham-Medium-webfont.ttf') format('truetype'),
    url('fonts/Gotham-Medium-webfont.svg#GothamMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Thin';
    src: url('fonts/Gotham-Thin-webfont.eot');
    src: url('fonts/Gotham-Thin-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/Gotham-Thin-webfont.woff') format('woff'),
    url('fonts/Gotham-Thin-webfont.ttf') format('truetype'),
    url('fonts/Gotham-Thin-webfont.svg#GothamThin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Ultra';
    src: url('fonts/Gotham-Ultra-webfont.eot');
    src: url('fonts/Gotham-Ultra-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/Gotham-Ultra-webfont.woff') format('woff'),
    url('fonts/Gotham-Ultra-webfont.ttf') format('truetype'),
    url('fonts/Gotham-Ultra-webfont.svg#GothamUltra') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-XLight';
    src: url('fonts/Gotham-XLight-webfont.eot');
    src: url('fonts/Gotham-XLight-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/Gotham-XLight-webfont.woff') format('woff'),
    url('fonts/Gotham-XLight-webfont.ttf') format('truetype'),
    url('fonts/Gotham-XLight-webfont.svg#GothamXLight') format('svg');
    font-weight: normal;
    font-style: normal;
}