

html {
    font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

body {
    background: #fff;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #333333;
}
.main-content-section-container {
    width: 960px;
    margin: 0 auto;
    position: relative;
}

/*--------------Login page Start------------ */
.login-header {
    width: 100%;
    height: 7em;
    border-bottom: 1px solid #d1d1d1;
}
.login-header a {
    display: block;
    width: 960px;
    margin: 0 auto;
    height: 7em;
    padding: 1em 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.main-content-section-container h1.heading {
    margin: 25px 0;
}

.login-panel {
    width: 50%;
    padding: 0.4em 2.6em 1.3em;
    margin-bottom: 1.5em;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.login-panel h3.heading {
    width: 100%;
    font-size: 1.6em;
    padding: 0;
}
.user-main-info td {
    padding: 0.85em;
}
.login-bold-text {
}
.login-checkbox {
    margin-right: 0.35em;
}
.login-checkbox-text {
}

/*--------------Login page End------------ */


/*-------------Forgot Password Start------------*/
.forgot-pwd-panel {
    width: 55%;
    margin: 2em auto 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.heading-panel {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid #d1d1d1;
    border-bottom: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0.85em 0;
}
.heading-panel .heading {
    padding: 0;
    margin: 0;
}
.user-info-panel {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 0.35em 2.8em 1.4em;
}
.user-info-panel .note {
    padding: 0;
    margin: 1em 0;
    text-align: center;
}
.user-main-info td.note-section {
    padding-top: 0;
}
.user-main-info td.note-section p{
    padding :0;
    margin: 0;
    text-align:left;
    font-size: 0.85em;
    color: #fe7b23;
}

/*-------------Forgot Password End-----------*/




/*--------------------Navigation Start-----------------------*/


.top-header {
    box-sizing: border-box;
    height: 60px;
    border-bottom: 1px solid #d1d1d1;
    font-size: 0.9em;
    line-height: 40px;
}
.top-header-section {
    width: 960px;
    margin: 0 auto;
}
.top-header-section-content {
    float: right;
}
.top-header-section-content p {
    padding: 0;
    margin: 0;
}
.user-login-info {
    float:left;
}
.user-login-info i, .user-login-info p, .shopping-cart i, .shopping-cart .sc-text {
    float:left;
    padding-left: 0.7em;
    line-height: 40px;
}
.user-login-info i, .shopping-cart i {
    font-size: 1.15em;
    color: #fe7b23;
}
.user-login-info p, .shopping-cart p {
    font-weight: 100;
}
.shopping-cart {
    float:left;
    font-size: 1.15em !important;
    cursor: pointer;
}
.main-header {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0.7em 0;
    border-bottom: 1px solid #d1d1d1;
}

.main-header-section {
    width: 960px;
    margin: 0 auto;
}
.main-header-section a.logo {
    float: left;
}
.nav {
    font-family: 'sans-serif';
    font-weight: 300;
}

.nav li.odd {
    width: 105px;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-align: center;
    font-size: 0.9em;
}
.nav li.even {
    padding: 15px 0 0;
    width: 1px;
    height: 50px;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.nav li.even .divider {
    width: 1px;
    height: 100%;
    display: block;
    background-color: #e5e5e5;
}
.nav li.odd > a {
    margin: 0 2em;
    display: block;
    width: 57px;
    height: 57px;
}
.nav li.odd .nav-text {
    display: block;
    text-align: center;
    padding-top: 0.8em;
}
/*----------Start Change by Peipei on July 17---------*/
.nav li.odd a.dashboard {
    background: url(../img/nav-icon-1.png) 0 0 no-repeat;
}
.nav li.odd a.dashboard:hover  {
    background: url(../img/nav-icon-1.png) 0 -60px no-repeat;
}
/*.nav li.odd a.dashboard:selected {
	background: url(../img/nav-icon.png) 0 -60px no-repeat;
}*/
.nav li.odd a.packages {
    background: url(../img/nav-icon-2.png) 0 0 no-repeat;
}
.nav li.odd a.packages:hover{
    background: url(../img/nav-icon-2.png) 0 -60px no-repeat;
}
/*.nav li.odd a.packages:selected{
	background: url(../img/nav-icon.png) -60px -60px no-repeat;
}*/
.nav li.odd a.attractions {
    background: url(../img/nav-icon-3.png) 0 0 no-repeat;
}
.nav li.odd a.attractions:hover{
    background: url(../img/nav-icon-3.png) 0 -60px no-repeat;
}
/*.nav li.odd a.attractions:selected{
	background: url(../img/nav-icon.png) -120px -60px no-repeat;
}*/
.nav li.odd a.events {
    background: url(../img/nav-icon-4.png) 0 0 no-repeat;
}
.nav li.odd a.events:hover{
    background: url(../img/nav-icon-4.png) 0 -60px no-repeat;
}
/*.nav li.odd a.events:selected{
	background: url(../img/nav-icon.png) -180px -60px no-repeat;
}*/
.nav li.odd a.inventory {
    background: url(../img/nav-icon-5.png) 0 0 no-repeat;
}
.nav li.odd a.inventory:hover{
    background: url(../img/nav-icon-5.png) 0 -60px no-repeat;
}
/*.nav li.odd a.inventory:selected{
	background: url(../img/nav-icon.png) -240px -60px no-repeat;
}*/
.nav li.odd a.reports {
    background: url(../img/nav-icon-6.png) 0 0 no-repeat;
}
.nav li.odd a.reports:hover {
    background: url(../img/nav-icon-6.png) 0 -60px no-repeat;
}
/*.nav li.odd a.reports:selected {
	background: url(../img/nav-icon.png) -300px -60px no-repeat;
}*/
.nav li.odd a.account-management {
    background: url(../img/nav-icon-7.png) -0 0 no-repeat;
}
.nav li.odd a.account-management:hover {
    background: url(../img/nav-icon-7.png) 0 -60px no-repeat;
}
/*.nav li.odd a.account-management:selected {
	background: url(../img/nav-icon.png) -360px -60px no-repeat;
}*/
.nav li.odd a.wot {
    background: url(../img/nav-icon-8.png) -0 0 no-repeat;
}
.nav li.odd a.wot:hover {
    background: url(../img/nav-icon-8.png) 0 -60px no-repeat;
}
.nav li.odd a.deposits {
    background: url(../img/nav-icon-9.png) -0 0 no-repeat;
}
.nav li.odd a.deposits:hover {
    background: url(../img/nav-icon-9.png) 0 -60px no-repeat;
}
.nav li.odd a.selected {
    /*background: url(../img/nav-icon.png) 0px -60px no-repeat;*/
    background-position: 0px -60px;
}
/*----------End---------*/
.nav li.category {
    position: relative;
}
.sub-nav-container {
    position: absolute;
    top: 90px;
    left: -24px;
    width: 150px;
    height: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    z-index: 99;
    text-align: left;
}
.panel-width {
    top: 100px;
    left: -115px;
    width: 220px;
}
.arrow-up {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #aaaaaa;
    margin-left: 72px;
}
.panel-width .arrow-up {
    margin-left: 160px;
}
.sub-nav {
    position: absolute;
    display: block;
    background: white;
    border: 1px solid #d1d1d1;
    padding: 0;
    margin: 0;
    -moz-box-shadow: 0px 2px 15px #eeeeee;
    -webkit-box-shadow: 0px 2px 15px #eeeeee;
    box-shadow: 0px 2px 15px #eeeeee;

}
.sub-nav li {
    float: left;
    width: 100%;
    margin: 0;
}
.sub-nav li.first-option {
    border-bottom: 1px solid #d1d1d1;
}
.sub-nav li a {
    width: 100%;
    height: 100%;
    display: block;
    padding: 0.8em;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-decoration: none;
    color: #333333;
}
.sub-nav li a:hover {
    color: #ff8217;
}
/*--------------------Navigation End-----------------------*/


/*--------------------Dashbaord Page Start-----------------------*/

.sidebar-content-section {
    width: 70%;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.notice-board-container,.purchased-items-container {
    width: 100%;
}

/*Notice Board Start*/
.notice-board-content-container {
    border: 1px solid #ccc;
    border-bottom: none;
    border-top: none;
    width: 100%;
    margin-bottom: 1.6em;
}
.notice-board-content-container td {
    border-bottom: 1px solid #ccc;
    padding: 0.9em;
}
.notice-board-content-container td.notice-main-sub-title {
    color: #808080;
}
.notice-board-content-container td.date {
    text-align: right;
    font-size: 0.9em;
}
/*Notice Board End*/

/*Recent Purchased Items Start*/
.purchased-items-list-container {
    border: 1px solid #ccc;
    border-top: none;
    padding: 5px;
    margin-bottom: 1.6em;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.product-list-content-container {
    width: 100%;
}
.product-list-content-container li {
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.sidebar-items-spacing li {
    padding: 6px;
}

.product-list-content-container li .product-content {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-decoration: none;
}
.product-list-content-container li a .product-title {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.6em;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: black;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";/*IE8*/
    filter: alpha(opacity=70); /*IE 5-7*/
    opacity: 0.7;
    color: #fff;
    margin: 0;
    z-index: 99;
}
.product-list-content-container li a:hover .product-title {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";/*IE8*/
    filter: alpha(opacity=100); /*IE 5-7*/
    opacity: 1;
}

.product-list-content-container li a img.icon-exclusive {
    position: absolute;
    z-index: 99;
    top: 1em;
    left: 1em;
}
/*Recent Purchased Items Start*/


/*Expiring Tickets Start*/

.items-records-container {
    width: 100%;
}
.items-records-content-container {
    border: 1px solid #ccc;
    border-top: none;
    font-size: 0.85em;
}
.items-records-content-container td {
    border: 1px solid #e5e5e5;
    text-align: center;
    padding: 0.6em;
}
/*Expiring Tickets End*/

/*Sidebar adv Start*/
.adv-section {
    float: right;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 268px;
}
.adv-section a {
    display: block;
    width: 268px;
    height: 348px;
    margin-bottom: 20px;
}
.adv-img-1 {
    background:url(../img/samples/Dashboard-ad.jpg) center center no-repeat;
}
.adv-img-2 {
    background:url(../img/samples/Dashboard-ad-2.jpg) center center no-repeat;
}
/*Sidebar adv End*/


/*--------------------Dashbaord Page End-----------------------*/



/*--------------------Attractions Start-----------------------*/

.highlight-section {
    width: 100%;
}
.highlight-section a {
    display: block;
    width: 960px;
    height: 284px;
}
.main-content-section {
    width: 100%;
}
.main-content-section .items-spacing li{
    padding: 4px;
}
.main-content-section h3.heading {
    margin: 1em 0 0.5em;
}



/* Expand Details Start*/
.expand-product-details-container {
    display: block;
    float: left;
    margin: 1.5em 0;
    text-align: left;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.close-section {
    height: 2em;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.icon-close {
    width: 1.7em;
    height: 1.7em;
    float: right;
    font-size: 1.4em;
    background: #666;
    text-align: center;
    color: #fff;
    line-height: 1.7em;
}
.expand-product-details .sidebar-slideshow {
    float: left;
    width: 33%;
    margin-right: 2%;
    position: relative;
}
.expand-product-details .sidebar-slideshow .icon-left-arrow {
    width: 34px;
    height: 34px;
    background:url(../img/icon-arrow.png) 0 0 no-repeat;
    top: 40%;
    left: 2%;
    position: absolute;
    z-index: 99;
    cursor: pointer;
}
.expand-product-details .sidebar-slideshow .icon-right-arrow {
    width: 34px;
    height: 34px;
    background:url(../img/icon-arrow.png) 0 -34px no-repeat;
    position: absolute;
    z-index: 99;
    top: 40%;
    right: 2%;
    cursor: pointer;
}
.expand-product-details .sidebar-slideshow .pages {
    position: absolute;
    bottom: 2%;
    right: 2%;
}
.expand-product-details .sidebar-slideshow .pages a {
    float: left;
    display: block;
    font-size: 0.9em;
    padding: 0.2em 0.6em;
    background: #333;
    color: #fff;
    margin-left: 0.3em;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-decoration: none;
}
.expand-product-details .sidebar-slideshow .pages a:hover {
    background: ##faa634;
}
.expand-product-details .sidebar-slideshow .pages a.selected {
    background: #faa634;
}
.expand-product-details .sidebar-product-details {
    float: left;
    width: 65%;
    width: 620px;
}
.expand-product-details .sidebar-product-details .heading {
    margin: 8px 0;
}
.expand-product-details .sidebar-product-details .summary {
    font-size: 0.96em;
    line-height: 1.4;
}
.main-tickets-section, .top-up-tickets-section {
    /*text-align: center;*/
    margin-bottom:8px;
    position: relative;
}

.items-tickets-content-container {
    margin-bottom: 1em;
}

.items-tickets-content-container td.column-multi-attribute {
    padding: 0;
}

.main-tickets-section input {
    width: 100%;
}
.top-up-tickets-items-container h4.heading {
    padding: 0.4em 0;
    text-align: left;
}
.top-up-items td.top-up-items-name {
    padding-left: 0;
}
.sidebar-product-details .layout {
    float: right;
    margin: 0 0.8em 0.8em 0;
}

.add-successful-pop-up {
    position: absolute;
    top: 30%;
    left: 28%;
    width: 45%;
    background: black;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";/*IE8*/
    filter: alpha(opacity=80); /*IE 5-7*/
    -moz-opacity: 0.8;
    opacity: 0.8;
    z-index: 99;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    color: #fff;
    padding: 1em;
    line-height: 2.6em;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-size: 1.1em;
}
.add-successful-pop-up img {
    width: 2.6em;
    height: 2.6em;
    float:left;
    margin-right: 1em;
}
.add-successful-pop-up span {
    float: left;
}

/* Expand Details END*/


/*--------------------Attractions End-----------------------*/


/*--------------------Shopping Cart Start-----------------------*/
/*Process Bar Start*/
.process-bar {
    padding: 1em;
    background: #4c4c4c;
}
.process-content {
    background: url(../img/process-bar.png) no-repeat;
    width: 762px;
    height: 69px;
    margin: 0 auto;
}
.process-checkout {
    background-position: 0 0;
}
.process-confirmation {
    background-position: 0 -69px;
}


/*Process Bar End*/

.heading-bar {
    position: relative;
}
.heading-bar .heading {
    float: left;
}
.heading-bar .btn-secondary {
    float: right;
    position: absolute;
    bottom: 0;
    right: 0;
}
.items-details {
    font-size: 1em;
}
.icon-remove {
    color: #f02f38;
    text-align: center;
    display: block;
}
.booking-tickets-top-up-items-container {
    background-color: #f2fbff;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#ffffff),color-stop(1,#f8f8f8));
    background-image: -webkit-linear-gradient(top,#ffffff 0,#f8f8f8 100%);
    background-image: -moz-linear-gradient(top,#ffffff 0,#f8f8f8 100%);
    background-image: -o-linear-gradient(top,#ffffff 0,#f8f8f8 100%);
    background-image: -ms-linear-gradient(top,#ffffff 0,#f8f8f8 100%);
    background-image: linear-gradient(top,#ffffff 0,#f8f8f8 100%);
    -moz-box-shadow: 0px 2px 15px #bee1f4;
    -webkit-box-shadow: 0px 2px 15px #bee1f4;
    box-shadow: 0px 2px 15px #bee1f4;
    margin-top: 1em;
    border: 1px solid #aadcf2;
    z-index: 99;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

}
.subtotal-items {
    font-size: 1.2em;
}
.subtotal-items-title {
    text-align: right;
}
.items-details .primary-multi-heading-bar td {
    border: none;
}

.booking-tickets-top-up-items-container .main-inner-items {
}

/*--------------------Shopping Cart END-----------------------*/

/*--------------------transaction status page Start-----------------------*/
.receipt-section {
    border-bottom: 1px solid #e5e5e5;
    position: relative;
    margin-bottom: 1.2em;
}
.receipt-section p {
    position: absolute;
    bottom: 0.4em;
    right: 0;
}
.information-section-container {
    /*border-bottom: 1px solid #e5e5e5;*/
    /*margin-bottom: 1.2em;*/
    padding-bottom: 0.5em;
}

.information-section {
    margin: 0.5em 0;
}

.information-section td {
    padding: 0.5em;
}

.total-account-section-container {
    border-top: 1px solid #e5e5e5;
}
.total-items td{
    padding: 0.8em;
    border-bottom: 1px solid #e5e5e5;
}
.total-items td.no-border {
    border-bottom: none;
}

/*--------------------Receipt transaction page End-----------------------*/


/*--------------------view expiring receipt page Start-----------------------*/
.next-prev-section-container {
    line-height: 1.8em;
    margin-bottom: 1.2em;
}
.prev-section {
    float: left;
}
.next-section {
    float: right;
}
.next-prev-section-container i {
    font-size: 1.8em;
}
/*--------------------view tickets receipt page End-----------------------*/

/*--------------------View revalidated receipt page strart---------------*/
.popup {
    width: 700px;
    margin: 0 auto;
    background: #ffffff;
}
.popup .primary-heading-bar {
    font-size: 1.2em;
}
.btn-close {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background: #0c9d62;
    font-size: 1.4em;
    display: block;
    padding: 0.4em 0.7em 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
/*--------------------View revalidated receipt page End---------------*/

/*--------------------revalidated receipt start---------------*/
.updated-information-section {
    border: 1px solid #ffbf67;
    background: #fff9f5;
    font-family: 'Gotham-Medium', sans-serif;
}
.updated-information-section .date-note {
    color: #666666;
    font-size: 0.9em;
}
/*--------------------revalidated receipt end---------------*/

/*--------------------Confirm Package Start---------------*/

.package-items {
    border: 1px solid #e5e5e5;
    border-top: none;
}


/*--------------------Confirm Package End---------------*/

/*--------------------Generate pin status start---------------*/

.pincode-section {
    border-bottom: 1px solid #e5e5e5;
    margin: 0.5em 0;
}
.pincode-section td {
    padding: 0.5em;
}
.status-attribute {
    font-size: 1.4em;
    font-family: 'Gotham-Medium', sans-serif;
}
.pincode-attribute {
    font-size: 1.6em;
    font-family: 'Gotham-Medium', sans-serif;
}
.terms-conditions-content {
    color: #666666;
}
.terms-conditions-content .heading {
    font-size: 1em;
    font-family: 'Gotham-Medium', sans-serif;
}
.terms-conditions-content p {
    font-size: 0.9em;
    margin: 0.4em 0;
}
/*--------------------Generate pin status End---------------*/

/*--------------------View Packages Start---------------*/
.filter-section {
    width: 100%;
    border: 1px solid #d1d1d1;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.filter-section-content {
    margin: 1em;
    width: 100%;
    display: inline-block;
}
.filter-section-content th {
    text-align: left;
}
.filter-section-content th,.filter-section-content td {
    padding: 0.5em;
}
.export-to-excel-section, .grid-action-section {
    display: block;
    background: #ffffff;
    padding: 1em;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-align: right;
    border: 1px solid #e5e5e5;
    border-top: 0;
}
/*--------------------View Packages End---------------*/




/*--------------------Create New Packages Start---------------*/
.create-package-section {
    margin-top: 1.6em;
}
.create-package-section .information-section {
    border: 1px solid #d1d1d1;
    border-top: none;
    margin: 0;
}
.select-options {
}
.bundled-note {
    border: 1px solid #d1d1d1;
    padding: 1em;
    font-size: 1.1em;
    border-top: 0;
    border-bottom: 0;
    text-align: center;
    background: #fff6ee;

}
.bundled-items-section {
    border: 1px solid #d1d1d1;
    border-top: 0;
}
.bundled-items-section h3.heading {
    margin: 0;
    padding: 0.5em;
    color: #26b67c;
    border-bottom: 1px solid #d1d1d1;
}
.bundled-items-section .bundled-items-content {
    background: #e5e5e5;
    padding: 0.25em;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.bundled-items-section .bundled-items-content li {
    background: #ffffff;
    float: left;
    width: 32.5%;
    margin: 0.25em;
    padding-bottom: 0.5em;
}
.bundled-items-section .bundled-items-content li .primary-heading-bar {
    text-align: left;
    font-size: 1em;
}
.bundled-items-section .bundled-items-content li table {
    font-size: 0.8em;
    margin-bottom: 1em;
}
.bundled-items-topup {
    border: 1px solid #d1d1d1;
    margin: 0 0.5em;
    padding: 0.5em;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-size: 0.9em;
}
/*--------------------Create New Packages End---------------*/


/*--------------------FAQ Start---------------*/
.faq {
    padding-bottom: 0.5em;
    border-bottom: 1px solid #d1d1d1;
}
.faq-section {
    margin-bottom: 2em;
    display: block;
}
.faq-divider {
    border-bottom: 1px solid #d1d1d1;
}
.faq-category-section {
    float: left;
    width: 30%;
    font-family: 'Gotham-Medium', sans-serif;
}
.faq-list-section {
    float: left;
    margin-left: 10%;
    width: 60%;
    margin-bottom: 2em;
}
.faq-list-section a {
    display: block;
    line-height: 2;
    text-decoration: none;
    color: #179cd9;
}
.faq-list-section a:hover {
    text-decoration: underline;
}
.faq-list-section a:link,  .faq-list-section a:active,  .faq-list-section a:visited {
    color: #179cd9;
}
.text-bold {
    font-family: 'Gotham-Medium', sans-serif;
    display: block;
    line-height: 2;
}
.faq-text {
    display: block;
    font-size: 0.95em;
    line-height: 1.4;
    margin-bottom: 2em;
}
.go-top {
    display: block;
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 2em;
    width: 1.8em;
    height: 1.8em;
    text-align: center;
    line-height: 1.8em;
    background: black;
    color: #ffffff;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";/*IE8*/
    filter: alpha(opacity=60); /*IE 5-7*/
    opacity: 0.6;
}

a.go-top:hover {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";/*IE8*/
    filter: alpha(opacity=80); /*IE 5-7*/
    opacity: 0.8;
}

/*--------------------FAQ End---------------*/

/*--------------------Partner Profile Management Start---------------*/
.add-sub-section {
    display: block;
    background: #ffffff;
    padding: 1em 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-align: right;
}
.information-section td.column-multi-attribute {
    padding: 0.5em 0;
}

/*--------------------Partner Profile Management End---------------*/

/*--------------------Edit Main Account Start---------------*/
.doc-note {
    font-size: 0.8em;
    display: block;
    border: 1px solid #e5e5e5;
    padding: 0.5em;
    color: #999999;
    line-height: 1.4;
}
.add-del-file {
    font-size: 1.6em;
    color: #179cd9;
    text-decoration: none;
    margin: 0 0.2em;
}
a.add-del-file:hover {
    color: #0484be;
}

/*--------------------Edit Main Account End---------------*/

/*--------------------Change Password Start---------------*/

.guideline {
    display: block;
    font-size: 0.9em;
    color: #666666;
    padding: 1em;
    line-height: 1.4;
    border-bottom: 1px solid #d1d1d1;
    margin-bottom: 1em;
}
.guideline h3.heading {
    margin: 0 0 0.5em 0;
    font-size: 1.2em;
}
.inner-action-container td {
    padding-top: 1.5em;
}
.inner-action-container td .btn {
    font-size: 1.35em;
}
/*--------------------Change Password End---------------*/


/*-------------footer Start------------*/

.footer {
    width: 100%;
    margin-top: 30px;
}
.footer-content {
    background: #fafafa;
    border-top: 1px solid #d1d1d1;
}
.footer-main-content {
    width: 960px;
    margin: 0 auto;
    padding: 1em 0;
    position: relative;
}
.more-information {
    width: 30%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    float: left;
    font-family: sans-serif;

}
.more-information li {
    padding: 0.4em 0;
}
.more-information li a {
    text-decoration: none;
    color: #179cd9;
}
.more-information li a:hover {
    text-decoration: underline;
}
.contact-us {
    width: 70%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    float: left;
}
.office-info {
    display: inline-block;
    margin-bottom: 0.9em;
}
.contact-us .contact-icon {
    float: left;
    margin-right: 1em;
}
.contact-us p {
    float: left;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}
.contact-us p .office-no {
    font-size: 1.15em;
    color: #fe7b23;
}
.contact-us .office-info .contact-icon {
    margin-top: 1em;
}
.contact-us .email-info p {
    margin-top: 0.7em;
}
.contact-us .email-info p a {
    font-family:'Gotham-Medium', sans-serif;
    font-size: 1em;
}
.footer-copyright {
    background: #f0f0f0;
    border-top: 1px solid #d1d1d1;
    margin: 0 auto;
    padding: 0.9em 0;
}
.footer-copyright p {
    text-align: center;
    color: #808080;
    font-size: 0.85em;
    line-height: 1.5;
}

/*-------------footer End------------*/