<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>MFLG Booking Receipt</title>
  <style type="text/css">
    div, table, tr, td, p {
      font-family: STHeiti;
    }
  </style>
</head>
<body style="font-family:STHeiti;font-size:12px;color:#333333;margin:0 auto; padding: 0">
<div style="display: block; margin: 10px; padding: 5px; width: 650px; height: auto">
  <div style="margin: 5px">
    <img src="{{baseUrl}}resources/b2c-mflg/theme/default/img/logo/receipt-logo-en.png"/>
  </div>
  <div style="margin: 5px; border-bottom: 2px solid #333333; padding-bottom: 5px; margin-top: 20px">
    <table cellpadding="0" cellspacing="0" style="border: none; width: 100%">
      <tr>
        <td width="40%">Receipt Number</td>
        {{#if hasPinCode}}
        <td width="20%">PIN Code</td>
        <td width="39%" rowspan="2" style="text-align: right">{{{barcodeImage}}}</td>
        {{/if}}
      </tr>
      <tr>
        <td style="font-size: 20px; font-weight: normal">{{receiptNumber}}</td>
        {{#if hasPinCode}}
        <td style="font-size: 33px; font-weight: bold">{{pinCode}}</td>
        {{/if}}
      </tr>
    </table>
  </div>

  <div style="margin: 10px;">
    <p style="margin: 5px 0">Dear <span>{{customer.name}}</span>,</p>

    <p style="margin: 5px 0">Thank you for your interest in our cable
      car Sky Dining - a unique in-the-sky dinner experience coupled with
      gorgeous views onboard a private dining cabin.</p>

    <p style="margin: 5px 0">We have received your booking and are pleased to confirm your reservation details as
      follows:</p>
  </div>

  <div style="margin: 15px 10px; padding: 5px 0; border-top: 1px solid #555555; border-bottom: 1px solid #555555">
    <p style="margin: 3px 0; display: block; padding: 0;">Date of Purchase: <span style="font-weight:bold">{{dateOfPurchase}}</span>
    </p>

    <p style="margin: 3px 0; display: block; padding: 0;">Payment Type: <span
      style="font-weight:bold">{{paymentType}}</span></p>

    <p style="margin: 3px 0; display: block; padding: 0;">Email: <span
      style="font-weight:bold">{{customer.email}}</span></p>

    <p style="margin: 3px 0; display: block; padding: 0;">Name: <span style="font-weight:bold">{{customer.salutation}}&nbsp;{{customer.name}}</span>
    </p>

    <p style="margin: 3px 0; display: block; padding: 0;">Mobile: <span
      style="font-weight:bold">{{customer.mobile}}</span></p>

  </div>

  {{#skyDiningProducts}}
  <table cellpadding="0" cellspacing="0" style="margin: 10px 0; width: 100%;">
    <colgroup>
      <col span="1" style="width: 37%"/>
      <col span="1" style="width: 36%"/>
      <col span="1" style="width: 10%"/>
      <col span="1" style="width: 5%"/>
      <col span="1" style="width: 13%"/>
    </colgroup>
    <tr>
      <th colspan="5" style="font-size: 13px; padding: 7px 0; text-align: left;">{{name}}</th>
    </tr>
    <tr>
      <th
        style="padding: 3px 0;background: #226d9e;color: white; font-weight: normal; text-align: left; padding-left: 5px">
        Item
      </th>
      <th
        style="padding: 3px 0;background: #226d9e;color: white; font-weight: normal; text-align: left; padding-left: 5px">
        Details
      </th>
      <th style="padding: 3px 0;background: #226d9e;color: white; font-weight: normal; text-align: center;">Unit Price
      </th>
      <th style="padding: 3px 0;background: #226d9e;color: white; font-weight: normal; text-align: center;">Qty.</th>
      <th style="padding: 3px 0;background: #226d9e;color: white; font-weight: normal; text-align: center;">Amount</th>
    </tr>
    <tbody class="section-main">
    {{#skyDiningItems}}
    {{#if isTopup}}
    <tr style="background: #f3f3f3">
      <td class="cell-item" style="padding: 5px; border-bottom: 1px solid #dddddd;padding-left: 10px;">
        <span
          style="font-weight: bold; width: 15px; display: inline-block; text-align:center; padding: 2px; background: #AAAAAA; color:white">+</span>
        {{name}}
      </td>
      <td class="cell-desc" style="padding: 5px; border-bottom: 1px solid #dddddd;">
        <div class="cell-desc-div">{{{description}}}</div>
      </td>
      <td class="cell-unit" style="text-align:center;padding: 5px; border-bottom: 1px solid #dddddd;">
        {{priceText}}
      </td>
      <td class="cell-qty" style="text-align:center;padding: 5px; border-bottom: 1px solid #dddddd;">{{qty}}</td>
      <td class="cell-sub" style="text-align:center;padding: 5px; border-bottom: 1px solid #dddddd;">
        {{totalText}}
      </td>
    </tr>
    {{else}}
    <tr>
      <td class="cell-item" style="padding: 5px; border-bottom: 1px solid #dddddd;">
        {{name}}
        {{#if hasDiscount}}
        <br/><span style="font-style: italic;">{{discountName}}</span>
        {{/if}}
      </td>
      <td class="cell-desc" style="padding: 5px; border-bottom: 1px solid #dddddd;">
        <div class="cell-desc-div">{{{description}}}</div>
      </td>
      <td class="cell-unit" style="text-align:center;padding: 5px; border-bottom: 1px solid #dddddd;">
        {{priceText}}
      </td>
      <td class="cell-qty" style="text-align:center;padding: 5px; border-bottom: 1px solid #dddddd;">{{qty}}</td>
      <td class="cell-sub" style="text-align:center;padding: 5px; border-bottom: 1px solid #dddddd;">
        {{totalText}}
      </td>
    </tr>
    {{#if hasMainCourse}}
    <tr class="row-main row-topup">
      <td class="cell-item" style="padding: 5px; border-bottom: 1px solid #dddddd;">
        <span
          style="font-weight: bold; width: 15px; display: inline-block; text-align:center; padding: 2px; background: #AAAAAA; color:white">&gt;</span>
        Main Course Selections
      </td>
      <td class="cell-desc" style="padding: 5px; border-bottom: 1px solid #dddddd;">
        <div class="cell-desc-div">{{{mainCourseText}}}</div>
      </td>
      <td class="cell-unit" style="text-align:center;padding: 5px; border-bottom: 1px solid #dddddd;">&nbsp;</td>
      <td class="cell-qty" style="text-align:center;padding: 5px; border-bottom: 1px solid #dddddd;">&nbsp;</td>
      <td class="cell-sub" style="text-align:center;padding: 5px; border-bottom: 1px solid #dddddd;">&nbsp;</td>
    </tr>
    {{/if}}
    {{/if}}
    {{#if hasRemarks}}
    <tr>
      <td class="cell-item" style="padding: 5px; border-bottom: 1px solid #dddddd;">
        <span
          style="font-weight: bold; width: 15px; display: inline-block; text-align:center; padding: 2px; background: #AAAAAA; color:white">&gt;</span>
        Special Requests
      </td>
      <td class="cell-desc" colspan="4" style="padding: 5px; border-bottom: 1px solid #dddddd;">
        <div class="cell-desc-div">{{{remarks}}}</div>
      </td>
    </tr>
    {{/if}}
    {{/skyDiningItems}}
    </tbody>
    <tr>
      <td colspan="4"
          style="padding: 7px 0; font-weight: bold; border-bottom: 1px solid #dddddd; text-align:right;text-transform:uppercase;">
        Sub Total:<br/>Service Charge({{serviceCharge}}%):<br/>GST({{gst}}%):<br/>Additional Items:
      </td>
      <td style="padding: 7px 0; font-weight: bold; border-bottom: 1px solid #dddddd; text-align:center">
        {{subtotalText}}<br/>{{serviceChargeTotalText}}<br/>{{gstTotalText}}<br/>{{topUpPriceText}}
      </td>
    </tr>
  </table>

  <div style="text-align: right; padding: 20px 0">
            <span style="display: inline-block; margin-right: 10px; font-weight: bold; font-size: 15px">Grand Total (SGD): 
            <span style="display: inline-block; margin-left: 10px; color: #ea2e2e">{{totalText}}</span>
        </span></div>

  {{/skyDiningProducts}}

  <div style="margin: 5px 10px; padding: 5px; color: #666666; font-size: 11px">
    <h3 style="margin: 5px 0">For a smooth dining experience, please
      present your Sky Dining Confirmation Receipt to our Sky Dining
      reservations team on arrival.</h3>
    <h4>For general enquiries, please email us at guestrelations@mountfaber.com.sg or call (65) 6377 9688.</h4>
    <h4>For corporate enquiries, please email us at enquiry@mountfaber.com.sg or call (65) 6377 9648/9.</h4>
    <h5>*This is an automatically generated email. Please do not reply as this mailbox is not monitored.</h5>
  </div>

  {{#if hasTnc}}
  <div style="page-break-before: always;"></div>
  <div style="margin: 5px 10px; border: 1px solid #aaaaaa; padding: 5px; color: #666666; font-size: 11px">
    <h3 style="margin: 5px 0">Terms &amp; Conditions</h3>
    {{#tncs}}
    <div style="margin: 5px 0">
      <h4 style="margin: 5px 0">{{title}}</h4>

      <div>{{{content}}}</div>
    </div>
    {{/tncs}}
  </div>
  {{/if}}

  {{#if hasAd}}
  <div style="width: 100%; margin: 10px 0; height: 100px; text-align: center;">
    <img src="{{adUrl}}" width="650" height="100"/>
  </div>
  {{/if}}
</div>
</body>
</html>