<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>Sentosa Ticketing Receipt</title></head>
<body style="font-family:Helvetica,Arial, sans-serif;font-size:12px;color:#333333;margin:0 auto; padding: 0; width: 650px;">
<table width="650" cellpadding="0" cellspacing="0"><tr><td>
    <!-- <div style="display: block; margin: 10px; padding: 5px; width: 650px; height: auto"> -->

    <div style="background: #FFF url('{{baseUrl}}resources/b2c-slm/theme/default/img/header-bg.png') 300px 0 no-repeat; font-size: 14px; padding: 1em;">
        <a style="display: block;float: left;margin: 0 0 0 0.7em;"><img src= "{{baseUrl}}resources/b2c-slm/theme/default/img/ticket-logo.png" /></a>
        <div style="float: right">
            <p style="margin-top: 45px">Date Of Purchase: <span style="text-align:right">{{dateOfPurchase}}</span></p>
        </div>
        <div style="float: left; margin-top: 10px;margin-left: 110px;">
            <span>GST No.: MB-8100139-6</span>
        </div>
        <div style="clear: both"></div>
    </div>

    <div style="border: 3px solid #D1D1D1;background-color: #FFF;padding: 1em;">
        <div style="float:left">
            <p style="">Receipt Number</p>
            <p style="font-size:1.4em;margin:0.35em 0 1.4em 0">{{receiptNumber}}</p>
            {{#if hasPinCode}}
            <p class="pin-code">PIN Code</p>
            <p style="font-size:2em;margin:0.35em 0 0 0">{{pinCode}}</p>
            {{/if}}
        </div>
        <div style="margin:0.56em 0 0 0;float:right">{{{barcodeImage}}}</div>
        <div style="clear: both"></div>
    </div>

    <div style="margin: 10px;">
        <p style="margin: 5px 0">Dear <span>{{customer.name}}</span>,</p>
        <!--<p style="margin: 5px 0">Please present this confirmation receipt at Sentosa ticketing counters to redeem your Sentosa tickets.</p>-->
        <!-- Email Message -->
        <p style="margin: 5px 0">Your order details are summarized below:</p>
    </div>

    <div style="margin: 15px 10px; padding: 5px 0; border-top: 1px solid #555555; border-bottom: 1px solid #555555">
        <table cellpadding="0" cellspacing="0" style="margin: 10px 0; width: 100%;">
            <colgroup>
                <col span="1" style="width: 25%" />
                <col span="1" style="width: 75%" />
            </colgroup>
            <tr><th colspan="2" style="padding: 5px 0;background: #166BA2;color: white; text-align: center;">Personal Information</th></tr>
            <tr>
                <td style="text-align: right; padding: 3px 10px;">Name: </td>
                <td width="75%" class="attribute">{{customer.name}}</td>
            </tr>
            <tr>
                <td style="text-align: right; padding: 3px 10px;">Email:</td>
                <td class="attribute">{{customer.email}}</td>
            </tr>
            <!--
            <tr>
                <td style="text-align: right; padding: 3px 10px;">ID:</td>
                <td class="attribute">{{customer.idText}}</td>
            </tr>
             -->
            <tr>
                <td style="text-align: right; padding: 3px 10px;">Mobile Number:</td>
                <td class="attribute">{{customer.mobile}}</td>
            </tr>
            <tr>
                <td style="text-align: right; padding: 3px 10px;">Payment Type:</td>
                <td class="attribute">{{paymentType}}</td>
            </tr>
        </table>
    </div>

    {{#cmsProducts}}
    <table cellpadding="0" cellspacing="0" style="margin: 10px 0; width: 100%;">
        <colgroup>
            <col span="1" style="width: 37%" />
            <col span="1" style="width: 36%" />
            <col span="1" style="width: 10%" />
            <col span="1" style="width: 5%" />
            <col span="1" style="width: 13%" />
        </colgroup>
        <tr><th colspan="5" style="font-size: 13px; padding: 7px 0; text-align: left;">{{name}}</th></tr>
        <tr>
            <th style="padding: 10px 0;background: #1CA9EA;color: white; font-weight: normal; text-align: left; padding-left: 5px">Item</th>
            <th style="padding: 10px 0;background: #1CA9EA;color: white; font-weight: normal; text-align: left; padding-left: 5px">Details</th>
            <th style="padding: 10px 0;background: #1CA9EA;color: white; font-weight: normal; text-align: center;">Unit Price</th>
            <th style="padding: 10px 0;background: #1CA9EA;color: white; font-weight: normal; text-align: center;">Qty.</th>
            <th style="padding: 10px 0;background: #1CA9EA;color: white; font-weight: normal; text-align: center;">Amount</th>
        </tr>
        <tbody class="section-main">
        {{#items}}
        {{#if isTopup}}
        <tr style="background: #f3f3f3">
            <td class="cell-item" style="padding: 5px; border-bottom: 1px solid #dddddd;padding-left: 10px;">
                <span style="font-weight: bold; width: 15px; display: inline-block; text-align:center; padding: 2px; background: #AAAAAA; color:white">+</span> {{name}}  <br/>
                <span style="font-weight: bold; width: 15px; display: inline-block; text-align:center; padding: 2px;"></span>
                <span style="color: gray">{{productDescription}}</span>
            </td>
            <td class="cell-desc" style="padding: 5px; border-bottom: 1px solid #dddddd;"><div class="cell-desc-div">{{{description}}}</div></td>
            <td class="cell-unit" style="text-align:center;padding: 5px; border-bottom: 1px solid #dddddd;">{{priceText}}</td>
            <td class="cell-qty" style="text-align:center;padding: 5px; border-bottom: 1px solid #dddddd;">{{qty}}</td>
            <td class="cell-sub" style="text-align:center;padding: 5px; border-bottom: 1px solid #dddddd;">{{totalText}}</td>
        </tr>
        {{else}}
        <tr>
            <td class="cell-item" style="padding: 5px; border-bottom: 1px solid #dddddd;">{{name}} <br/>
                <span style="color: gray"> {{productDescription}}</span>
            </td>
            <td class="cell-desc" style="padding: 5px; border-bottom: 1px solid #dddddd;"><div class="cell-desc-div">{{{description}}}</div></td>
            <td class="cell-unit" style="text-align:center;padding: 5px; border-bottom: 1px solid #dddddd;">{{priceText}}</td>
            <td class="cell-qty" style="text-align:center;padding: 5px; border-bottom: 1px solid #dddddd;">{{qty}}</td>
            <td class="cell-sub" style="text-align:center;padding: 5px; border-bottom: 1px solid #dddddd;">{{totalText}}</td>
        </tr>
        {{/if}}
        {{/items}}
        </tbody>
        <tr>
            <td colspan="4" style="padding: 7px 0; font-weight: bold; border-bottom: 1px solid #dddddd; text-align:right;text-transform:uppercase;">SUBTOTAL:</td>
            <td style="padding: 7px 0; font-weight: bold; border-bottom: 1px solid #dddddd; text-align:center">{{subtotalText}}</td>
        </tr>
    </table>
    {{/cmsProducts}}

    {{#if hasBookingFee}}
    <table cellpadding="0" cellspacing="0" style="margin: 10px 0; width: 100%;">
        <colgroup>
            <col span="1" style="width: 67%" />
            <col span="1" style="width: 10%" />
            <col span="1" style="width: 5%" />
            <col span="1" style="width: 13%" />
        </colgroup>
        <tr><th colspan="4" style="font-size: 13px; padding: 7px 0; text-align: left;">Booking Fee</th></tr>
        <tr class="row-header">
            <th style="padding: 10px 0;background: #1CA9EA;color: white; font-weight: normal; text-align: left; padding-left: 5px">Booking Fee</th>
            <th style="padding: 10px 0;background: #1CA9EA;color: white; font-weight: normal; text-align: center;">Unit Price</th>
            <th style="padding: 10px 0;background: #1CA9EA;color: white; font-weight: normal; text-align: center;">Qty.</th>
            <th style="padding: 10px 0;background: #1CA9EA;color: white; font-weight: normal; text-align: center;">Amount</th>
        </tr>
        <tbody class="section-main">
        <tr class="row-main">
            <td style="padding: 5px; border-bottom: 1px solid #dddddd;">{{bookFeeMode}}</td>
            <td class="cell-unit" style="text-align:center;padding: 5px; border-bottom: 1px solid #dddddd;">{{bookPriceText}}</td>
            <td class="cell-qty" style="text-align:center;padding: 5px; border-bottom: 1px solid #dddddd;">{{bookFeeQty}}</td>
            <td class="cell-sub" style="text-align:center;padding: 5px; border-bottom: 1px solid #dddddd;">{{bookFeeSubTotalText}}</td>
        </tr>
        </tbody>
        <tr class="row-subtotal">
            <td colspan="3" style="padding: 7px 0; font-weight: bold; border-bottom: 1px solid #dddddd; text-align:right;text-transform:uppercase;">SUBTOTAL:</td>
            <td style="padding: 7px 0; font-weight: bold; border-bottom: 1px solid #dddddd; text-align:center;">{{bookFeeSubTotalText}}</td>
        </tr>
    </table>
    {{/if}}

    <div style="text-align: right; padding: 20px 0">
            <span style="display: inline-block; margin-right: 10px; font-weight: bold; font-size: 15px">GRAND TOTAL (Inclusive of GST):
            <span style="display: inline-block; margin-left: 10px; color: black">{{totalText}}</span>
        </span></div>

    <div style="margin: 5px 10px; padding: 5px; color: black; font-size: 13px">
        <span style="font-weight: bold">For verification purposes, please present the following upon redemption:</span>
        <ol>
            <li>Email Confirmation</li>
            <li>Credit card used for purchase</li>
        </ol>
        <span style="font-weight: bold">For a proxy to collect on your behalf, he/she needs to presents:</span>
        <ol>
            <li>Email Confirmation</li>
            <li>This <a href="{{baseUrl}}/dam/jcr:c9111e86-6cd0-4588-b25e-addbaf84d17d/letter-of-auth-slm.pdf" target="_blank">Letter of Authorisation</a> (duly completed and signed by you)</li>
            <li>Clear photocopy of your photo identification card such as NRIC/Passport/FIN Card</li>
            <li>Proxy's original photo identification</li>
        </ol>
        <span style="font-weight: bold">Important note:<br/>
            Sentosa Development Corporation reserves the right not to release tickets if the above documents are not in order.</span>
    </div>

    {{#if hasTnc}}
    <div style="page-break-before: always;"></div>
    <div style="margin: 5px 10px; border: 1px solid #aaaaaa; padding: 5px; color: black; font-size: 11px">
        <!--<h3 style="margin: 5px 0">Terms &amp; Conditions</h3>-->
        {{#tncs}}
        <div style="margin: 5px 0">
            <h4 style="margin: 5px 0">{{title}}</h4>
            <div>{{{content}}}</div>
        </div>
        {{/tncs}}
    </div>
    {{/if}}

    {{#if hasAd}}
    <div style="width: 100%; margin: 10px 0; height: 100px; text-align: center;">
        {{#if hasAdLink}}
        <a href="{{adLink}}"><img src="{{adUrl}}" width="650" height="100"/></a>
        {{else}}
        <img src="{{adUrl}}" width="650" height="100"/>
        {{/if}}
    </div>
    {{/if}}


    <!-- <table style="width: 100%" cellpadding="0" cellspacing="0"><tr><td align="center"> -->
    <table style="position: relative;" width="650" height="225" cellpadding="0" cellspacing="0" align="center">
        <tr>
            <td background="{{baseUrl}}resources/b2c-slm/theme/default/img/receipt/receipt-bottom-650.png" bgcolor="#FFFFFF" width="650" height="225" valign="top">
                <!--[if gte mso 9]>
                <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:650px;height:225px;">
                    <v:fill type="tile" src="{{baseUrl}}resources/b2c-slm/theme/default/img/receipt/receipt-bottom-650.png" color="#FFFFFF" />
                    <v:textbox inset="0,0,0,0">
                <![endif]-->
                <table width="650" height="70" cellpadding="0" cellspacing="0"><tr><td width="650" height="70">&nbsp;</td></tr></table>
                <table width="650" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
                    <tr>
                        <td colspan="5" height="25">&nbsp;</td>
                        <td style="color: #FFFFFF; font-size: 11px; text-align:left"><span>Check out the MySentosa App to get the latest promotions!</span></td>
                    </tr>
                    <tr>
                        <td width="65" style="text-align:right"><a href="http://www.facebook.com/sentosaofficial" target="_blank" style="text-decoration: none;"><img style="border:none;" src="{{baseUrl}}resources/b2c-slm/theme/default/img/Facebook.png" alt="Facebook"/></a></td>
                        <td width="65" style="text-align:right"><a href="http://www.twitter.com/Sentosa_Island" target="_blank" style="text-decoration: none;"><img style="border:none;" src="{{baseUrl}}resources/b2c-slm/theme/default/img/Twitter.png" alt="Twitter" /></a></td>
                        <td width="65" style="text-align:right"><a href="http://www.youtube.com/user/SentosaTV" target="_blank" style="text-decoration: none;"><img style="border:none;" src="{{baseUrl}}resources/b2c-slm/theme/default/img/YouTube.png" alt="YouTube" /></a></td>
                        <td width="65" style="text-align:right"><a href="http://instagram.com/sentosa_island" target="_blank" style="text-decoration: none;"><img style="border:none;" src="{{baseUrl}}resources/b2c-slm/theme/default/img/Instagram.png" alt="Instagram" /></a></td>
                        <td width="40">&nbsp;</td>
                        <td style="text-align:left">
                            <a href="http://www.sentosa.com.sg/en/whats-on/events/mysentosa/" target="_blank" style="text-decoration: none;"><img style="border:none;" src="{{baseUrl}}resources/b2c-slm/theme/default/img/receipt/mysentosa-app.png" alt="My Sentosa"/></a>
                        </td>
                    </tr>
                </table>
                <table width="650" height="31" cellpadding="0" cellspacing="0"><tr><td width="650" height="31">&nbsp;</td></tr></table>
                <table width="650" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
                    <tr>
                        <td width="70" style="text-align:right"><a href="http://www.sentosa.com.sg/en/getting-to-around-sentosa/getting-to-sentosa/" target="_blank" style="text-decoration: none;"><img style="border:none;" src="{{baseUrl}}resources/b2c-slm/theme/default/img/receipt/go-to-sentosa.png" alt="Go To Sentosa" /></a></td>
                        <td width="65" style="text-align:right"><a href="http://www.sentosa.com.sg/en/getting-to-around-sentosa/getting-to-sentosa/" target="_blank" style="text-decoration: none;"><img style="border:none;" src="{{baseUrl}}resources/b2c-slm/theme/default/img/receipt/where-to-park.png" alt="Where To Park" /></a></td>
                        <td width="65" style="text-align:right"><a href="http://www.sentosa.com.sg/en/getting-to-around-sentosa/getting-around-sentosa/" target="_blank" style="text-decoration: none;"><img style="border:none;" src="{{baseUrl}}resources/b2c-slm/theme/default/img/receipt/find-your-way.png" alt="Find Your Way" /></a></td>
                        <td width="285">&nbsp;</td>
                        <td style="text-align:left">
                            <a href="http://www.sentosa.com" target="_blank" style="text-decoration: none;"><img style="border:none;" src="{{baseUrl}}resources/b2c-slm/theme/default/img/receipt/visit-sentosa.png" alt="Visit Our Website" /></a>
                        </td>
                    </tr>
                </table>
                <!--[if gte mso 9]>
                </v:textbox>
                </v:rect>
                <![endif]-->
            </td>
        </tr>
    </table>
    <!-- </td></tr></table> -->
    <!-- </div> -->
</td></tr></table>
</body>
</html>