<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>MFLG Booking Receipt</title>
    <style type="text/css">      div, table, tr, td, p {
        font-family: STHeiti;
    } </style>
</head>
<body style="font-family:STHeiti;font-size:12px;color:#333333;margin:0 auto; padding: 0">
<div style="display: block; margin: 10px; padding: 5px; width: 650px; height: auto">
    <div style="margin: 5px"><img src="{{baseUrl}}resources/b2c-mflg/theme/default/img/logo/receipt-logo-en.png"/>
    </div>
    <div style="margin-top: 10px; margin-left: 110px;">
        <span>GST No.: M2-0010940-6</span>
    </div>
    <div style="margin: 5px; border-bottom: 2px solid #333333; padding-bottom: 5px; margin-top: 20px">
        <table cellpadding="0" cellspacing="0" style="border: none; width: 100%">
            <tr>
                <td width="40%">Receipt Number</td>
                {{#if hasPinCode}}
                <td width="20%">PIN Code</td>
                <td width="39%" rowspan="2" style="text-align: right">{{{barcodeImage}}}</td>
                {{/if}}
            </tr>
            <tr>
                <td style="font-size: 20px; font-weight: normal">{{receiptNumber}}</td>
                {{#if hasPinCode}}
                <td style="font-size: 33px; font-weight: bold">{{pinCode}}</td>
                {{/if}}
            </tr>
        </table>
    </div>
    <div style="margin: 10px;"><p style="margin: 5px 0">Dear <span>{{customer.name}}</span>,</p>

        <p style="margin: 5px 0">Thank you for your booking! For instructions on how to redeem, please refer to the
            redemption mechanics stated in the Terms &amp; Conditions at the bottom of the page.</p>
        <!-- Email Message --> <p style="margin: 5px 0">Your order details are summarized below:</p></div>
    <div style="margin: 15px 10px; padding: 5px 0; border-top: 1px solid #555555; border-bottom: 1px solid #555555"><p
            style="margin: 3px 0; display: block; padding: 0;">Date of Purchase: <span style="font-weight:bold">{{dateOfPurchase}}</span>
    </p>

        <p style="margin: 3px 0; display: block; padding: 0;">Payment Type: <span style="font-weight:bold">{{paymentType}}</span>
        </p>

        <p style="margin: 3px 0; display: block; padding: 0;">Email: <span
                style="font-weight:bold">{{customer.email}}</span></p>

        <p style="margin: 3px 0; display: block; padding: 0;">Name: <span style="font-weight:bold">{{customer.salutation}}{{customer.name}}</span>
        </p>
        <!-- <p style="margin: 3px 0; display: block; padding: 0;">ID: <span style="font-weight:bold">{{customer.idText}}</span></p> -->
        <p style="margin: 3px 0; display: block; padding: 0;">Mobile: <span
                style="font-weight:bold">{{customer.mobile}}</span></p> {{#cmsProducts}}
        <table cellpadding="0" cellspacing="0" style="margin: 10px 0; width: 100%;">
            <colgroup>
                <col span="1" style="width: 37%"/>
                <col span="1" style="width: 36%"/>
                <col span="1" style="width: 10%"/>
                <col span="1" style="width: 5%"/>
                <col span="1" style="width: 13%"/>
            </colgroup>
            <tr>
                <th colspan="5" style="font-size: 13px; padding: 7px 0; text-align: left;">{{name}}</th>
            </tr>
            <tr>
                <th style="padding: 3px 0;background: #226d9e;color: white; font-weight: normal; text-align: left; padding-left: 5px">
                    Item
                </th>
                <th style="padding: 3px 0;background: #226d9e;color: white; font-weight: normal; text-align: left; padding-left: 5px">
                    Details
                </th>
                <th style="padding: 3px 0;background: #226d9e;color: white; font-weight: normal; text-align: center;">
                    Unit Price
                </th>
                <th style="padding: 3px 0;background: #226d9e;color: white; font-weight: normal; text-align: center;">
                    Qty.
                </th>
                <th style="padding: 3px 0;background: #226d9e;color: white; font-weight: normal; text-align: center;">
                    Amount
                </th>
            </tr>
            <tbody class="section-main"> {{#items}} {{#if isTopup}}
            <tr style="background: #f3f3f3">
                <td class="cell-item" style="padding: 5px; border-bottom: 1px solid #dddddd;padding-left: 10px;"><span
                        style="font-weight: bold; width: 15px; display: inline-block; text-align:center; padding: 2px; background: #AAAAAA; color:white">+</span>
                    {{name}}<br/>
                    <span style="font-weight: bold; width: 15px; display: inline-block; text-align:center; padding: 2px;"></span>
                    <span style="color: gray">{{productDescription}}</span>
                </td>
                <td class="cell-desc" style="padding: 5px; border-bottom: 1px solid #dddddd;">
                    <div class="cell-desc-div">{{{description}}}</div>
                </td>
                <td class="cell-unit" style="text-align:center;padding: 5px; border-bottom: 1px solid #dddddd;">
                    {{priceText}}
                </td>
                <td class="cell-qty" style="text-align:center;padding: 5px; border-bottom: 1px solid #dddddd;">{{qty}}
                </td>
                <td class="cell-sub" style="text-align:center;padding: 5px; border-bottom: 1px solid #dddddd;">
                    {{totalText}}
                </td>
            </tr>
            {{else}}
            <tr>
                <td class="cell-item" style="padding: 5px; border-bottom: 1px solid #dddddd;">{{name}} <br/>
                    <span style="color: gray"> {{productDescription}}</span>
                </td>
                <td class="cell-desc" style="padding: 5px; border-bottom: 1px solid #dddddd;">
                    <div class="cell-desc-div">{{{description}}}</div>
                </td>
                <td class="cell-unit" style="text-align:center;padding: 5px; border-bottom: 1px solid #dddddd;">
                    {{priceText}}
                </td>
                <td class="cell-qty" style="text-align:center;padding: 5px; border-bottom: 1px solid #dddddd;">{{qty}}
                </td>
                <td class="cell-sub" style="text-align:center;padding: 5px; border-bottom: 1px solid #dddddd;">
                    {{totalText}}
                </td>
            </tr>
            {{/if}} {{/items}}
            </tbody>
            {{#if hasBmc}}
            <tr class="row-main row-topup">
                <td class="cell-item" style="padding: 5px; border-bottom: 1px solid #dddddd;"><span
                        style="font-weight: bold; width: 15px; display: inline-block; text-align:center; padding: 2px; background: #AAAAAA; color:white">&gt;</span>
                    Main Course Selections
                </td>
                <td class="cell-desc" style="padding: 5px; border-bottom: 1px solid #dddddd;">
                    <div class="cell-desc-div">{{{bmcText}}}</div>
                </td>
                <td class="cell-unit" style="text-align:center;padding: 5px; border-bottom: 1px solid #dddddd;">
                    &nbsp;</td>
                <td class="cell-qty" style="text-align:center;padding: 5px; border-bottom: 1px solid #dddddd;">
                    &nbsp;</td>
                <td class="cell-sub" style="text-align:center;padding: 5px; border-bottom: 1px solid #dddddd;">
                    &nbsp;</td>
            </tr>
            {{/if}}
            <tr>
                <td colspan="4"
                    style="padding: 7px 0; font-weight: bold; border-bottom: 1px solid #dddddd; text-align:right;text-transform:uppercase;">
                    SUBTOTAL:
                </td>
                <td style="padding: 7px 0; font-weight: bold; border-bottom: 1px solid #dddddd; text-align:center">
                    {{subtotalText}}
                </td>
            </tr>
        </table>
        {{/cmsProducts}} {{#if hasBookingFee}}
        <table cellpadding="0" cellspacing="0" style="margin: 10px 0; width: 100%;">
            <colgroup>
                <col span="1" style="width: 67%"/>
                <col span="1" style="width: 10%"/>
                <col span="1" style="width: 5%"/>
                <col span="1" style="width: 13%"/>
            </colgroup>
            <tr>
                <th colspan="4" style="font-size: 13px; padding: 7px 0; text-align: left;">Booking Fee</th>
            </tr>
            <tr class="row-header">
                <th style="padding: 3px 0;background: #226d9e;color: white; font-weight: normal; text-align: left; padding-left: 5px">
                    Booking Fee
                </th>
                <th style="padding: 3px 0;background: #226d9e;color: white; font-weight: normal; text-align: center;">
                    Unit Price
                </th>
                <th style="padding: 3px 0;background: #226d9e;color: white; font-weight: normal; text-align: center;">
                    Qty.
                </th>
                <th style="padding: 3px 0;background: #226d9e;color: white; font-weight: normal; text-align: center;">
                    Amount
                </th>
            </tr>
            <tbody class="section-main">
            <tr class="row-main">
                <td style="padding: 5px; border-bottom: 1px solid #dddddd;">{{bookFeeMode}}</td>
                <td class="cell-unit" style="text-align:center;padding: 5px; border-bottom: 1px solid #dddddd;">
                    {{bookPriceText}}
                </td>
                <td class="cell-qty" style="text-align:center;padding: 5px; border-bottom: 1px solid #dddddd;">
                    {{bookFeeQty}}
                </td>
                <td class="cell-sub" style="text-align:center;padding: 5px; border-bottom: 1px solid #dddddd;">
                    {{bookFeeSubTotalText}}
                </td>
            </tr>
            </tbody>
            <tr class="row-subtotal">
                <td style="padding: 7px 0; font-weight: bold; border-bottom: 1px solid #dddddd; text-align:right;text-transform:uppercase;">
                    &nbsp;</td>
                <td colspan="2"
                    style="padding: 7px 0; font-weight: bold; border-bottom: 1px solid #dddddd; text-align:right;text-transform:uppercase;">
                    SUBTOTAL:
                </td>
                <td style="padding: 7px 0; font-weight: bold; border-bottom: 1px solid #dddddd; text-align:center;">
                    {{bookFeeSubTotalText}}
                </td>
            </tr>
        </table>
        {{/if}}
        <div style="text-align: right; padding: 20px 0"><span
                style="display: inline-block; margin-right: 10px; font-weight: bold; font-size: 15px">GRAND TOTAL (Inclusive of GST):              <span
                style="display: inline-block; margin-left: 10px;">{{totalText}}</span>         </span>
        </div>

        <div style="margin: 5px 10px; padding: 5px; color: #666666; font-size: 11px">
            <h3 style="margin: 5px 0">Notes</h3>
            <h4>Please note that all completed and confirmed transactions cannot be cancelled,
                refunded or amended under any circumstances.</h4>

            <span style="font-weight: bold">For verification purposes, please present the following upon redemption:</span>
            <ol>
                <li>Email Confirmation</li>
                <li>Credit card used for purchase</li>
            </ol>
            <span style="font-weight: bold">For a proxy to collect on your behalf, he/she needs to presents:</span>
            <ol>
                <li>Email Confirmation</li>
                <li>This <a href="{{baseUrl}}/dam/jcr:74ef58ab-b3dd-43b9-b85b-f343794efba9/letter-of-auth-mflg.pdf"
                            target="_blank">Letter of Authorisation</a> (duly completed and signed by you)
                </li>
                <li>Clear photocopy of your photo identification card such as NRIC/Passport/FIN Card</li>
                <li>Proxy's original photo identification</li>
            </ol>

            <h4>For general enquiries, please email us at
                <a href="mailto:guestrelations@mountfaber.com.sg" target="_top">guestrelations@mountfaber.com.sg</a> or
                call (65) 6377 9688.</h4>
            <h4>For corporate enquiries,
                please email us at <a href="mailto:enquiry@mountfaber.com.sg"
                                      target="_top">enquiry@mountfaber.com.sg</a> or call (65) 6377 9648/9.</h4>
            <h4>We reserve the
                right to disallow redemption if required documents are inadequately furnished.</h4>
        </div>

        {{#if hasTnc}}
        <div style="page-break-before: always;"></div>
        <div style="margin: 5px 10px; border: 1px solid #aaaaaa; padding: 5px; color: #666666; font-size: 11px">{{#tncs}}
            <div style="margin: 5px 0"><h4 style="margin: 5px 0">{{title}}</h4>

                <div>{{{content}}}</div>
            </div>
            {{/tncs}}
        </div>
        {{/if}} {{#if hasAd}}
        <div style="width: 100%; margin: 10px 0; height: 100px; text-align: center;"><img src="{> <{adUrl}}" width="650"
                                                                                          height="100"/></div>
        {{/if}}
    </div>
</div>
</body>
</html>