<!-- template : offlinePaymentTemp, begin -->
<script id="offlinePaymentTemp" type="text/x-kendo-template">
    <div class="row-fluid">
        <h3>Offline Payment List</h3>
        <div class="row-fluid">
            <div class="span20">
                <form id="filterDv" style="margin: 0" class="filter-container">
                    <div class="row-fluid filters-header"><h4>Filter</h4></div>
                    <div class="row-fluid">
                        <div class="span5">
                            <div class="control-group">
                                <label class="control-label">Organization Name:</label>
                                <div class="controls">
                                    <input type="text" class="input-textarea"
                                           data-bind="value: orgName">
                                </div>
                            </div>
                        </div>

                        <div class="span5">
                            <div class="control-group">
                                <label class="control-label">Partner Unique Code:</label>
                                <div class="controls">
                                    <input type="text" class="input-textarea"
                                           data-bind="value: accountCode">
                                </div>
                            </div>
                        </div>

                        <div class="span5">
                            <div class="control-group">
                                <label class="control-label">Created By:</label>
                                <div class="controls">
                                    <input type="text" class="input-textarea"
                                           data-bind="value: username">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row-fluid">
                        <div class="span5">
                            <div class="control-group">
                                <label class="control-label">Transaction Date (From) <span
                                        class="required-ind">*</span></label>
                                <div class="controls">
                                    <input id="startDate" type="text" class="input-textarea"
                                           data-bind="value: startDtStr">
                                </div>
                            </div>
                        </div>

                        <div class="span5">
                            <div class="control-group">
                                <label class="control-label">Transaction Date (To) <span
                                        class="required-ind">*</span></label>
                                <div class="controls">
                                    <input id="endDate" type="text" class="input-textarea"
                                           data-bind="value: endDtStr">
                                </div>
                            </div>
                        </div>

                        <div class="span5">
                            <div class="control-group">
                                <label class="control-label">Reference Num:</label>
                                <div class="controls">
                                    <input type="text" class="input-textarea"
                                           data-bind="value: referenceNum">
                                </div>
                            </div>
                        </div>

                        <div class="span5">
                            <div class="control-group">
                                <label class="control-label">&nbsp;</label>
                                <div class="controls">
                                    <input class="btn btn-primary thin-btn" type="button" value="Filter" data-bind="click: filter"/>
                                    <input class="btn btn-third thin-btn" type="button" value="Reset Filters" data-bind="click: resetFilters"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <section class="result-view">
        <div id="resultMarker"></div>
    </section>
</script>
<!-- template : offlinePaymentTemp, end -->

<script id="appLogsTemp" type="text/x-kendo-template">
    <div id="appLogsDv">
        <div data-bind="visible: applogs().length == 0">
            <h3>No request currently!</h3>
        </div>
        <!-- ko foreach:applogs -->
        <div class="sched-date-row active">
            <span style="vertical-align: top;display: inline-block;width:200px;"><span style="line-height: 35px;" data-bind="text: createdDateStr" ></span></span>
            <span style="vertical-align: top;display: inline-block;width:80px;" data-bind="text: createdBy"></span>
            <span data-bind="text: description" style='color: darkcyan;display: inline-block;width:450px;'></span>
            <div class="primary-actions">
                <a class="btn" data-bind="click: viewDetail">View Details</a>
                <a class="btn btn-primary" data-bind="click: approve">Approve</a>
                <a class="btn btn-danger" data-bind="click: reject">Reject</a>
            </div>
        </div>
        <!-- /ko -->
    </div>
</script>

<script id="reasonPopTemp" type="text/x-kendo-template">
    <form id='reasonForm' action='/admin/products/event/topup/save' method="post" enctype="multipart/form-data" encoding="multipart/form-data">
        <table>
            <tr>
                <td style='width: 200px;' >Reason:</td>
                <td style='width: 550px;'>
                    <select id="selReasons" multiple="multiple"  data-placeholder="You may select multiple reasons">
                    </select>
                </td>
            </tr>
            <tr>
                <td>Remarks:</td>
                <td><textarea style='width: 550px;' rows="4" cols="100" data-bind="value: remarks"  ></textarea></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </table>
        <div>
            <section class="row-fluid filter-controls">
                <div class="span20" align="center">
                    <input type="button" class="btn btn-primary" data-bind="click: save" value='Confirm'/>
                    <input type="button" class="btn" onclick="nvxpage.closePopById('tempWindow');"  value='Cancel' />
                </div>
            </section>
        </div>
    </form>
</script>


<script id="offlineReviewPopTemp" type="text/x-kendo-template">
    <form id='offlineReviewPopForm' action='/admin/products/event/topup/save' method="post" enctype="multipart/form-data" encoding="multipart/form-data">
        <table>
            <tr>
                <td><span style="overflow: hidden; white-space: nowrap;" data-bind="text: approverRemarksLabel"></span>:&nbsp;</td>
                <td><textarea style='width: 92%;' rows="4" cols="100" data-bind="value: approverRemarks"  ></textarea></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </table>
        <div>
            <section class="row-fluid filter-controls">
                <div class="span20" align="center">
                    <input type="button" class="btn btn-danger" data-bind="click: save,value:action"/>
                    <input type="button" class="btn btn-primary" onclick="nvxpage.closePopById('tempWindow');"  value='Cancel' />
                </div>
            </section>
        </div>
    </form>
</script>


<script id="transPopTemp" type="text/x-kendo-template">
    <!-- Receipt details -->
    <div id="transModal" class="admin-modal">
        <div class="row-fluid">
            <div>
                <div>
                    <div>
                        <table class="information">
                            <tbody>
                            <tr>
                                <th style="text-align: left;" colspan="5">Receipt Information</th>
                            </tr>
                            <tr>
                                <td width="20%">Partner Code:</td>
                                <td width="25%"  data-bind="text: partner().accountCode" ></td>
                                <td width="5%">&nbsp;</td>
                                <td width="25%">Order Reference number:</td>
                                <td width="25%"    data-bind="text: offlinePay().receiptNumber" >&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Company:</td>
                                <td    data-bind="text: partner().orgName" ></td>
                                <td width="5%">&nbsp;</td>
                                <td>Validity Start Date:</td>
                                <td   data-bind="text: offlinePay().validityStartDateStr" ></td>
                            </tr>
                            <tr>
                                <td>Address:</td>
                                <td   data-bind="text: partner().address" ></td>
                                <td>&nbsp;</td>
                                <td>Validity End Date:</td>
                                <td   data-bind="text: offlinePay().validityEndDateStr" ></td>
                            </tr>
                            <tr>
                                <td>Username:</td>
                                <td   data-bind="text: partner().username"></td>
                                <td width="5%">&nbsp;</td>
                                <td>Order Created Date:</td>
                                <td   data-bind="text: offlinePay().createDtStr">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Receipt Status:</td>
                                <td   data-bind="text: offlinePay().displayStatus">&nbsp;</td>
                                <td width="5%">&nbsp;</td>
                                <td>Transaction Status:</td>
                                <td   data-bind="text: offlinePay().tmStatus">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Payment Type:</td>
                                <td   data-bind="text: offlinePay().txnPaymentType"></td>
                                <td width="5%"></td>
                                <td></td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div><br/></div>
                    <div>
                        <table class="information">
                            <tr>
                                <th style="text-align: left;" colspan="5">Offline Payment Detail</th>
                            </tr>
                            <tr>
                                <td width="20%">Payment Type:</td>
                                <td width="25%"  data-bind="text: offlinePay().paymentType" ></td>
                                <td width="5%">&nbsp;</td>
                                <td width="25%">Status:</td>
                                <td width="25%"    data-bind="text: offlinePay().status" >&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Bank:</td>
                                <td data-bind="text: offlinePay().bankName" ></td>
                                <td width="5%">&nbsp;</td>
                                <td>Bank Country:</td>
                                <td data-bind="text: offlinePay().bankCountry" ></td>
                            </tr>
                            <tr>
                                <td>Payment Reference Number:</td>
                                <td data-bind="text: offlinePay().referenceNum" ></td>
                                <td>&nbsp;</td>
                                <td>Payment Date:</td>
                                <td data-bind="text: offlinePay().paymentDateStr" ></td>
                            </tr>
                        </table>
                    </div>
                    <div class="main-content-section" id="checkoutView">
                        <!-- ko if: cart().products().length != 0 -->
                        <!-- ko foreach: cart().products  -->
                        <div class="items-details">
                            <h3 class="heading" data-bind="text: title"></h3>
                            <table cellpadding="0" cellspacing="0" width="100%" class="booking-tickets-content-container" border="0">
                                <tr class="primary-multi-heading-bar">
                                    <td width="40%">Product</td>
                                    <td width="30%" class="center">Price</td>
                                    <td width="10%" class="center">Quantity</td>
                                    <td width="15%"class="center">Amount</td>
                                    <td width="5%" class="center"> </td>
                                </tr>
                                <tbody data-bind="foreach: items">
                                <tr data-bind="css:{'main-items':!isTopup,'top-up-items':isTopup}">
                                    <td width="40%">
                                        <!-- ko if:isTopup --><i class="fa fa-plus-circle"></i><!-- /ko -->
                                        <span data-bind="text: title" class="product-item-name"></span>
                                        <span data-bind="html: description"></span>
                                    </td>
                                    <td width="30%" class="center" data-bind="text: ticketType + ' - S$ ' + priceText"></td>
                                    <td width="10%" class="center">
                                        <!-- ko if:isTopup -->
                                        <span data-bind="text: qty"></span>
                                        <!-- /ko --><!-- ko ifnot:isTopup -->
                                        <span data-bind="text: qty"></span>
                                        <!-- /ko -->
                                    </td>
                                    <td width="15%" class="center" data-bind="text: 'S$ ' + totalText()"></td>
                                    <td width="5%"></td>
                                </tr>
                                </tbody>

                                <tr class="subtotal-items main-inner-items">
                                    <td width="70%" colspan="2">
                                        <!-- <i class="fa fa-plus-circle"></i> <span data-bind="text: topupsToAddText"></span> -->
                                    </td>
                                    <td class="subtotal-items-title" width="10%">Subtotal:</td>
                                    <td width="15%" class="center" data-bind="text: 'S$ ' + subtotalText()"></td>
                                    <td width="5%" class="center">&nbsp;</td>
                                </tr>
                            </table>
                        </div>
                        <!-- /ko -->
                        <table cellpadding="0" cellspacing="0" width="100%" class="total-account-section-container">
                            <tr class="subtotal-items main-inner-items">
                                <td width="40%">&nbsp;</td>
                                <td class="subtotal-items-title" colspan="2" width="35%" data-bind="text: 'Total Amount (excl. ' + cart().gstRateStr() +'):'"></td>
                                <td class="center" width="30%" data-bind="text: 'S$ ' + cart().totalNoGstText()"></td>
                                <td width="5%" class="center">&nbsp;</td>
                            </tr>
                            <tr class="total-items subtotal-items">
                                <td class="no-border"width="40%">&nbsp;</td>
                                <td class="subtotal-items-title" colspan="2" width="35%" data-bind="text: 'GST ' + cart().gstRateStr()"></td>
                                <td class="center" width="20%" data-bind="text: 'S$ ' + cart().gstText()"></td>
                                <td width="5%" class="center">&nbsp;</td>
                            </tr>
                            <tr class="main-items subtotal-items">
                                <td class="no-border" width="40%">&nbsp;</td>
                                <td class="subtotal-items-title highlight-title" colspan="2" width="35%">Grand Total:</td>
                                <td class="center highlight-attribute" width="20%"  data-bind="text: 'S$ ' + cart().grandTotalText()"></td>
                                <td width="5%" class="center">&nbsp;</td>
                            </tr>
                        </table>
                        <!-- /ko -->
                    </div>
                    <div class="clearfix"></div>
                    <div><br/></div>
                    <table class="information">
                        <tr>
                            <th style="text-align: left;" colspan="5">Transaction Remarks</th>
                        </tr>
                        <tbody data-bind="foreach: offlinePay().chatHists()">
                        <tr>
                            <td>
                                <div class="chatHistoryBlock">
                                    <div data-bind="css: { 'chatHeaderUser': usertype() == 'USER','chatHeaderAdmin': usertype() == 'ADMIN'}">
                                        <span data-bind="text: username"></span>(<span data-bind="text: createDtStr"></span>)</div>
                                    <div  data-bind="html: content,css: { 'chatBodyUser': usertype() == 'USER','chatBodyAdmin': usertype() == 'ADMIN'}"></div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div data-bind="visible: displayAdminActions()">
                        <div class="clearfix"></div>
                        <div><br/></div>
                        <div style="text-align: center;padding-top: 20px;" >
                            <input type="button" value="Notify Payment" data-bind="visible: manageAllowed(), click: notifyPayment" class="btn btn-primary">
                            <input type="button" value="Approve Payment" data-bind="visible: approveAllowed(), click: approvePayment" class="btn btn-primary">
                            <input type="button" value="Cancel Order" data-bind="visible: displayAdminActions(), click: rejectPayment" class="btn btn-danger">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
