<script id="paPopDetailTemp" type="text/x-kendo-template">
    <h2 class="heading">Partner Info</h2>
    <div class="main-content-section">
        <div class="items-records-container filter-container">
            <div id="errordv" class="error-section" style="display: none;"></div>
            <div class="product-main">
                <div>
                    <table cellpadding="0" cellspacing="0" width="100%" class="information-section">
                        <tr>
                            <td width="40%"><div class="field-label">Organization Name:</div></td>
                            <td data-bind="text: orgName"></td>
                            <td width="16%">&nbsp;</td>
                        </tr>
                        <tr>
                            <td><div class="field-label">Partner Code:</div></td>
                            <td data-bind="text: accountCode"></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td><div class="field-label">Main Account Login Name:</div></td>
                            <td data-bind="text: username"></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td><div class="field-label">Registered Country:</div></td>
                            <td  data-bind="text: countryName"></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td><div class="field-label">Nature of Business:</div></td>
                            <td data-bind="text: orgType"></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td><div class="field-label">Unique Entity Number(UEN):</div></td>
                            <td data-bind="text: uen"></td>
                            <td>&nbsp;</td>
                        </tr>

                        <tr>
                            <td><div class="field-label">Travel Agent License No.:</div></td>
                            <td data-bind="text: licenseNum"></td>
                            <td>&nbsp;</td>
                        </tr>

                        <tr>
                            <td><div class="field-label">Travel Agent License Expiry Date:</div></td>
                            <td data-bind="text: licenseExpDate"></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td><div class="field-label">Business Registered Address</div></td>
                            <td data-bind="text: address"></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td><div class="field-label">Business Registered Postal Code:</div></td>
                            <td data-bind="text: postalCode"></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td><div class="field-label">Business Registered City:</div></td>
                            <td data-bind="text: city"></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td><span class="field-label">Correspondence Address:</span></td>
                            <td>
                                <div><span data-bind="text: correspondenceAddress"></span></div>
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td><span class="field-label">Correspondence Postal Code:</span></td>
                            <td><span data-bind="text: correspondencePostalCode"></span></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td><span class="field-label">Correspondence City:</span></td>
                            <td><span data-bind="text: correspondenceCity"></span></td>
                            <td>&nbsp;</td>
                        </tr>
                        <!-- Upload File part Start -->
                        <tr>
                            <td style='vertical-align: top;' ><div class="field-label">Document Atachment:</div></td>
                            <td  colspan="2">
                                <!-- ko foreach: paDocs -->
                                <span data-bind="text: fileTypeLabel" ></span>&nbsp;<a data-bind="attr: { href: url },text: fileName" ></a><BR/>
                                <!-- /ko -->
                            </td>
                        </tr>
                        <!-- Upload File part End -->
                        <tr>
                            <td><div class="field-label">Contact Person:</div></td>
                            <td data-bind="text: contactPerson"></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td><div class="field-label">Designation or Position</div></td>
                            <td data-bind="text: contactDesignation"></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td><div class="field-label">Office No.:</div></td>
                            <td data-bind="text: telNum"></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td><div class="field-label">Mobile No.:</span></td>
                            <td data-bind="text: mobileNum"></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td><div class="field-label">Fax No.:</div></td>
                            <td data-bind="text: faxNum"></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td><div class="field-label">Email:</div></td>
                            <td data-bind="text: email"></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td><div class="field-label">Website:</div></td>
                            <td data-bind="text: website"></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td><div class="field-label">Key market / Country:</div></td>
                            <td data-bind="text: mainDestinations"></td>
                            <td>&nbsp;</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="product-main">
                <div class="product-header" style="border-bottom-color: \#009FDD;"><h3 style="background: \#009FDD;">Basic Configs</h3></div>
                <div>
                    <table cellpadding="0" cellspacing="0" width="100%" class="information-section">
                        <tr>
                            <td width="40%"><div class="field-label">Account Manager:</div></td>
                            <td data-bind="text: accountManager"></td>
                            <td width="16%">&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="vertical-align: top;"><div class="field-label">Market Distribution Country:</div></td>
                            <td colspan="2">
                                <!--Distribution Map Eidt Div Start -->
                                <div data-bind="visible: distributionModels().length > 0">
                                    <div class="k-grid k-widget">
                                        <div class="k-grid-header" >
                                            <table>
                                                <colgroup>
                                                    <col style="width: 150px">
                                                    <col style="width: 120px">
                                                    <col style="width: 150px">
                                                </colgroup>
                                                <thead>
                                                <tr>
                                                    <th class="k-header">Country</th>
                                                    <th class="k-header">Percentage</th>
                                                    <th class="k-header">Sales Manager</th>
                                                </tr>
                                                </thead>
                                            </table>
                                        </div>
                                        <div class="k-grid-content">
                                            <table>
                                                <colgroup>
                                                    <col style="width: 150px">
                                                    <col style="width: 120px">
                                                    <col style="width: 150px">
                                                </colgroup>
                                                <tbody>
                                                <!-- ko foreach: distributionModels -->
                                                <tr data-bind="css: { 'k-alt': ($index() % 2 == 1) }">
                                                    <td data-bind="text: countryNm"></td>
                                                    <td data-bind="text: percentage"></td>
                                                    <td data-bind="text: adminNm"></td>
                                                </tr>
                                                <!-- /ko -->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!--Distribution Map View Div End -->
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td><div class="field-label">Customer Group:</div></td>
                            <td data-bind="text: customerGroupLabel"></td>
                            <td width="16%">&nbsp;</td>
                        </tr>
                        <tr>
                            <td><div class="field-label">Enable SubAccount:</div></td>
                            <td data-bind="text: subAccountEnabled()? 'Enable' : 'Disable'"></td>
                            <td width="16%">&nbsp;</td>
                        </tr>
                        <tr>
                            <td><div class="field-label">Enable Payment:</div></td>
                            <td>
                                <div>
                                    <span data-bind="visible : onlinePaymentEnabled">Online Payment</span>
                                </div>
                                <div>
                                    <span data-bind="visible : offlinePaymentEnabled">Offline Payment</span>
                                </div>
                                <div>
                                    <span data-bind="visible : depoistEnabled">Deposit</span>
                                </div>
                            </td>
                            <td width="16%">&nbsp;</td>
                        </tr>
                        <tr>
                            <td><div class="field-label">Revalidation Period:</div></td>
                            <td><span data-bind="text: revalPeriodMonths"></span>&nbsp;<span>Months</span></td>
                            <td width="16%">&nbsp;</td>
                        </tr>
                        <tr>
                            <td><div class="field-label">Revalidation Fee(S$):</div></td>
                            <td data-bind="text: revalFeeStr"></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td><div class="field-label">Daily Transaction Caps(S$):</div></td>
                            <td data-bind="text: dailyTransCapStr"></td>
                            <td width="16%">&nbsp;</td>
                        </tr>
                        <tr>
                            <td><div class="field-label">Tier Level:</div></td>
                            <td data-bind="text: tierLabel"></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td><span class="field-label">Capacity Group:</span></td>
                            <td>
                                <div data-bind="text : capacityGroupLabel"></div>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td  style="vertical-align: top;"><div class="field-label">Exclusive Item:</div></td>
                            <td>
                                <!-- ko foreach:excluProds  -->
                                <span data-bind="text: name" ></span><BR/>
                                <!-- /ko -->
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="product-main">
                <div class="product-header" style="border-bottom-color: \#009FDD;"><h3 style="background: \#009FDD;">Wings of Time</h3></div>
                <div>
                    <table cellpadding="0" cellspacing="0" width="100%" class="information-section">
                        <tr>
                            <td width="40%"><span class="field-label">Enable WOT Reservation:</span></td>
                            <td>
                                <div data-bind="text : wotReservationEnabled() ? 'Enable' : 'Disable'"></div>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td width="20%"><span class="field-label">Reservation Cap(Qty):</span></td>
                            <td>
                                <div data-bind="text : wotReservationCap"></div>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td width="20%"><span class="field-label">Valid Until:</span></td>
                            <td>
                                <div class="input-large">
                                    <div data-bind="text : wotReservationValidUntil"></div>
                                </div>
                            </td>
                            <td>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="product-main">
                <div>
                    <table cellpadding="0" cellspacing="0" width="100%" class="information-section">
                        <tr data-bind="visible: showRemarks">
                            <td width="40%"><div class="field-label">Request By:</div></td>
                            <td data-bind="text: createdBy"></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr data-bind="visible: showRemarks">
                            <td><div class="field-label">Request Date:</div></td>
                            <td data-bind="text: createdDateStr"></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr data-bind="visible: showRemarks">
                            <td style="vertical-align: top;"><div class="field-label">Remarks:</div></td>
                            <td style="white-space:pre-wrap" data-bind="text: remarks"></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr data-bind="visible: showRemarks">
                            <td>&nbsp;</td>
                        </tr>
                        <tr data-bind="visible: showRejectRemarks">
                            <td><div class="field-label">Rejected By:</div></td>
                            <td data-bind="text: createdBy"></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr data-bind="visible: showRejectRemarks">
                            <td><div class="field-label">Rejected Date:</div></td>
                            <td data-bind="text: createdDateStr"></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr data-bind="visible: showRejectRemarks">
                            <td style="vertical-align: top;"><div class="field-label">Remarks:</div></td>
                            <td  style="white-space:pre-wrap" data-bind="text: remarks"></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr data-bind="visible: showRejectRemarks">
                            <td>&nbsp;</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div>
                <div data-bind="visible: canApprove()">
                    <table style='width: 100%;'>
                        <tbody>
                        <tr class="inner-action-container" data-bind="visible: canApprove">
                            <td  colspan="3" style='text-align:center;'><input
                                    class="btn btn-primary" type="button"  data-bind="click: approve"
                                    value="Approve" > <input
                                    class="btn btn-third" type="button"  data-bind="click: reject"
                                    value="Reject"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</script>

<script id="reasonPopTemp" type="text/x-kendo-template">
    <form id='reasonForm' action='/admin/products/event/topup/save' method="post" enctype="multipart/form-data" encoding="multipart/form-data">
        <table>
            <tr>
                <td style='width: 200px;' >Reason:</td>
                <td style='width: 550px;'>
                    <select class="input-medium" data-bind="
                        options: reasons,
                        optionsText: 'title',
                        optionsValue: 'id',
                        value: reasonId">
                    </select>
                </td>
            </tr>
            <tr>
                <td>Remarks:</td>
                <td><textarea style='width: 550px;' rows="4" cols="100" data-bind="value: remarks"  ></textarea></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </table>
        <div>
            <section class="row-fluid filter-controls">
                <div class="span20" align="center">
                    <input type="button" class="btn btn-primary" data-bind="click: save" value='Confirm'/>
                    <input type="button" class="btn" onclick="nvxpage.closePopById('tempWindow');"  value='Cancel' />
                </div>
            </section>
        </div>
    </form>
</script>