.wrapper {
    width: 96%;
    max-width: 1100px
}

.wrapper * {
    box-sizing: border-box
}

.landing-main * {
    box-sizing: border-box
}

.landing-main.lmain {
    margin-top: 1em
}

.landing-main img {
    width: 100%
}

.landing-main .main-column {
    display: inline-block;
    width: 54%;
    margin-right: 1%;
    vertical-align: top
}

.landing-main .main-column .main-column-text {
    border: 1px solid #dddddd;
    padding: 0.5em 0.9em;
    margin-bottom: 1em;
    min-height: 200px
}

.landing-main .main-column .main-column-text h1 {
    font-family: "Flama", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: #FF8A00;
    margin-bottom: 0.7em;
    margin-top: 0.3em;
    font-size: 1.7em
}

@media all and (max-width: 500px) {
    .landing-main .main-column {
        width: 100%;
        font-size: 0.95em;
        margin: 0 auto;
        display: block
    }

    .landing-main .main-column .main-column-text {
        margin-bottom: 0.5em
    }

    .landing-main .main-column .main-column-text h1 {
        font-size: 1.4em
    }
}

.landing-main .side-column {
    display: inline-block;
    width: 44%;
    margin-left: 1%;
    vertical-align: top
}

.landing-main .side-column .mkt {
    margin-bottom: 0.5em
}

@media all and (max-width: 500px) {
    .landing-main .side-column {
        width: 100%;
        margin: 0 auto;
        display: block
    }
}

.landing-main.lhighlights {
    margin-top: 1.3em;
    background: #ff8a00;
    padding: 1em 0
}

@media all and (max-width: 500px) {
    .landing-main.lhighlights {
        margin-top: 0.5em
    }
}

.landing-main.lhighlights .highlights {
    width: 98%;
    max-width: 1100px;
    text-align: center;
    margin: 0.5em auto
}

.landing-main.lhighlights .highlights h2 {
    font-family: "Flama", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    margin: 0.5em 0 0.7em 0
}

.landing-main.lhighlights .highlights .hl {
    display: inline-block;
    padding: 0.5em
}

.landing-main.lhighlights .highlights .highlights-main .hl {
    width: 50%
}

.landing-main.lhighlights .highlights .highlights-sub .hl {
    width: 33.3%
}

@media all and (max-width: 500px) {
    .landing-main.lhighlights .highlights {
        width: 100%;
        margin: 0.2em auto
    }

    .landing-main.lhighlights .highlights h2 {
        margin: 0 0 0.3em 0
    }

    .landing-main.lhighlights .highlights .highlights-main .hl, .landing-main.lhighlights .highlights .highlights-sub .hl {
        padding: 0.3em 0;
        width: 95%;
        margin: 0 auto
    }
}

.slidershow-land {
    width: 100%;
    height: 520px;
    position: relative;
    overflow: hidden;
    margin: 0 auto
}

.slidershow-land:hover .sequence-prev, .slidershow-land:hover .sequence-next {
    display: none !important
}

.slidershow-land .slidershow-bar {
    font-family: "Flama", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    position: absolute;
    bottom: 0;
    z-index: 100;
    color: white;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto
}

.slidershow-land .slidershow-bar * {
    box-sizing: border-box
}

@media all and (max-width: 800px) {
    .slidershow-land .slidershow-bar {
        font-size: 0.85em
    }

    .slidershow-land .slidershow-bar ul li div.selector-arrow {
        top: -11px !important
    }

    .slidershow-land .slidershow-bar ul li span {
        margin: 10px 0.5em !important
    }
}

@media all and (max-width: 500px) {
    .slidershow-land .slidershow-bar {
        display: none
    }
}

.slidershow-land .slidershow-bar .backdrop {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #000000;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=33);
    opacity: 0.33
}

.slidershow-land .slidershow-bar ul {
    list-style: none;
    position: relative;
    z-index: 100;
    margin: 0;
    padding: 0;
    text-align: center
}

.slidershow-land .slidershow-bar ul li {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    position: relative
}

.slidershow-land .slidershow-bar ul li div.selector-arrow {
    display: none;
    width: 100%;
    text-align: center;
    position: absolute;
    top: -13px
}

.slidershow-land .slidershow-bar ul li span {
    display: block;
    margin: 10px 15px
}

.slidershow-land .slidershow-bar ul li.selected {
    background: #EA8700
}

.slidershow-land .slidershow-bar ul li.selected div.selector-arrow {
    display: block
}

.slidershow-land .slidershow-bar ul li:hover {
    color: #FF8A00
}

.slidershow-land .slidershow-bar ul li.selected:hover {
    color: #FFFFFF
}

.slidershow-land .slidershow-bar ul li.bar-hidden {
    display: none
}

.slidershow-land .slidershow-bar ul li.bar-next {
    background: #FF8A00
}

.slidershow-land .slidershow-bar ul li.bar-next.selected {
    color: #ffffff
}

.slidershow-land .sequence-prev, .slidershow-land .sequence-next {
    display: none !important;
    position: absolute;
    z-index: 99;
    top: 145px;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: 0.5
}

.slidershow-land .sequence-prev:hover, .slidershow-land .sequence-next:hover {
    filter: alpha(opacity=90);
    opacity: 0.9;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s
}

.slidershow-land .sequence-prev {
    left: 0;
    top: 235px
}

.slidershow-land .sequence-next {
    right: 0;
    top: 235px
}

.slidershow-land ul.sequence-canvas {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    height: 100%;
    width: 100%;
    max-width: 1440px;
    max-height: 520px
}

.slidershow-land ul.sequence-canvas li {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1
}

.slidershow-land ul.sequence-canvas li > * {
    position: absolute
}

.slidershow-land .promotion-1 {
    left: -1440px;
    opacity: 0;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -ms-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s
}

.slidershow-land .animate-in .promotion-1 {
    left: 0px;
    opacity: 1;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -ms-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s
}

.slidershow-land .animate-out .promotion-1 {
    left: 2000px;
    opacity: 0;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -ms-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s
}

.slidershow-land .promotion-1 a, .slidershow-land .promotion-1 span {
    display: block;
    overflow: hidden;
    width: 100%
}

.slidershow-land .promotion-pic img {
    display: block;
    height: 520px;
    width: 1440px
}

.footer {
    width: 96%;
    max-width: 1100px !important;
    background-color: #ffffff !important;
    font-size: 0.9em
}

.footer * {
    box-sizing: border-box
}

.footer .content {
    max-width: 1100px !important
}

.footer .content .more-information, .footer .content .newsletter, .footer .content .contact-us {
    display: block;
    float: none;
    width: 100%;
    padding: 0;
    height: auto;
    border: 0
}

.footer .content .newsletter .subscribe {
    height: auto;
    line-height: 1
}

.footer .content div.footer-col {
    width: 25%;
    padding: 0.2em;
    display: inline-block;
    vertical-align: top
}

@media all and (max-width: 700px) {
    .footer .content div.footer-col {
        font-size: 0.9em
    }
}

@media all and (max-width: 500px) {
    .footer .content div.footer-col {
        width: 100%;
        font-size: 1em
    }
}

.col-smap.smap-events {
    margin-top: 1em
}

.col-smap .smap-no-tix {
    text-align: left;
    padding-right: 0.5em;
    font-style: italic
}

.col-smap .smap-no-tix.collapse {
    display: none
}

.col-smap h3 {
    cursor: pointer
}

@media all and (max-width: 500px) {
    .col-smap h3 {
        color: #0B5B97
    }
}

.col-smap h3 i {
    color: #FF8A00;
    margin-right: 20px
}

@media all and (max-width: 500px) {
    .col-smap h3 i {
        color: #0B5B97;
        margin-right: 0
    }
}

.col-smap h3:hover {
    color: #FF8A00
}

@media all and (max-width: 500px) {
    .col-smap h3:hover {
        color: #0B5B97
    }
}

.col-smap .smap-list-main {
    padding: 0
}

.col-smap .smap-list-main.collapse {
    display: none
}

.col-smap .smap-list-main li.smap-link, .col-smap .smap-list-main * li.smap-link {
    display: block;
    margin-bottom: 0.5em
}

.col-smap .smap-list-main li.smap-link a, .col-smap .smap-list-main * li.smap-link a {
    color: #3598DC
}

.col-smap .smap-list-main li.smap-link a:hover, .col-smap .smap-list-main * li.smap-link a:hover {
    text-decoration: underline
}

.col-smap .smap-list-main li.smap-list-item-sub {
    list-style: none
}

.col-smap .smap-list-main li.smap-list-item-sub h4 {
    padding-top: 0.2em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
    cursor: pointer
}

@media all and (max-width: 500px) {
    .col-smap .smap-list-main li.smap-list-item-sub h4 {
        color: #FF8A00
    }
}

.col-smap .smap-list-main li.smap-list-item-sub h4 i {
    float: right;
    margin-top: 2px;
    color: #FF8A00;
    padding-right: 23px
}

@media all and (max-width: 500px) {
    .col-smap .smap-list-main li.smap-list-item-sub h4 i {
        padding-right: 0
    }
}

.col-smap .smap-list-main li.smap-list-item-sub h4:hover {
    color: #FF8A00
}

.col-smap .smap-list-main li.smap-list-item-sub ul {
    padding: 0
}

.col-smap .smap-list-main li.smap-list-item-sub ul.collapse {
    display: none
}

.col-smap .smap-list-main li.smap-list-item-sub ul li {
    text-align: left
}

@media all and (max-width: 500px) {
    .hide-on-mobile {
        display: none !important
    }
}
