
.highlight-title {
    color: #ff8217;
}

.highlight-attribute {
    color: #ff8217;
    font-size: 1.2em;
}

/*----------------------Table Start---------------------*/
.main-items, .main-items * {
    box-sizing: border-box;
}
.main-items td{
    padding: 0.8em;
    border-bottom: 1px solid #e5e5e5;
}
.main-inner-items td{
    padding: 0.8em;
    border-bottom: none;
}
.top-up-items, .top-up-items * {
    box-sizing: border-box;
}
.top-up-items {
    border-bottom: 1px solid #e5e5e5;
}
.top-up-items td {
    border-top: 1px solid #e5e5e5;
    background: #f5f5f5;
    vertical-align: middle;
    padding: 0.8em;
}


/*----------------------Heading Bar Start---------------------*/

.primary-heading-bar {
    background: #166ba2;
    padding: 0.8em;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: #ffffff;
    margin: 0;
    width: 100%;
    position: relative;
    /*font-size: 1.3em;*/
}
.secondary-heading-bar {
    background: #faa634;
    padding: 0.8em;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: #ffffff;
    width: 100%;
    margin: 0;
    /*font-size: 1.3em;*/
}
.primary-mult-heading-bar, .secondary-mult-heading-bar, .third-multi-heading-bar, .forth-multi-heading-bar {
    width: 100%;
}
.primary-multi-heading-bar td, .primary-multi-heading-bar th {
    background: #166ba2;
    padding: 0.8em;
    color: #fff;
    border: 1px solid #166ba2;
}
.primary-multi-heading-bar td.icon-expand-collapse {
    background: #06a766;
}
.secondary-multi-heading-bar td,.secondary-multi-heading-bar th {
    background: #faa634;
    padding: 0.8em;
    color: #fff;
    border: 1px solid #faa634;
}
.secondary-multi-heading-bar td.icon-expand-collapse {
    background: #f29921;
}

.third-multi-heading-bar td,.third-multi-heading-bar th {
    background: #e0e0e0;
    padding: 0.8em;
    color: #787878;
    border: 1px solid #e0e0e0;

}
.third-multi-heading-bar td.icon-expand-collapse {
    background: #c1c1c1;
}
.forth-multi-heading-bar td,.forth-multi-heading-bar th {
    background: #4d4d4d;
    padding: 0.8em;
    color: #fff;
    border: 1px solid #4d4d4d;
}


/*----------------------Heading Bar End---------------------*/

/*--------------------Shopping Cart Start-----------------------*/
.items-details {
    font-size: 1em;
}
.icon-remove {
    color: #f02f38;
    text-align: center;
    display: block;
}
.booking-tickets-top-up-items-container {
    background-color: #f2fbff;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#ffffff),color-stop(1,#f8f8f8));
    background-image: -webkit-linear-gradient(top,#ffffff 0,#f8f8f8 100%);
    background-image: -moz-linear-gradient(top,#ffffff 0,#f8f8f8 100%);
    background-image: -o-linear-gradient(top,#ffffff 0,#f8f8f8 100%);
    background-image: -ms-linear-gradient(top,#ffffff 0,#f8f8f8 100%);
    background-image: linear-gradient(top,#ffffff 0,#f8f8f8 100%);
    -moz-box-shadow: 0px 2px 15px #bee1f4;
    -webkit-box-shadow: 0px 2px 15px #bee1f4;
    box-shadow: 0px 2px 15px #bee1f4;
    margin-top: 1em;
    border: 1px solid #aadcf2;
    z-index: 99;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

}
.subtotal-items {
    font-size: 1.2em;
}
.subtotal-items-title {
    text-align: right;
}
.items-details .primary-multi-heading-bar td {
    border: none;
}

.booking-tickets-top-up-items-container .main-inner-items {
}

/*--------------------Shopping Cart END-----------------------*/

.total-items td{
    padding: 0.8em;
    border-bottom: 1px solid #e5e5e5;
}
.total-items td.no-border {
    border-bottom: none;
}


