[#assign staticText =
{"en":
{
"homeLabel": "Home",
"searchLabel": "Search",
"selectTicketLabel": "Select Your Tickets!",
"barcodeLabel": "Scan / Enter Barcode",
"funPassImageName": "funpass-en.png",
"addTicketToCartConfirmationLabel": "Would you like to Sentosa Express tickets to your cart?",
"addTicketToCartBodyMessageLabel" : "You can enter Sentosa by using your EZlink card or purchase Sentosa Express tickets here.",
"customerTypeLabel": "Adult/Child",
"quantityLabel": "Quantity",
"noteLabel": "Children from the age of 3 will need an express ticket.",
"addTicketToCartButtonLabel": "Add To Cart",
"backButtonLabel": "Back",
"buyTicketButtonLabel": "Buy Tickets",
"addToCartLogoName": "funbox-logo.png",
"clearCartLabel": "Clear Cart",
"searchBodyLabel": "FUN PASS - ONE PASS, ALL PLAY. Over 20 Attractions, up to 70% savings.",
"standardTickets": "Standard Tickets",
"price": "Price",
"qty": "Qty",
"tAndC": "Terms & Conditions",
"notes": "Notes",
"addToFunCartButton": "Add To Cart",
"updateFunCartButton": "Update Cart",
"okButtonLabel": "OK",
"cancelButtonLabel": "Cancel",
"shoppingCartNote": "Please take note attraction/packages does not include Island Admission",
"shoppingCartSubTitle": "You have selected the following items.",
"shoppingCartTitleItem": "Item(s)",
"shoppingCartTitleValidity": "Ticket Validity",
"shoppingCartTitlePrice": "Price",
"shoppingCartTitleQuantity": "Qty",
"shoppingCartTitleSubtotal": "Subtotal(S$)",
"editButtonLabel": "Edit",
"clearCartButtonLabel": "Clear Cart",
"totalLabel": "Total",
"ticketTypeLabel": "Ticket Type",
"selectedEventDateLabel" : "Event Date",
"selectedEventSessionLabel" : "Event Session",
"funCartLabel": "Fun Cart",
"addMoreFunButtonLabel": "Continue Shopping",
"proceedButtonLabel": "Confirm",
"proceedToPayButtonLabel": "Proceed to Pay",
"orderSummaryTitle": "Summary",
"backToCartButtonLabel": "Back To Shopping Cart",
"agreeToTermLabel1": "I agree to all",
"agreeToTermLabel2": "of the above products...",
"agreeButtonLabel": "I agree",
"disagreeButtonLabel": "Disagree",
"paymentProgressLabel": "Please wait while<br>we are processing your payment...",
"transactionSuccessLabel1": "<span class='success-heading'>Transaction Successful<span><br><span class='secondary-heading sy-hg-sm'>You have completed your payment.</span></span></span>",
"transactionSuccessLabel2": "We are printing your tickets and receipt now.",
"printSuccessLabel1": "Printing completed",
"printSuccessLabel2": "Please collect your tickets and receipt.<br>Have a wonderful day at<br>",
"printSuccessLabel3": "Please collect your tickets.<br>Have a wonderful day at<br>",
"backToHomeButtonLabel": "Back To Home",
"titleAlert": "Notice",
"alertEmptyQty1": "Please enter at least one ticket before proceed to the next screen.",
"alertEmptyQty2": "Please enter at least one ticket before proceed to FUN Cart.",
"alertExceedCapacity": "Your selected number of tickets below are currently exceed the ticket quota.%%items%%",
"alertExpire": "Your selected tickets below have been stopped selling.%%items%%",
"alertInvalidTopUpByAdultQty": "The maximum top up you are allowed to buy are %%topUp1%% Top Up Adult tickets and %%topUp2%% Top Up Standard tickets.",
"alertInvalidTopUpByChildQty": "The maximum top up you are allowed to buy are %%topUp1%% Top Up Child tickets and %%topUp2%% Top Up Standard tickets.",
"alertInvalidTopUpByStdQty": "The maximum top up you are allowed to buy are %%topUp1%% Top Up Standard tickets.",
"alertInvalidTopUpByACSQty": "The maximum top up you are allowed to buy are %%topUp1%% Top Up Adult tickets, %%topUp2%% Top Up Child tickets and %%topUp3%% Top Up Standard tickets.",
"alertInvalidTopUpByLimitQty": "The maximum top up you are allowed to buy are %%limitQty%% Top Up tickets.",
"alertEmptyEventDate": "Please Choose Date of Visit before proceed to FUN Cart.",
"titleTopUpItems": "Complement your journey with these items",
"titleQty": "Qty",
"skipButtonLabel": "Skip",
"printErrorHeading": "Printing in progress",
"printErrorBodyContent": "Please note down the receipt number {receiptNumber} and print your tickets at other ticketing kiosks or counters.<br /><br /> We are sorry for any inconvenience caused.",
"barcodeHeadingTitle": "Please Scan or enter PIN Code",
"scanBarcodeButtonLabel": "Scan Barcode",
"enterBarcodeButtonLabel": "Enter PIN Code",
"scanBarcodeContent1": "Place your barcode under the scanner",
"scanBarcodeContent2": "",
"enterBarcodeHeading1": "Please enter your PIN Code",
"enterBarcodeHeading2": "(Booking Reference ID or Transaction ID)",
"recoveryFlowSubTitle": "We're sorry for the inconvenience. Your payment has been received and your tickets can be printed here.",
"printTicketButtonLabel": "Print Ticket",
"invalidTransactionIdDialogTitle": "Error",
"invalidTransactionIdMessage": "Invalid Booking Reference ID or Transaction ID",
"shoppingCartTitle": "Shopping Cart",
"infoTitle": "Information",
"removeTopupConfirmationMessage": "The top-ups will be removed from Fun Cart.",
"moreInformation": "More Information",
"adminssionTitle":"Will you be taking the Sentosa Express?",
"admissionTitleHit":"You can enter Sentosa by using your EZlink card or purchase SEntosa Express tickets here.",
"admissionTitleAddToCart":"Would you like to add Sentosa Express tickets to your cart?",
"admissionEZlink":"(I will be using my EZlink card or use other modes of entry.)",
"admissionNO":"No thanks",
"admissionYes":"Yes please add tickets",
"pinRedemptionButtonLabel":"Redeem PIN Code",
"printTicketButtonLabel":"Print Ticket",
"onlineStoreRedemptionSummaryLabel":"Online Store Redemption Summary",
"redemptionNote":"Thank you for purchasing Mount Faber Tickets."
},
"zh_CN":
{
"homeLabel": "首页",
"searchLabel": "",
"selectTicketLabel": "请选择您的票!",
"barcodeLabel": "扫描 / 输入条码",
"funPassImageName": "funpass-ch.png",
"addTicketToCartConfirmationLabel": "需要添加圣淘沙捷运票吗?",
"addTicketToCartBodyMessageLabel" : "您可以选择使用易通卡或购买圣淘沙捷运票.",
"customerTypeLabel": "成人/儿童",
"quantityLabel": "数量",
"noteLabel": "3岁以上的儿童需要购买捷运票.",
"addTicketToCartButtonLabel": "添加到预订单",
"backButtonLabel": "返回",
"buyTicketButtonLabel": "预订票",
"addToCartLogoName": "funbox-logo-1.png",
"clearCartLabel1": "清空",
"clearCartLabel2": "预订单",
"searchBodyLabel1": "欢乐套票",
"searchBodyLabel2": "一票在手，无限欢乐!",
"searchBodyLabel3": "涵盖逾20个景点，优惠高达70%",
"standardTickets": "普通票",
"price": "价格",
"qty": "数量",
"tAndC": "条款与细则",
"notes": "备注",
"addToFunCartButton": "添加到预订单",
"updateFunCartButton": "更新预订单",
"okButtonLabel": "确定",
"cancelButtonLabel": "取消",
"shoppingCartNote": "入院岛和运输费用单独申请，除非另有说明",
"shoppingCartSubTitle": "您已经选择了以下票类。",
"shoppingCartTitleItem": "票类名称",
"shoppingCartTitleValidity": "票类有效期",
"shoppingCartTitlePrice": "价格",
"shoppingCartTitleQuantity": "数量",
"shoppingCartTitleSubtotal": "小计",
"editButtonLabel": "编辑",
"clearCartButtonLabel": "清空预订单",
"totalLabel": "总计",
"ticketTypeLabel": "票类",
"selectedEventDateLabel" : "Event Date",
"selectedEventSessionLabel" : "Event Session",
"funCartLabel": "预订单",
"addMoreFunButtonLabel": "添加",
"proceedButtonLabel": "继续",
"orderSummaryTitle": "简介",
"proceedToPayButtonLabel": "继续",
"backToCartButtonLabel": "返回预订单",
"agreeToTermLabel1": "我同意上述产品的所有",
"agreeToTermLabel2": "...",
"agreeButtonLabel": "预订票",
"disagreeButtonLabel": "不同意",
"paymentProgressLabel": "我们正在处理您的付款请求，<br>请等待……",
"transactionSuccessLabel1": "<span class='success-heading'>CN-Trans Successful<span><br><span class='secondary-heading sy-hg-sm'>CN-You have completed your payment.</span></span></span>",
"transactionSuccessLabel2": "我们正在打印您的票根和收据。",
"printSuccessLabel1": "打印完成",
"printSuccessLabel2": "请取回您的票根和收据。<br>祝您再次度过愉快的一天<br>",
"printSuccessLabel3": "请取回您的票根和收据。<br>祝您再次度过愉快的一天<br>",
"backToHomeButtonLabel": "返回首页",
"titleAlert": "注意",
"alertEmptyQty1": "请输入购票数量才可继续。",
"alertEmptyQty2": "请输入购票数量才可继续预订手续。",
"alertExceedCapacity": "下列票类已超数。%%items%%",
"alertExpire": "下列票类已停止售卖。%%items%%",
"alertInvalidTopUpByAdultQty": "票数不能多于%%topUp1%%张成人票和%%topUp2%%张普通票, 请重新选择。",
"alertInvalidTopUpByChildQty": "票数不能多于%%topUp1%%张儿童票和%%topUp2%%张普通票, 请重新选择。",
"alertInvalidTopUpByStdQty": "票数不能多于%%topUp1%%张普通票, 请重新选择。",
"alertInvalidTopUpByACSQty": "票数不能多于%%topUp1%%张成人票, %%topUp2%%张儿童票和%%topUp3%%张普通票, 请重新选择。",
"alertInvalidTopUpByLimitQty": "票数不能多于%%limitQty%%张, 请重新选择。",
"alertEmptyEventDate": "Please Choose Date of Visit before proceed to FUN Cart.",
"titleTopUpItems": "相关推荐",
"titleQty": "数量",
"skipButtonLabel": "跳转",
"printErrorHeading": "正在打印中",
"printErrorBodyContent": "很抱歉，我们暂时无法发出您的票根。请取回以下票根清单去我们的购票柜台兑票。",
"barcodeHeadingTitle": "请扫描或输入条码",
"scanBarcodeButtonLabel": "扫描条码",
"enterBarcodeButtonLabel": "输入条码",
"scanBarcodeContent1": "请将条码对准扫描器",
"scanBarcodeContent2": "",
"enterBarcodeHeading1": "请输入您的条码，按确认",
"enterBarcodeHeading2": "（预约参考号码或记录号）",
"recoveryFlowSubTitle": "We're sorry for the inconvenience. Your payment has been received and your tickets can be printed here.",
"printTicketButtonLabel": "打印",
"invalidTransactionIdDialogTitle": "Error",
"invalidTransactionIdMessage": "Invalid Booking Reference ID or Transaction ID",
"shoppingCartTitle": "Shopping Cart",
"infoTitle": "Information",
"removeTopupConfirmationMessage": "The top-ups will be removed from Fun Cart.",
"moreInformation": "More Information",
"adminssionTitle":"Will you be taking the Sentosa Express?",
"admissionTitleHit":"You can enter Sentosa by using your EZlink card or purchase SEntosa Express tickets here.",
"admissionTitleAddToCart":"Would you like to add Sentosa Express tickets to your cart?",
"admissionEZlink":"(I will be using my EZlink card or use other modes of entry.)",
"admissionNO":"No thanks",
"admissionYes":"Yes please add tickets",
"pinRedemptionButtonLabel":"Redeem PIN Code",
"printTicketButtonLabel":"Print Ticket",
"onlineStoreRedemptionSummaryLabel":"Online Store Redemption Summary",
"redemptionNote":"Thank you for purchasing Mount Faber Tickets."
}
}
]