.ticket-book .tickets-list .standard-ticket .picker__table tr th, .ticket-book .tickets-list .split-table .picker__table tr th {
    border-bottom: 0;
    font-size: 0.75em;
    color: #999;
    padding-bottom: 0.5em;
    background-color: #ffffff;
    text-align: center;
}

.ticket-book .tickets-list .standard-ticket .picker__table tr td, .ticket-book .tickets-list .split-table .picker__table tr td {
    text-align: center;
    padding: 0;
}

.sebs-btn-select, .sebs-btn-cancel {
    display: block;
    text-align: center;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9em;
    padding: 0 0.84em;
    height: 28px;
    line-height: 28px;
    width: 40px;
}

.sebs-btn-select {
    background-color: #1ca9ea;
    border: 1px solid #1ca9ea;
    color: #fff;
}

.sebs-btn-cancel {
    background-color: #E2F4FF;
    border: 1px solid #1ca9ea;
    color: #1ca9ea;
}

.star-event-booking-section {
    border: 1px solid #1ca9ea;
    background: #f7fdff;
    border-radius: 2px;
    padding: 7px 7px;
}

.star-event-booking-section .seb-subsection {
}
.seb-subsection .sebs-label {
    font-size: 0.85em;
    color: grey;
    padding: 0 0 3px 3px;
}
.seb-subsection .sebs-input {
    padding: 0.42em;
}
.seb-subsection select {
    height: 30px;
}
.star-event-booking-section .seb-subsection-date {
    display: inline-block;
    width: 45%;
}
.star-event-booking-section .seb-subsection-session {
    display: inline-block;
    width: 43%;
}
.star-event-booking-section .seb-subsection-qty {
    display: inline-block;
    width: 12%;
}

.view-promotions-header {
    background-color: #ff8a00;
    color: #fff;
    border-radius: 25px;
    padding: 5px;
    margin: 5px 5px 5px 0;
    cursor: pointer;
    cursor: hand;
}

.promo-arrow-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    float: right;
    margin: 5px;
}

.promo-arrow-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
    float: right;
    margin: 5px;
}
