.maintenance-container {
    display: none;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1998;
}

.hidden-button {
    display: block;
    opacity: 0.0;
    cursor: default;
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1999;
}

#admin-login {
    background: url('../images/admin/admin-bg.jpg') 0 0 no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    float: left;
    z-index: 2000;
}

#admin-keyboard {
    display: none;
    z-index: 2500;
}

#admin-panel {
    display: none;
    background: url('../images/admin/admin-bg.jpg') 0 0 no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    float: left;
    z-index: 2001;
}

/*--------- Admin Login START----------*/
#admin-login .main-container {
    width: 1280px;
}

#admin-login .main-container .sub-container {
    background: white;
    margin: 70px 200px auto;
}

#admin-login .main-container .sub-container .content-container {
    padding: 20px 20px 20px;
}

#admin-login .header-container {
    display: flex;
    justify-content: center;
    background: rgba(245, 130, 32, 1);
    color: #ffffff;
    font-family: Arial;
    font-size: 30px;
    font-weight: bold;
    text-align: right;
    border: 1px solid #000000;
    height: 70px;
}

#admin-login .header-container .header {
    align-self: center;
    width: 90%;
}

#admin-login .header-container .space {
    align-self: center;
    width: 10%;
}

#admin-login .login-container {
    padding: 50px 150px;
}

#admin-login .login-container .login-sub-container {
    text-align: center;
    font-family: Arial;
    font-size: 16px;
}

#admin-login .login-container .login-sub-container .error-msg {
    color: red;
    padding: 30px 30px 30px;
}

#admin-login .login-container .login-sub-container .input-container {
    display: flex;
    text-align: left;
    padding: 10px 30px;
}

#admin-login .login-container .login-sub-container .input-container .col-side {
    width: 15%;
}

#admin-login .login-container .login-sub-container .input-container .label {
    align-self: center;
    width: 30%;
    font-weight: bold;
}

#admin-login .login-container .login-sub-container .input-container input {
    width: 40%;
    line-height: 1.5;
}

#admin-login .login-container .login-sub-container .btn-group {
    display: flex;
}

#admin-login .login-container .login-sub-container .btn-group .btn-cancel-container {
    align-self: center;
    width: 50%;
    text-align: right;
}

#admin-login .login-container .login-sub-container .btn-group .btn-cancel-container .btn-cancel {
    background-image: url(../images/admin/btn-cancel.png)!important;
    width: 117px;
    height: 44px;
    margin: 20px 20px 40px auto;
    padding: 10px 30px;
}

#admin-login .login-container .login-sub-container .btn-group .btn-login-container {
    align-self: center;
    width: 50%;
    text-align: left;
}

#admin-login .login-container .login-sub-container .btn-group .btn-login-container .btn-login {
    background-image: url(../images/admin/btn-login.png)!important;
    width: 117px;
    height: 44px;
    margin: 20px auto 40px 20px;
    padding: 10px 30px;
}

/*--------- Admin Login END----------*/

/*--------- Admin Keyboard START ----------*/
#admin-keyboard .keyboard-container {
    z-index: 2501;
    width: 880px;
    bottom: 0;
    margin: 30px 200px 20px;
    padding: 0;
}

#admin-keyboard .keyboard-container .keyboard-spare {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#admin-keyboard .keyboard-container .special {
    background-color: rgba(30, 36, 48, 1) !important;
    border-color: grey;
    height: 365px;
    margin-bottom: 20px;
}

/*--------- Admin Keyboard END ----------*/

/*--------- Admin Panel START ----------*/
/* Common */
#admin-panel .main-container {
    width: 1280px;
}

#admin-panel .main-container .sub-container {
    background: white;
    font-family: Arial;
    font-size: 24px;
    margin: 50px 50px;
}

#admin-panel .tab-container {
    background: lightgrey;
    height: 900px;
    top: 0;
    left: 0;
    float: left;
}

#admin-panel .tab-container .tabs {
    text-align: center;
    width: 150px;
}

#admin-panel .tab {
    display: flex;
    background: lightgray;
    outline: none;
    width: 146px;
    min-height: 50px;
    margin: 3px 0 3px 3px;
    padding: 3px;
}

#admin-panel .tab span {
    align-self: center;
    font-weight: bold;
    width: 100%;
}

#admin-panel .content {
    margin-left: 150px;
    height: 900px;
}

#admin-panel input[type="text"] {
    font-family: Arial;
}

#admin-panel .flex-center {
    display: flex;
    text-align: center;
}

#admin-panel .flex {
    display: flex;
}

#admin-panel .zoom {
    height: 860px;
    padding: 20px;
}

#admin-panel .status-box {
    color:green;
    height:30px;
    margin:20px 100px;
}

#admin-panel .status-error-box{
    color:red;
    height:30px;
    margin:20px 100px;
}

#admin-panel .status-box .status {
    visibility: hidden;
}

#admin-panel .status-error-box .status {
    visibility: visible;
}

#admin-panel .unloaded-tickets {
    height:225px;
    width:750px;
    overflow-y:scroll;
    border:1px solid #CCC;
    margin:0 60px;
    padding:0 0px;
}

#admin-panel .field-container {
    display: flex;
    margin: 10px 100px;
    padding: 5px 5px;
}

#admin-panel .unloaded-fields {
    margin: 10px 10px;
}

#admin-panel .field-container .field-label-1 {
    width: 350px;
}

#admin-panel .field-container .index-number {
    text-align: center;
    width: 100px;
}

#admin-panel .field-container .field-label-2 {
    width: 200px;
}

#admin-panel .field-container textarea {
    resize: none;
    width: 500px;
    height: 320px;
    border-color: lightgrey;
}

#admin-panel .btn-ok-container-1 {
    display: flex;
    text-align: right;
    margin: 300px 200px 0;
}

#admin-panel .btn-ok-container-2 {
    display: flex;
    text-align: right;
    margin: 100px 200px 0;
}

#admin-panel .btn-ok-sub-container {
    align-self: center;
    width: 100%;
}

#admin-panel .btn-ok {
    background-image: url('../images/admin/btn-ok.png')!important;
    background-size: cover;
    width: 117px;
    height: 44px;
}

/* Receipt History & Transaction Status */
#admin-panel #content-0 .search-container {
    width: 100%;
    padding: 20px;
}

#admin-panel #content-0 .search-field-container {
    float: left;
    padding: 0 5px;
}

#admin-panel #content-0 .search-field-container input {
    width: 200px;
    font-family: Arial;
}

#admin-panel #content-0 .btn-search-container {
    float: left;
    padding: 27px 5px 0;
}

#admin-panel .content .btn-search {
    background-image: url('../images/admin/btn-search.png')!important;
    width: 102px;
    height: 36px;
    z-index: 199;
    visibility: visible;
}

#admin-panel #content-10 .search-container {
    text-align: right;
}

#admin-panel #content-0 .history-container {
    display: flex;
    float: left;
    width: 100%;
    padding: 10px;
}

#admin-panel #content-0 .space-column-side {
    align-self: center;
    width: 1%;
}

#admin-panel #content-0 .space-column-mid {
    align-self: center;
    width: 2%;
}

#admin-panel #content-0 .history-column-main {
    width: 47%;
}

#admin-panel #content-10 table tr td input.long-input {
    width: 500px;
    font-family: Arial;
}

#admin-panel .content .pagination {
    display: flex;
    text-align: center;
}

#admin-panel .content .pagination .btn-container {
    width: 19%;
}

#admin-panel .content .pagination .btn-container button {
    width: 75px;
    height: 57px;
}

/* Simple Grid START */
#admin-panel .content .grid-container {
    padding: 10px;
    background-color: white;
    border: 1px solid #CCC;
}

#admin-panel .content .grid-container input {
    font-family: Arial;
}

#admin-panel .content .grid-container b {
    font-weight: bold;
}

#admin-panel .content .grid-container p {
    margin-top: 0.9em;
    margin-bottom: 0.9em;
}

#admin-panel .content .grid-container select[multiple] {
    width: 100%;
    height: 8em;
}

#admin-panel .content .grid-container h2 {
    margin-top: 0.4em;
}

#admin-panel .content .ko-grid {
    margin-bottom: 1em;
    border: 1px solid silver;
    background-color: White;
}

#admin-panel .content .ko-grid th {
    text-align: left;
    background-color: Black;
    color: White;
    border: 1px solid darkgrey;
}

#admin-panel .content .ko-grid td, #admin-panel .content .ko-grid th {
    padding: 0.4em;
    border: 1px solid darkgrey;
}

#admin-panel .content .ko-grid tr:nth-child(odd) {
    background-color: #DDD;
}

#admin-panel .content .ko-grid-pageLinks {
    margin-bottom: 1em;
    display: none;
}

#admin-panel .content .ko-grid-pageLinks a {
    padding: 0.5em;
}

#admin-panel .content .ko-grid-pageLinks a.selected {
    background-color: Black;
    color: White;
}

#admin-panel #content-0 .grid-container {
    height: 670px;
    overflow: auto
}

#admin-panel #content-10 .grid-container {
    height: 580px;
    overflow: auto
}

/* Mobile Safari reflows pages slowly, so fix the height to avoid the need for reflows */
#admin-panel #content-0 li {
    list-style-type: disc;
    margin-left: 20px;
}

/* Simple Grid END */
#admin-panel #content-0 .preview {
    position: relative;
    padding: 10px;
    background-color: white;
    border: 1px solid #CCC;
}

#admin-panel #content-0 .preview .no-document-container {
    display: table;
    position: absolute;
    text-align: center;
    width: 440px;
    height: 580px;
}

#admin-panel #content-0 .preview .no-document {
    display: table-cell;
    vertical-align: middle;
    color: black;
}

#admin-panel #content-0 .preview .document-container {
    text-align: center;
    width: 100%;
    height: 600px;
    overflow: scroll;
}

#admin-panel #content-0 .preview .document img {
    border: 1px solid black;
}

#admin-panel #content-0 .preview .reprint-container {
    text-align: center;
    width: 100%;
    padding: 21px 0 0
}

#admin-panel #content-0 .preview .btn-reprint {
    background-image: url('../images/admin/btn-reprint.png');
    width: 117px;
    height: 46px
}

::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: lightgrey;
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

/* Receipt Printer */
#admin-panel #content-1 .header {
    margin: 15px 0;
}

#admin-panel #content-1 .server-status {
    width: 75%;
    height: 30px;
    padding: 10px;
    border: 1px solid #000000;
}

#admin-panel #content-1 .server-status .server-timeout {
    color: red;
    width: 100%;
    font-size: 22px;
}

#admin-panel #content-1 .server-connection {
    align-self: center;
    width: 25%;
}

#admin-panel #content-1 .server-connection input[type="checkbox"] {
    position: absolute;
    width: 25px;
    height: 25px;
    opacity: 0.5
}

#admin-panel #content-1 .server-connection label {
    display: inline-block;
    background-image: url('../images/admin/status_error.png');
    background-size: cover;
    width: 24px;
    height: 24px;
}

#admin-panel #content-1 .printer {
    text-align: center;
    height: 85px;
    padding: 10px;
    border: 1px solid #000000;
    overflow-y: scroll;
}

#admin-panel #content-1 .printer .printer-status {
    color: red;
    width: 100%;
    font-size: 22px;
}

#admin-panel #content-1 .btn-reset {
    float: left;
    background-image: url('../images/admin/btn-reset-paper.png');
    width: 165px;
    height: 67px;
    padding: 10px 10px 10px 0;
}

#admin-panel #content-1 .btn-reset-info {
    margin: 15px 0 15px 180px;
    line-height: 1.5;
}

#admin-panel #content-1 .col-printer-details {
    width: 46%;
}

#admin-panel #content-1 .col-printer-details .printer-details {
    border: 1px solid black;
    font-size: 20px;
    padding: 10px;
}

#admin-panel #content-1 .col-printer-details .printer-details .detail-container {
    display: flex;
    padding: 5px 5px;
}

#admin-panel #content-1 .col-printer-details .printer-details .detail-container .detail-label {
    width: 250px;
}

#admin-panel #content-1 .col-mid-space {
    width: 4%;
}

#admin-panel #content-1 .col-hardware-status {
    width: 50%;
}

#admin-panel #content-1 .col-hardware-status .hardware-status {
    display: flex;
    border: 1px solid black;
    font-size: 20px;
    padding: 19px;
}

#admin-panel #content-1 .col-paper-status {
    width: 38%;
}

#admin-panel #content-1 .col-paper-status .paper-status {
    display: flex;
    border: 1px solid black;
    font-size: 20px;
    padding: 14px;
}

#admin-panel #content-1 .col-error {
    width: 58%;
}

#admin-panel #content-1 .col-error .unrecoverable-error {
    display: flex;
    border: 1px solid black;
    font-size: 20px;
    padding: 14px;
}

#admin-panel #content-1 .label-group {
    padding: 5px 10px;
    width: 50%;
}

#admin-panel #content-1 .w40 {
    width: 40%;
}

#admin-panel #content-1 .w45 {
    width: 45%;
}

/* Hardware Status */
#admin-panel #content-11 .status-container textarea {
    resize: none;
    color: red;
    width: 100%;
    border-color: lightgrey;
}

/* Kiosk Shutdown / Settlement */
#admin-panel #content-6 .col-btns-side-space {
    align-self: center;
    width: 20%;
}

#admin-panel #content-6 .col-large-btn {
    align-self: center;
    width: 30%;
}

#admin-panel #content-6 .col-large-btn .btn-sd-wo-settlement {
    background-image: url('../images/admin/btn-shutdown-without-settlement-active.png');
    background-size: cover;
    width: 180px;
    height: 180px;
}

#admin-panel #content-6 .col-large-btn .btn-sd-w-settlement {
    background-image: url('../images/admin/btn-shutdown-with-settlement-active.png');
    background-size: cover;
    width: 180px;
    height: 180px;
}

/* Operation Mode */
#admin-panel #content-7 .col-btns-side-space {
    align-self: center;
    width: 20%;
}

#admin-panel #content-7 .col-large-btn {
    align-self: center;
    width: 30%;
}

#admin-panel #content-7 .col-large-btn .btn-resume {
    background-image: url('../images/admin/btn-resume-operation-disabled.png');
    background-size: cover;
    width: 180px;
    height: 180px;
}

#admin-panel #content-7 .col-large-btn .btn-maintenance {
    background-image: url('../images/admin/btn-maintenance-active.png');
    background-size: cover;
    width: 180px;
    height: 180px;
}

/* Alert START */
#admin-panel .dialog-container .alert-container {
    border: 2px solid #ffffff!important;
    border-radius: 5px!important;
}

#admin-panel .dialog-container h2.alert-title {
    background: rgba(245, 130, 32, 1)!important;
    border: 1px solid #000000!important;
    border-top-left-radius: 5px!important;
    border-top-right-radius: 5px!important;
}

#admin-panel .dialog-container p.alert-message {
    font-size: 22px!important;
    text-align: center!important;
}

#admin-panel .dialog-container .group-inner-btn button {
    border: none!important;
    width: 117px!important;
    height: 44px!important;
}

#admin-panel .dialog-container .group-inner-btn button.btn-yes {
    background-image: url('../images/admin/btn-yes.png')!important;
}

#admin-panel .dialog-container .group-inner-btn button.btn-no {
    background-image: url('../images/admin/btn-no.png')!important;
}


#admin-panel #content-7 .col-large-btn .btn-maintenance {
    background-image: url('../images/admin/btn-maintenance-active.png');
    background-size: cover;
    width: 180px;
    height: 180px;
}


.table-transaction {

    border-collapse: collapse;

}

.table-transaction-td {
    border: 1px solid #ffffff;;
    text-align: left;
    padding: 8px;
    width: 400px;
}

.table-transaction-th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: 400px;
    color: #ffffff;
    background-color: #666666;
}


.receipt {

    border-collapse: collapse;

}

.table-receipt-td {
    border: 1px solid #ffffff;;
    text-align: left;
    padding: 8px;
    width: 400px;
}

.table-receipt-th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: 400px;
    color: #ffffff;
    background-color: #666666;
}


.table-receipt-time-td {
    border: 1px solid #ffffff;;
    text-align: left;
    padding: 8px;
    width: 220px;
}

.table-receipt-id-th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: 40px;
    color: #ffffff;
    background-color: #666666;
}

.table-receipt-id-td {
    border: 1px solid #ffffff;;
    text-align: left;
    padding: 7.5px;
    width: 20px;
}


.table-receipt-time-th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: 20px;
    color: #ffffff;
    background-color: #666666;
}


.table-transaction-tr:nth-child(even) {
    background-color: #dddddd;
}

.table-receipt-tr:nth-child(even) {
    background-color: #dddddd;
}

.btn-tran-first{
    background-image: url('../images/admin/btn-prevpage-disabled.png');
}

.btn-tran-prev{
    background-image: url('../images/admin/btn-prev-disabled.png');
}

.btn-tran-next{
    background-image: url('../images/admin/btn-next-disabled.png');
}

.btn-tran-last{
    background-image: url('../images/admin/btn-nextpage-disabled.png');
}

.btn-receipt-first{
    background-image: url('../images/admin/btn-prevpage-disabled.png');
}

.btn-receipt-prev{
    background-image: url('../images/admin/btn-prev-disabled.png');
}

.btn-receipt-next{
    background-image: url('../images/admin/btn-next-disabled.png');
}

.btn-receipt-last{
    background-image: url('../images/admin/btn-nextpage-disabled.png');
}
.p-line-height{
    line-height: 10%;
}

.receipt-header-table td {
    text-align: left;
    padding-left: 30px;
}
.receipt-header-table-title {
    padding-left: 22px !important;
}
.receipt-table-currency {
    text-align: right !important;
    padding-right: 30px !important;
}
.logo-receipt{
    content: url('../images/logo-complete.png');
    background-repeat: no-repeat;
}
.qr_code-receipt{
    content: url('../images/qr_code.jpg');
    background-repeat: no-repeat;
}
/* Alert END */
/*--------- Admin Panel END ----------*/
