@font-face {
    font-family: 'harabara';
    src: url('../fonts/harabara.ttf')  format('truetype');
}
@font-face {
    font-family: 'YaHei';
    src: url('../fonts/M-YaHei.ttf') format('truetype'); /* Super Modern Browsers */
}
body {
    width: 1280px;
    height: 1024px;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    color: #231f20;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.error-container {
    background: url(../images/error-bg.png) 0 0 no-repeat;
    font-family: 'harabara', 'YaHei', Helvetica Neue, Helvetica, sans-serif;
    width: 1280px;
    height: 1024px;
    letter-spacing: 2px;
    position: relative;
    z-index: 99;
}
.bubble-animated{
    position: absolute;
    z-index: 1;
    width: 100%;
}
.lt-pink-be {
    width: 170px;
    height: 170px;
    border-radius: 85px;
    background-color: #ec008c;
    opacity: 0.9;
    position: absolute;
    top: 208px;
    left: -70px;
    z-index: 10;
    -webkit-animation: lt-pink 5s ease-in-out 3s infinite; /* Chrome, Safari, Opera */
    animation: lt-pink 5s ease-in-out 3s infinite;
}
.lt-blue-be {
    width: 190px;
    height: 190px;
    border-radius: 95px;
    background-color: #00aeef;
    opacity: 0.9;
    position: absolute;
    top: 325px;
    left: -40px;
    z-index: 20;
    -webkit-animation: lt-pink 4s ease-in-out 3s infinite; /* Chrome, Safari, Opera */
    animation: lt-pink 4s ease-in-out 3s infinite;
}

.lt-purple-be {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: #7c51a1;
    opacity: 0.8;
    position: absolute;
    top: 115px;
    left: 118px;
    z-index: 20;
    -webkit-animation: lt-pink 8s ease-in-out 3s infinite; /* Chrome, Safari, Opera */
    animation: lt-pink 8s ease-in-out 3s infinite;
}
.rt-blue-be {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: #00aeef;
    opacity: 0.9;
    position: absolute;
    top: 70px;
    right: 40px;
    z-index: 20;
    -webkit-animation: lt-pink 7s ease-in-out 5s infinite; /* Chrome, Safari, Opera */
    animation: lt-pink 7s ease-in-out 5s infinite;
}
.rt-yellow-be {
    width: 160px;
    height: 160px;
    border-radius: 80px;
    background-color: #fff200;
    opacity: 0.9;
    position: absolute;
    top: 133px;
    right: 210px;
    z-index: 20;
    -webkit-animation: lt-pink 5s ease-in-out 3s infinite; /* Chrome, Safari, Opera */
    animation: lt-pink 5s ease-in-out 3s infinite;
}
.rt-red-be {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background-color: #ed1c24;
    opacity: 0.9;
    position: absolute;
    top: 285px;
    right: 100px;
    z-index: 20;
    -webkit-animation: lt-pink 10s ease-in-out 2s infinite; /* Chrome, Safari, Opera */
    animation: lt-pink 10s ease-in-out 2s infinite;
}
.rt-pink-be {
    width: 110px;
    height: 110px;
    border-radius: 55px;
    background-color: #ef326a;
    opacity: 0.9;
    position: absolute;
    top: 352px;
    right: 120px;
    z-index: 20;
    -webkit-animation: lt-pink 6s ease-in-out 5s infinite; /* Chrome, Safari, Opera */
    animation: lt-pink 6s ease-in-out 5s infinite;
}
.rt-purple-be {
    width: 178px;
    height: 178px;
    border-radius: 89px;
    background-color: #7c51a1;
    opacity: 0.9;
    position: absolute;
    top: 426px;
    right: -50px;
    z-index: 20;
    -webkit-animation: lt-pink 3s ease-in-out 2s infinite; /* Chrome, Safari, Opera */
    animation: lt-pink 3s ease-in-out 2s infinite;
}
@-webkit-keyframes lt-pink{
    0% { opacity: 0.9; transform: scale(1);}
    38% {opacity: 0.9; transform: scale(1.2);}
    40% {transform: scale(1.8); opacity: 0}
    70% { opacity: 0; transform: scale(0); }
    100% { opacity: 0.9; transform: scale(1); }
}
@keyframes lt-pink{
    0% { opacity: 0.9; transform: scale(1);}
    48% {opacity: 0.9; transform: scale(1.2);}
    50% {transform: scale(1.8); opacity: 0}
    80% { opacity: 0; transform: scale(0); }
    100% { opacity: 0.9; transform: scale(1); }
}
.error-content {
    position: absolute;
    box-sizing: border-box;
    z-index: 10;
    width: 730px;
    height: 380px;
    top: 410px;
    left: 285px;
    text-align: center;
    padding-top: 15px;
}
.error-content h1 {
    font-size: 32px;
    font-weight: normal;
    line-height: 1.2;
}
.btn-error{
    border: 4px solid #1b8813;
    background-color: #53af32;
    color: #fff;
    text-shadow: 0 3px 0 rgba(0,0,0,0.2);
    min-width: 250px;
    height: 56px;
    padding: 0 30px;
    border-radius: 28px;
    box-shadow: 0 6px 0 rgba(0,0,0,0.1);
    font-size: 24px;
    margin-top: 15px;
    font-family: 'harabara', 'YaHei', Helvetica Neue, Helvetica, sans-serif;
    letter-spacing: 1px;
}