body {
  background-color: #e0e0e0;
  font-family: Verdana, sans-serif;
}

.field-label {
    color: #848484
}

.cms-main {
    box-sizing: border-box;
    margin-top: 10px;
    border: 1px solid #dbdbdb;
    border-bottom: 3px solid #dbdbdb;
    background: white;
    padding: 5px 10px;
}


.button-div {
    float: right;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    color: white;
    background-color: #77A42F;
    min-width: 100px;
    line-height: 1.4;
    font-size: 13px;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:active , .btn-secondary:visited{
    color: white;
    background-color: #666666;
    min-width: 100px;
    line-height: 1.4;
    font-size: 13px;
}

.btn-third, .btn-third:hover, .btn-third:active, .btn-third:visited {
    color: white;
    background-color: #CC0808;
    min-width: 100px;
    line-height: 1.4;
    font-size: 13px;
}

.log-details {
    background-color: white;
    height: 500px;
    overflow-y: auto;
    overflow-x: auto;
    margin: 5px;
    padding: 5px;
    border: 1px solid #666666;
}