/*

[COLORS]
Magnolia Green: #689600
Magnolia BG Grey: #e0e0e0
 */

@font-face {
    font-family: 'VeraMono';
    src: url('../fonts/VeraMono.ttf');
}

.container-fluid.no-padding {
    padding: 0;
}

/* HEADER ELEMENTS */

.e-header {
    width: 100%;
    padding: 5px 10px;
    color: white;
    background-color: #689600;
}
.e-header h1 {
    font-size: 30px;
    margin: 10px 0;
    line-height: 1;
}

/* GENERAL ELEMENTS */

#editorView {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    background: #e0e0e0;
    height: auto;
}


#eticketView {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    background: #e0e0e0;
    height: auto;
    text-align:center;
}
.barcode-height-normal .component-barcode img {
    width: 568px;
    height: 80px;
}

.barcode-height-small .component-barcode img {
    width: 568px;
    height: 40px;
}

.fill-text-box {
    background-color: black;
    color: white;
    transform: scale(1, 1.3);
}

.text-weight-bold {
    font-weight: bold !important;
}
.text-style-italic {
    font-style: italic !important;
}

.text-size-small {
    font-family: 'VeraMono';
    font-size: 8px !important;
    letter-spacing: 1.5px;
    transform: scale(1.5, 1.8);
    transform-origin: top left;
}
.text-size-normal {
    font-family: 'VeraMono';
    font-size: 12px !important;
    letter-spacing: 2px;
    transform: scale(1.5, 1.8);
    transform-origin: top left;
}
.text-size-large {
    font-family: 'VeraMono';
    font-size: 22px !important;
    letter-spacing: 2px;
    transform: scale(1.5,1.8);
    transform-origin: top left;
}
.text-size-xlarge {
    font-family: 'VeraMono';
    font-size: 28px !important;
    letter-spacing: 2px;
    transform: scale(1.5, 1.8);
    transform-origin: top left;
}

/* DRAWING AREA ELEMENTS */

/*noinspection CssOptimizeSimilarProperties*/
.drawing-area {
    font-family: 'VeraMono','Helvetica Neue',Helvetica,Arial,sans-serif;
    width: 600px;
    height: 512px;
    margin: 20px auto;
    box-shadow: 0 0 3px #929292;

    background-color: #ffffff;
    background-image:
            linear-gradient(0deg, transparent 24%, rgba(0, 0, 0, .05) 25%, rgba(0, 0, 0, .05) 26%,
                            transparent 27%, transparent 74%, rgba(0, 0, 0, .05) 75%, rgba(0, 0, 0, .05) 76%,
                            transparent 77%, transparent),
            linear-gradient(90deg, transparent 24%, rgba(0, 0, 0, .05) 25%, rgba(0, 0, 0, .05) 26%,
                            transparent 27%, transparent 74%, rgba(0, 0, 0, .05) 75%, rgba(0, 0, 0, .05) 76%,
                            transparent 77%, transparent);
    background-size: 10px 10px;
    position: relative;
}

.drawing-area-actual {
    font-family: 'VeraMono','Helvetica Neue',Helvetica,Arial,sans-serif;
    position: relative;
    top: 10px;
    left: 10px;
    width: 580px;
    height: 492px;
    border: 1px solid #FFD5D5;
}

.drawing-area-actual * {
    box-sizing: border-box;
}

.component-wrapper {
    cursor: pointer;
    position: absolute;
    white-space: nowrap;
    top: 0px;
    left: 0px;
}

.component-wrapper.component-selected {
    border: 2px dotted #00BDE8;
}

.component-body {

}

.component-token:not(#ruler) {
    width: inherit;
}

/* CONTROL PANEL ELEMENTS */

.k-panelbar .k-content.cp-panel-body {
    padding: 5px 10px;
}

.k-panel.cp-grid-option-list .k-item {
    display: inline-block;
    width: 49%;
    text-align: center;
}

.k-panel.cp-grid-option-list .k-item .k-link {
    padding: 5px 7px;
}

.k-panel.cp-grid-option-list .k-item .k-link .k-image {
    float: none;
    margin: 4px;
}

.cp-panel-body .cp-section-message {
    padding: 45px 0;
    text-align: center;
}

.cp-panel-body .cp-form ul {
    padding: 0;
    margin: 0;
}

.cp-panel-body .cp-form ul li {
    list-style: none;
    margin: 7px 0;
    text-align: center;
}

.cp-panel-body .cp-form ul li .cp-form-label {
    display: inline-block;
    width: 30%;
    text-align: left;
}

.cp-panel-body .cp-form ul li > .k-widget, .cp-panel-body .cp-form ul li > .k-textbox, .cp-panel-body .cp-form ul li > .k-upload{
    width: 65%;
    text-align: left;
}

.cp-panel-body .cp-form ul li .k-button {
    margin: 7px 0;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg) scale(1.5,1.8);
    transform-origin: 0 0;

}

.rotate-90 {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg) scale(1.5,1.8);
    transform-origin: 0 0;

}

.rotate180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg) scale(1.5,1.8);
    transform-origin: 0 0;

}

.barcode-rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    transform-origin: 0 0;

}

.barcode-width-small .component-barcode img {
    width: 470px;
    height: 40px;
}

.font-serif {
    font-family: 'sans-serif';
}

.font-vera {
    font-family: 'VeraMono';
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.80;
    background: #aaa;
    z-index: 10;
    display: none;
}

#ruler {
    white-space: nowrap;
    border: 2px dotted #00BDE8;
    top: 0px;
    left: 0px;
}

.cke_button__import .cke_button_label {
    display: inline;
}

.cke_button__import .cke_button_icon {
    display: none;
}

.cke_button__export .cke_button_label {
    display: inline;
}

.cke_button__export .cke_button_icon {
    display: none;
}

