@import url("font-awesome/css/font-awesome.min.css");
/*----------------------Button Start---------------------*/
.btn {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    color: #ffffff;
    padding: 0.6em 1em;
    text-decoration: none;
}
.btn-primary {
    background: #f73680;
    border: 1px solid #df0d5e;
}
.btn-primary:hover {
    background: #df0d5e;
}
.btn-secondary {
    background: #179cd9;
    border: 1px solid #0484be;
}
.btn-secondary:hover {
    background: #0484be;
}
.btn-third {
    background: #666666;
    border: 1px solid #555555;
}
.btn-third:hover {
    background: #4c4c4c;
}
.btn-disabled {
    color: #bfbfbf;
    background: #dddddd;
    border: 1px solid #cccccc;
}
.btn-block {
    display: block;
}
/*----------------------Button End---------------------*/

/*----------------------Heading Start---------------------*/
h1 {
    font-size: 2.85em;
    color: #26b67c;
    font-family: 'Gotham-Medium', sans-serif;
    font-weight: 400;
}
h2 {
    font-size: 2.1em;
    color: #26b67c;
    font-family: 'Gotham-Medium', sans-serif;
    font-weight: 400;
}
h3 {
    font-size: 1.3em;
    font-family: 'Gotham-Medium', sans-serif;
    font-weight: 400;
}
h4 {
    font-size: 1.15em;
    font-weight: normal;
}
h5 {
    font-size: 1em;
    font-weight: normal;
}
/*----------------------Heading End---------------------*/

/*----------------------Heading Bar Start---------------------*/

.primary-heading-bar {
    background: #26b67c;
    padding: 0.8em;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: #ffffff;
    margin: 0;
    width: 100%;
    position: relative;
    /*font-size: 1.3em;*/
}
.secondary-heading-bar {
    background: #faa634;
    padding: 0.8em;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: #ffffff;
    width: 100%;
    margin: 0;
    /*font-size: 1.3em;*/
}
.primary-mult-heading-bar, .secondary-mult-heading-bar, .third-multi-heading-bar, .forth-multi-heading-bar {
    width: 100%;
}
.primary-multi-heading-bar td, .primary-multi-heading-bar th {
    background: #26b67c;
    padding: 0.8em;
    color: #fff;
    border: 1px solid #26b67c;
}
.primary-multi-heading-bar td.icon-expand-collapse {
    background: #06a766;
}
.secondary-multi-heading-bar td,.secondary-multi-heading-bar th {
    background: #faa634;
    padding: 0.8em;
    color: #fff;
    border: 1px solid #faa634;
}
.secondary-multi-heading-bar td.icon-expand-collapse {
    background: #f29921;
}

.third-multi-heading-bar td,.third-multi-heading-bar th {
    background: #e0e0e0;
    padding: 0.8em;
    color: #787878;
    border: 1px solid #e0e0e0;

}
.third-multi-heading-bar td.icon-expand-collapse {
    background: #c1c1c1;
}
.forth-multi-heading-bar td,.forth-multi-heading-bar th {
    background: #4d4d4d;
    padding: 0.8em;
    color: #fff;
    border: 1px solid #4d4d4d;
}


/*----------------------Heading Bar End---------------------*/

/*----------------------Table Start---------------------*/

table {
    border: none;
    border-collapse: collapse;
}
select {
    width: 10em;
}

.input-textarea, .input-text {
    border: 1px solid #b1b1b1;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    background: #ffffff;
    width: 100%;
    padding: 0.5em;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.input-file {
    width: 100%;
}
.input-checkbox {
    /*border: 1px solid #b2b2b2;
    width: 16px;
    height: 16px;*/
    margin-right: 5px;
}
.main-items, .main-items * {
    box-sizing: border-box;
}
.main-items td{
    padding: 0.8em;
    border-bottom: 1px solid #e5e5e5;
}
.main-inner-items td{
    padding: 0.8em;
    border-bottom: none;
}
.top-up-items, .top-up-items * {
    box-sizing: border-box;
}
.top-up-items {
    border-bottom: 1px solid #e5e5e5;
}
.top-up-items td {
    border-top: 1px solid #e5e5e5;
    background: #f5f5f5;
    vertical-align: middle;
    padding: 0.8em;
}


/*----------------------Table End---------------------*/

/*----------------------Attractions image size start---------------------*/
.product-size-xsmall {
    width: 112px;
    height: 78px;
}
.product-size-small {
    width: 208px;
    height: 145px;
}
.product-size-medium {
    width: 232px;
    height: 162px;
}
.product-size-large {
    width: 318px;
    height: 222px;
}

/*----------------------Attractions image size End---------------------*/

/*----------------------Hyperlink Start---------------------*/
.link-text {
    color: #179cd9;
    font-size: 0.9em;
    font-family: 'Gotham-Medium', sans-serif;
}
.link-text:hover {
    color: #0b87c0;
}

.link-big-text {
    color: #179cd9;
    font-size: 1em;
    font-family: 'Gotham-Medium', sans-serif;
}
.link-big-text:hover {
    color: #0b87c0;
}
/*----------------------Hyperlink End---------------------*/

.center {
    text-align: center;
}
.main-header-section ul, .main-header-section li, .footer ul, .footer li {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    border: none;
}
.clearfix {
    clear: both;
}
.error-section {
    width: 100%;
    border: 1px solid #ffcacc;
    background: #fff4f5;
    padding: 0.8em;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin-bottom: 0.8em;
}
.error-note {
    color: #f02f38;
    font-family: 'Gotham-Medium', sans-serif;
}
.panel {
    margin: 0 auto;
    border:1px solid #cccccc;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;  /* Opera/IE 8+ */
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}
.background {
    /* fallback */
    background-color: #f5f5f5;
    /*background-image: url(../img/linear_bg_1.png);
    background-repeat: repeat-x;*/

    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#e5e5e5));

    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #ffffff, #e5e5e5);

    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #ffffff, #e5e5e5);

    /* IE 10 */
    background: -ms-linear-gradient(top, #ffffff, #e5e5e5);

    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #ffffff, #e5e5e5);
}
.breadcrumb  {
    margin-bottom: 1em;
}

.breadcrumb .heading {
    margin-bottom: 0.2em;
}

.hightlight-remain-blue {
    font-weight: bold;
    color: blue;
    font-family: 'Gotham-Medium', sans-serif;
}

.hightlight-remain-orange {
    font-weight: bold;
    color: #ff8217;
    font-family: 'Gotham-Medium', sans-serif;
}
.highlight-title {
    color: #ff8217;
}
.highlight-attribute {
    color: #ff8217;
    font-size: 1.2em;
}
.main-content-section .even, .popup .even{
    background: #f5f5f5;
}

.terms-conditions {
    padding: 1.2em;
}
.star {
    color: red;
    font-size: 1.2em;
}
.action-container {
    margin: 1.8em 0 2.8em;
    text-align: center;
    font-size: 1.4em;
}