[#-------------- ASSIGNMENTS --------------]
[#include "/partner-portal-mflg/templates/macros/pageInit.ftl"]
[#assign pageName = model.root.content!""]
[#assign showComponents = true]
[#if pageName == 'deposit-management' || pageName == 'deposit-purchase' || pageName == 'deposit-purchase-result']
    [#if !starfn.hasRights("topupDeposits")]
        [#assign showComponents = false]
    [/#if]
[#elseif pageName == 'category' || pageName == 'cart' || pageName == 'confirm' || pageName == 'receipt']
    [#if !starfn.hasRights("purchaseTickets")]
        [#assign showComponents = false]
    [/#if]
[#elseif pageName == 'viewInventory' || pageName == 'confirm-package' || pageName == 'gen-package' || pageName == 'view-inventory-receipt' || pageName == 'view-packages']
    [#if !starfn.hasRights("viewInventory")]
        [#assign showComponents = false]
    [/#if]
[#elseif pageName == 'revalidate-receipt' || pageName == 'view-revalidate-receipt']
    [#if !starfn.hasRights("revalidateTickets")]
        [#assign showComponents = false]
    [/#if]
[#elseif pageName == 'view-reservations' || pageName == 'print-reservations' || pageName == 'wot-receipts']
    [#if !starfn.hasRights("reserveWOT")]
        [#assign showComponents = false]
    [/#if]
[#elseif pageName == 'transaction-report' || pageName == 'inventory-report' || pageName = 'package-report']
    [#if !starfn.hasRights("reports")]
        [#assign showComponents = false]
    [/#if]
[#elseif pageName = 'offlinePay-confirm-oos' || pageName == 'offlinePay-confirm' || pageName == 'offlinePay-form' || pageName == 'offlinePay-list']
    [#if !starfn.hasRights("offlinePayment")]
        [#assign showComponents = false]
    [/#if]
[#elseif pageName = 'manage-profile']
    [#if !starfn.hasRights("accMgmt")]
        [#assign showComponents = false]
    [/#if]
[#elseif pageName = 'manage-subaccount-access' || pageName == 'manage-subaccounts']
    [#if !starfn.hasRights("subAccMgmt")]
        [#assign showComponents = false]
    [/#if]
[/#if]

[#if showComponents]
    [#list components as component ]
        [@cms.component content=component /]
    [/#list]
[#else]
<h2 class="heading" style="text-align: center; margin-top: 2em;">
    You don't have permission to access this page.
</h2>
<h3 style="text-align: center; margin-bottom: 3em">Go back to the <a href="/${channel}/dashboard">home page</a>!</h3>
[/#if]