[#assign urlVersion = "?ver=1.0r002"]

<div class="background login-header">
    <a class="logo" href="/"><img src="${ctx.contextPath}/resources/partner-portal-mflg/theme/default/img/logo-sentosaB2B.png${urlVersion}" alt="Sentosa THE STATE OF FUN"/></a>
</div>