.spinner-overlay{
    position:fixed;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    text-align:center;
    z-index:9999999;
    overflow:auto;
    background:#000 transparent;
    background:rgba(0,0,0,0.6);
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)"
}

/********** SY styles */



/********** J styles */

.product-item-name {
    font-weight: bold;
    font-size: 1.1em;
}

.required-ind {
    color: red;
}

.alert {
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #FCF8E3;
    border: 1px solid #FBEED5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.alert-error {
    background-color: #F2DEDE;
    border-color: #EED3D7;
    color: #B94A48;
}

.the-select {
    display: inline-block;
    padding: 4px 6px;
    margin-bottom: 0px;
    font-size: 14px;
    color: #555;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    vertical-align: middle;
    height: 30px;
    line-height: 30px;
    width: 100%;
    border: 1px solid #CCC;
    background-color: #FFF;
    cursor: pointer;
}

.filter-section-content th, .filter-section-content td {
    padding: 0.3em;
}

.product-filter {
    border: 0.13em solid #DADADA;
    padding: 20px;
    overflow: auto;
    box-sizing: border-box;
    height: 15em;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #ffffff;
}

.prod-row {

}

.prod-row .prod-chk {
    display: inline-block;
    width: 5%;
    text-align: center;
    vertical-align: top;
}

.prod-row .prod-content {
    display: inline-block;
    width: 90%;
    vertical-align: top;
    margin: 5px 0;
}

.prod-content .item-sect {

}

.item-sect .item-chk {
    display: inline-block;
    width: 5%;
    text-align: center;
    vertical-align: top;
}

.item-sect .item-name {
    display: inline-block;
    width: 90%;
    vertical-align: top;
    margin: 5px 0;
}

/* Banner */

.highlight-section {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 960px;
    height: 284px;
}

.highlight-section .sequence-prev, .highlight-section .sequence-next {
    display: none;
    position: absolute;
    z-index: 99;
    top: 120px;
    cursor: pointer;

    -moz-opacity: 0.5;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity= 50)";
    filter: alpha(opacity=50);
}
.highlight-section:hover .sequence-prev, .highlight-section:hover .sequence-next {
    display: block;
}
.sequence-prev:hover, .sequence-next:hover {
    -moz-opacity: 0.9;
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity= 90)";
    filter: alpha(opacity=90);
}
.sequence-prev {
    left: 0;
}
.sequence-next {
    right: 0;
}
ul.sequence-canvas {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
ul.sequence-canvas li {
    position: absolute;
    z-index: 1;
}
ul.sequence-canvas .promotion-1 {
    -moz-opacity: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity= 0)";
    filter: alpha(opacity=0);
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}
ul.sequence-canvas .animate-in .promotion-1 {
    -moz-opacity: 1;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;

}
ul.sequence-canvas .animate-out .promotion-1 {
    -moz-opacity: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}
.slideshow-slides {
    position: relative;
    width: 317px;
    height: 242px;
}

/* Product listing and form */

.expand-product-details-container {
    padding-bottom: 1em;
    width: 100%;
}

.expand-product-details {
    position: relative;
}

.date-input {
    text-align: right;
    margin: 1em 0;
}
.book-event-date {
    border: 1px solid #D1D1D1;
    font-size: 18px;
    width: 15em;
    padding: 0.5em;
    height: 34px;
    line-height: 1;
}
.product-list-content-container {
    width: 100%;
}
.product-list-content-container .product-cell {
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.main-content-section .items-spacing .product-cell {
    padding: 4px;
}
.product-list-content-container .product-cell .product-content {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-decoration: none;
    cursor: pointer;
}
.product-list-content-container .product-content .main-image {
    width:100%;
    height:100%;
}
.product-list-content-container .product-cell a .product-title {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.6em;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: black;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";/*IE8*/
    filter: alpha(opacity=70); /*IE 5-7*/
    opacity: 0.7;
    color: #fff;
    margin: 0;
    z-index: 99;
}
.product-list-content-container .product-cell a:hover .product-title {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";/*IE8*/
    filter: alpha(opacity=100); /*IE 5-7*/
    opacity: 1;
}
.product-list-content-container .product-cell a img.icon-exclusive {
    position: absolute;
    z-index: 99;
    top: 1em;
    left: 1em;
}

.sidebar-product-details {
    position: relative;
}

.sidebar-product-details .add-successful-pop-up {
    top: 40%;
}

.sidebar-product-details .main-items .main-inner-items td {
    font-size: 13px;
    padding: 0.4em;
}
.sidebar-product-details .main-inner-items td {
    padding: 0.4em;
}
.sidebar-product-details .top-up-items {
    font-size: 13px;
}
.sidebar-product-details .top-up-items td {
    padding: 0.4em;
}

.sidebar-slideshow .add-successful-pop-up {
    position: relative;
    width: 100%;
    top: auto;
    left: auto;
    font-size: 1em;
}
.add-successful-pop-up img {
    width: 2.6em;
    height: 2.6em;
    float:left;
    margin-right: 1em;
}
.add-successful-pop-up span {
    float: left;
}

.close-section .icon-close, .btn {
    cursor: pointer;
}

/* Confirmation Page */

p.countdown {
    float: right;
    font-size: 1.2em;
    color: red;
    line-height: 3em;
}

/**EVENT**/
.main-tickets-section .star-event-booking-section .picker__table tr th {
    border-bottom: 0;
    font-size: 0.75em;
    color: #999;
    padding-bottom: 0.5em;
    background-color: #ffffff;
    text-align: center;
}

.main-tickets-section .star-event-booking-section .picker__table tr td,  .main-tickets-section .star-event-booking-section .picker__table tr td {
    text-align: center;
    padding: 0;
}

.sebs-btn-select, .sebs-btn-cancel {
    display: block;
    text-align: center;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9em;
    padding: 0 0.84em;
    height: 28px;
    line-height: 28px;
    /** width: 40px;**/
}

.sebs-btn-select {
    background-color: #1ca9ea;
    border: 1px solid #1ca9ea;
    color: #fff;
    text-decoration: none;
}

.sebs-btn-cancel {
    background-color: #E2F4FF;
    border: 1px solid #1ca9ea;
    color: #1ca9ea;
    text-decoration:none;
}

.star-event-booking-section {
    border: 1px solid #1ca9ea;
    background: #f7fdff;
    border-radius: 2px;
    padding: 7px 7px;
}

.star-event-booking-section .seb-subsection {
}
.seb-subsection .sebs-label {
    font-size: 0.85em;
    color: grey;
    padding: 0 0 3px 3px;
}
.seb-subsection .sebs-input {
    padding: 0.42em;
}
.seb-subsection select {
    height: 30px;
    border-radius: 1px;
    background-color: white;
}
.star-event-booking-section .seb-subsection-date {
    display: inline-block;
    width: 35%;
}
.star-event-booking-section .seb-subsection-session {
    display: inline-block;
    width: 51%;
}
.star-event-booking-section .seb-subsection-qty {
    display: inline-block;
    width: 11%;
}


/**Booking*/
.main-tickets-section .main-items td {
    border-bottom: none;
}

/*reservations*/
.reservation-charge-info {
    color: red;
    text-align: center;
    margin: 25px auto;
    font-weight: bold;
}